<template>
    <div>
        <!--位置-->
        <div class="site">
            <a href="index.html">首页</a><span class="site_next">></span><a href="calculator_1.html">集料筛分试验</a>
        </div>

        <!--保存-->
        <div id="save_area" v-if="save_area_visible">
            <div class="save_bg">
                <a href="##" class="save_btn">
                    <span class="save_btn_text">保存为PDF</span>
                    <span class="save_btn_icon"><img class="save_btn_icon_pdf" src="icon/pdf.jpg"></span>
                </a>
                <a href="##" class="save_btn">
                    <span class="save_btn_text">保存为Word</span>
                    <span class="save_btn_icon"><img class="save_btn_icon_pdf" src="icon/word.jpg"></span>
                </a>
                <a href="##" class="save_btn">
                    <span class="save_btn_text">保存为Excel</span>
                    <span class="save_btn_icon"><img class="save_btn_icon_pdf" src="icon/excel.jpg"></span>
                </a>
                <a href="##" class="save_btn">
                    保存到我的记录
                </a>
            </div>
            <a href="##" class="save_btn_close save_btn" style="margin-top: 60px;" id="save_close"
               @click="save_area_visible=false">取消</a>
            <div class="floatLayer"></div>
        </div>

        <!--内容区域-->
        <div class="content">

            <div class="calculator_tlt">
                <div class="calculator_tlt_left">
                    <a href="##" class="calculator_btn">导入</a>
                    <a href="##" class="calculator_btn calculator_btn_green">计算</a>
                    <a href="##" class="calculator_btn" id="save" @click="save_area_visible=true">保存</a>
                </div>
                <div class="calculator_tlt_right">
                    <a href="##" class="calculator_btn">下载模版</a>
                    <a href="##" class="calculator_btn">新建表</a>
                </div>
            </div>


            <div class="excel_operate" v-for="table in excelData.tableList">
                <a href="##" class="calculator_btn calculator_btn_red">删除表</a>
                <a href="##" class="calculator_btn calculator_btn_red">清空数据</a>
                <a href="##" class="calculator_btn calculator_btn_orange">删除行</a>
                <a href="##" class="calculator_btn">新增行</a>
                <table class="table_01">
                    <tr>
                        <th colspan="4">集料筛分试验</th>
                        <th colspan="4" class="bg_b"><input type="text" v-model="table.title" class="table_input"></th>
                        <th colspan="2">表{{table.index}}</th>
                    </tr>
                    <tr>
                        <th colspan="8">矿粉</th>
                        <th colspan="2">水筛法</th>
                    </tr>
                    <tr>
                        <td colspan="1"></td>
                        <td colspan="4">第一组</td>
                        <td colspan="4">第二组</td>
                        <td colspan="1" rowspan="4">平均</td>
                    </tr>
                    <tr>
                        <td colspan="1">m3</td>
                        <td colspan="4" class="bg_g"><input type="number" v-model="4200.0" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" v-model="4278.4" class="table_input"></td>
                    </tr>
                    <tr>
                        <td colspan="1">m4</td>
                        <td colspan="4" class="bg_g"><input type="number" v-model="3991.6" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" v-model="4177.5" class="table_input"></td>
                    </tr>
                    <tr>
                        <td colspan="1">P0.075</td>
                        <td colspan="4" class="bg_y">208.4</td>
                        <td colspan="4" class="bg_y">100.9</td>
                    </tr>
                    <tr>
                        <td colspan="1">m0.075</td>
                        <td colspan="4" class="bg_y">5.022</td>
                        <td colspan="4" class="bg_y">2.415</td>
                        <td colspan="1" class="bg_y">3.7</td>
                    </tr>
                    <tr>
                        <td width="10%">筛孔尺寸<br>（mm）</td>
                        <td width="10%">筛上重<br>（g）</td>
                        <td width="10%">分计筛余<br>(％)</td>
                        <td width="10%">累计筛余<br>(％)</td>
                        <td width="10%">通过百分率<br>（％）</td>
                        <td width="10%">筛上重<br>（g）</td>
                        <td width="10%">分计筛余<br>(％)</td>
                        <td width="10%">累计筛余<br>(％)</td>
                        <td width="10%">通过百分率<br>（％）</td>
                        <td width="10%">平均值</td>
                    </tr>
                    <tr>
                        <td>37.5</td>
                        <td class="bg_g"><input type="number" v-model="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>31.5</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>26.5</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>13.2</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>9.5</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>4.75</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>2.36</td>
                        <td class="bg_g"><input type="number" value="91.0" class="table_input"></td>
                        <td class="bg_y">15.4</td>
                        <td class="bg_y">15.4</td>
                        <td class="bg_y">84.6</td>
                        <td class="bg_g"><input type="number" value="86.7" class="table_input"></td>
                        <td class="bg_y">15.2</td>
                        <td class="bg_y">15.2</td>
                        <td class="bg_y">84.8</td>
                        <td class="bg_y">84.7</td>
                    </tr>
                    <tr>
                        <td>1.18</td>
                        <td class="bg_g"><input type="number" value="180.6" class="table_input"></td>
                        <td class="bg_y">30.6</td>
                        <td class="bg_y">46.0</td>
                        <td class="bg_y">54.0</td>
                        <td class="bg_g"><input type="number" value="183.1" class="table_input"></td>
                        <td class="bg_y">32.1</td>
                        <td class="bg_y">47.3</td>
                        <td class="bg_y">52.7</td>
                        <td class="bg_y">53.4</td>
                    </tr>
                    <tr>
                        <td>0.6</td>
                        <td class="bg_g"><input type="number" value="123.9" class="table_input"></td>
                        <td class="bg_y">21.0</td>
                        <td class="bg_y">67.0</td>
                        <td class="bg_y">33.0</td>
                        <td class="bg_g"><input type="number" value="119.1" class="table_input"></td>
                        <td class="bg_y">20.9</td>
                        <td class="bg_y">68.1</td>
                        <td class="bg_y">31.9</td>
                        <td class="bg_y">32.4</td>
                    </tr>
                    <tr>
                        <td>0.3</td>
                        <td class="bg_g"><input type="number" value="53.7" class="table_input"></td>
                        <td class="bg_y">9.1</td>
                        <td class="bg_y">76.1</td>
                        <td class="bg_y">23.9</td>
                        <td class="bg_g"><input type="number" value="50.1" class="table_input"></td>
                        <td class="bg_y">8.8</td>
                        <td class="bg_y">76.9</td>
                        <td class="bg_y">23.1</td>
                        <td class="bg_y">23.5</td>
                    </tr>
                    <tr>
                        <td>0.15</td>
                        <td class="bg_g"><input type="number" value="53.7" class="table_input"></td>
                        <td class="bg_y">9.1</td>
                        <td class="bg_y">76.1</td>
                        <td class="bg_y">23.9</td>
                        <td class="bg_g"><input type="number" value="50.1" class="table_input"></td>
                        <td class="bg_y">8.8</td>
                        <td class="bg_y">76.9</td>
                        <td class="bg_y">23.1</td>
                        <td class="bg_y">23.5</td>
                    </tr>
                    <tr>
                        <td>0.075</td>
                        <td class="bg_g"><input type="number" value="55.5" class="table_input"></td>
                        <td class="bg_y">9.4</td>
                        <td class="bg_y">93.7</td>
                        <td class="bg_y">6.3</td>
                        <td class="bg_g"><input type="number" value="55.4" class="table_input"></td>
                        <td class="bg_y">9.7</td>
                        <td class="bg_y">94.7</td>
                        <td class="bg_y">5.3</td>
                        <td class="bg_y">5.8</td>
                    </tr>
                    <tr>
                        <td>筛底</td>
                        <td colspan="4" class="bg_g"><input type="number" value="37.1" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" value="30.0" class="table_input"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>干筛后总量</td>
                        <td colspan="2" class="bg_g"><input type="number" value="37.1" class="table_input"></td>
                        <td colspan="2" class="bg_y">37.1</td>
                        <td colspan="2" class="bg_g"><input type="number" value="37.1" class="table_input"></td>
                        <td colspan="2" class="bg_y">37.1</td>
                        <td class="bg_g"></td>
                    </tr>
                    <tr>
                        <td>损耗</td>
                        <td colspan="4" class="bg_g"><input type="number" value="0.1" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" value="1.3" class="table_input"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>损耗率</td>
                        <td colspan="4" class="bg_g"><input type="number" value="0.00" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" value="0.03" class="table_input"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>扣除损耗后总量</td>
                        <td colspan="4" class="bg_g"><input type="number" value="4199.9" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" value="4277.1" class="table_input"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td colspan="9">两次试验的矿粉各筛孔通过率之差分别不超过2%。</td>
                    </tr>
                </table>
            </div>


            <div class="excel_operate">
                <table class="table_01">
                    <tr>
                        <th colspan="4">集料筛分试验结果汇总表</th>
                        <th colspan="4" class="bg_b"><input type="text" value="京新高速公路工程集料筛分试验结果汇总表" class="table_input">
                        </th>
                        <th colspan="2">表6</th>
                    </tr>
                    <tr>
                        <td width="10%" rowspan="2">筛孔尺寸<br>（mm）</td>
                        <td width="10%">筛上重<br>（g）</td>
                        <td width="10%">分计筛余<br>(％)</td>
                        <td width="10%">累计筛余<br>(％)</td>
                        <td width="10%">通过百分率<br>（％）</td>
                        <td width="10%">筛上重<br>（g）</td>
                        <td width="10%">分计筛余<br>(％)</td>
                        <td width="10%">累计筛余<br>(％)</td>
                        <td width="10%">通过百分率<br>（％）</td>
                        <td width="10%">平均值</td>
                    </tr>
                    <tr>
                        <td>37.5</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>31.5</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>26.5</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>13.2</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>9.5</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>4.75</td>
                        <td class="bg_g"><input type="number" value="0.0" class="table_input"></td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_g">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">0.0</td>
                        <td class="bg_y">100.0</td>
                        <td class="bg_y">100</td>
                    </tr>
                    <tr>
                        <td>2.36</td>
                        <td class="bg_g"><input type="number" value="91.0" class="table_input"></td>
                        <td class="bg_y">15.4</td>
                        <td class="bg_y">15.4</td>
                        <td class="bg_y">84.6</td>
                        <td class="bg_g"><input type="number" value="86.7" class="table_input"></td>
                        <td class="bg_y">15.2</td>
                        <td class="bg_y">15.2</td>
                        <td class="bg_y">84.8</td>
                        <td class="bg_y">84.7</td>
                    </tr>
                    <tr>
                        <td>1.18</td>
                        <td class="bg_g"><input type="number" value="180.6" class="table_input"></td>
                        <td class="bg_y">30.6</td>
                        <td class="bg_y">46.0</td>
                        <td class="bg_y">54.0</td>
                        <td class="bg_g"><input type="number" value="183.1" class="table_input"></td>
                        <td class="bg_y">32.1</td>
                        <td class="bg_y">47.3</td>
                        <td class="bg_y">52.7</td>
                        <td class="bg_y">53.4</td>
                    </tr>
                    <tr>
                        <td>0.6</td>
                        <td class="bg_g"><input type="number" value="123.9" class="table_input"></td>
                        <td class="bg_y">21.0</td>
                        <td class="bg_y">67.0</td>
                        <td class="bg_y">33.0</td>
                        <td class="bg_g"><input type="number" value="119.1" class="table_input"></td>
                        <td class="bg_y">20.9</td>
                        <td class="bg_y">68.1</td>
                        <td class="bg_y">31.9</td>
                        <td class="bg_y">32.4</td>
                    </tr>
                    <tr>
                        <td>0.3</td>
                        <td class="bg_g"><input type="number" value="53.7" class="table_input"></td>
                        <td class="bg_y">9.1</td>
                        <td class="bg_y">76.1</td>
                        <td class="bg_y">23.9</td>
                        <td class="bg_g"><input type="number" value="50.1" class="table_input"></td>
                        <td class="bg_y">8.8</td>
                        <td class="bg_y">76.9</td>
                        <td class="bg_y">23.1</td>
                        <td class="bg_y">23.5</td>
                    </tr>
                    <tr>
                        <td>0.15</td>
                        <td class="bg_g"><input type="number" value="53.7" class="table_input"></td>
                        <td class="bg_y">9.1</td>
                        <td class="bg_y">76.1</td>
                        <td class="bg_y">23.9</td>
                        <td class="bg_g"><input type="number" value="50.1" class="table_input"></td>
                        <td class="bg_y">8.8</td>
                        <td class="bg_y">76.9</td>
                        <td class="bg_y">23.1</td>
                        <td class="bg_y">23.5</td>
                    </tr>
                    <tr>
                        <td>0.075</td>
                        <td class="bg_g"><input type="number" value="55.5" class="table_input"></td>
                        <td class="bg_y">9.4</td>
                        <td class="bg_y">93.7</td>
                        <td class="bg_y">6.3</td>
                        <td class="bg_g"><input type="number" value="55.4" class="table_input"></td>
                        <td class="bg_y">9.7</td>
                        <td class="bg_y">94.7</td>
                        <td class="bg_y">5.3</td>
                        <td class="bg_y">5.8</td>
                    </tr>
                    <tr>
                        <td>筛底</td>
                        <td colspan="4" class="bg_g"><input type="number" value="37.1" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" value="30.0" class="table_input"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>干筛后总量</td>
                        <td colspan="2" class="bg_g"><input type="number" value="37.1" class="table_input"></td>
                        <td colspan="2" class="bg_y">37.1</td>
                        <td colspan="2" class="bg_g"><input type="number" value="37.1" class="table_input"></td>
                        <td colspan="2" class="bg_y">37.1</td>
                        <td class="bg_g"></td>
                    </tr>
                    <tr>
                        <td>损耗</td>
                        <td colspan="4" class="bg_g"><input type="number" value="0.1" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" value="1.3" class="table_input"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>损耗率</td>
                        <td colspan="4" class="bg_g"><input type="number" value="0.00" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" value="0.03" class="table_input"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>扣除损耗后总量</td>
                        <td colspan="4" class="bg_g"><input type="number" value="4199.9" class="table_input"></td>
                        <td colspan="4" class="bg_g"><input type="number" value="4277.1" class="table_input"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td colspan="9">两次试验的矿粉各筛孔通过率之差分别不超过2%。</td>
                    </tr>
                </table>
            </div>


            <div class="excel_echarts_1">
                图表
            </div>

            <table class="table_01">
                <tr>
                    <td>相关说明</td>
                    <td colspan="6">
                        <p class="explain"></p>
                        <p class="explain"></p>
                        <p class="explain"></p>
                        <p class="explain"></p>
                        <p class="explain"></p>
                        <p class="explain"></p>
                        <p class="explain"></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="">实验人与记录人</td>
                    <td class="bg_g"><input type="text" value="" class="table_input" placeholder="实验人"></td>
                    <td class="bg_g"><input type="text" value="" class="table_input" placeholder="记录人"></td>
                    <td>日期</td>
                    <td class="bg_g"><input type="date" value="实验人" class="table_input"></td>
                    <td>备注</td>
                    <td class="bg_g" width="30%"><input type="text" value="" class="table_input" placeholder="填写备注">
                    </td>
                </tr>
                <tr>
                    <td colspan="">审核人</td>
                    <td colspan="2" class="bg_g"></td>
                    <td>日期</td>
                    <td class="bg_g"></td>
                    <td>备注</td>
                    <td class="bg_g"><input type="text" value="" class="table_input" placeholder="填写备注"></td>
                </tr>
                <tr>
                    <td colspan="">批准人</td>
                    <td colspan="2" class="bg_g"></td>
                    <td>日期</td>
                    <td class="bg_g"></td>
                    <td>备注</td>
                    <td class="bg_g"><input type="text" value="" class="table_input" placeholder="填写备注"></td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'jlsfsy',
    data: function () {
      return {
        save_area_visible: false,
        excelData: {
          tableList: [
            {
              // title
              title: '京新高速公路工程矿粉筛分试验',
              index: 1,
              // 矿粉
              m3: [4200.0, 4278.4],
              m4: [3991.6, 4177.5],
              m0_075: [208.4, 100.9],
              P0_075: [5.0, 2.415],
              P0_075_ava: 2.6,
              // 新增行
              lineList: [
                {
                  shaiKongChiCun: 37.5, groupData: [
                    {shaiShangZhong: 0.0, fenJiShaiYu: 0.000, leiJiShaiYu: 0.000, tongGuoBaiFenBi: 100},
                    {shaiShangZhong: 0.0, fenJiShaiYu: 0.000, leiJiShaiYu: 0.000, tongGuoBaiFenBi: 100}
                  ]
                }
              ],
              // 筛底m底
              shaiDiMDi: [37.1, 30.0],
              ganShaiHouZongLiang: [
                {shaiShangZhong: 3991.5, fenJiShaiYu: 94.978, xiDuMoShu: 0.000},
                {shaiShangZhong: 4176.2, fenJiShaiYu: 97.585, xiDuMoShu: 0.000},
              ],
              sunHao: [0.1, 1.3],
              sunHaoLv: [0.00, 0.03],
              kouChuSunHaoHouZongLiang: [4199.9, 4277.1],
              zhu: 'm3-用于水洗的干燥细集料总质量（g）;m4-水洗后的干燥细集料总质量（g）;m0.075-细集料中水洗得到的小于0.075mm部' +
                '分的质量（g）;P0.075-细集料中小于0.075mm部分的质量（g）。',
              beiZhu: '两次试验的细集料损耗率之差不能超过1；细度模数之差不能超过0.2.'
            }
          ]
        }
      }
    }
  }
</script>

<style scoped>

</style>
