﻿body{
	width: 100%;
	height: 100%;
	background: #3283ac url(../img/login_bg.jpg) no-repeat center center;
}

.login_top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: #426374;
	width: 100%;
	height: 60px;
	color: #ffffff;
	padding-left: 30px;
	line-height: 60px;
	font-size: 30px;
}

.login_bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 78px;
	background: #426374;
	color: #ffffff;
	border-top: solid 1px #e8e8e8;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	padding-top: 18px;
}
.login_bottom a{
	color: #ffffff;
	transition: all 0.4s;
}
.login_bottom a:hover{
	color: #081D3A;
}
.login_bg {
	width: 50%;
	height: 100%;
	float: left;
}
.news_bg{
	width: 50%;
	height: 100%;
	float: left;
}

.login {
	float: right;
	width: 618px;
	height: 360px;
	border: solid 1px #ffffff;
	background: #ffffff10;
	margin-top: 240px;
	padding-top: 48px;
}

.login_input {
	width: 360px;
	height: 42px;
	line-height: 42px;
	color: #333333;
	font-size: 16px;
	padding-left: 12px;
	float: left;
	border:solid 1px #dddddd;
}

.login_icon {
	width: 42px;
	height: 42px;
	float: left;
	margin:0 18px 0 90px;
}
.login_icon_user{
	background: url(../icon/user.png) no-repeat center center;
}
.login_icon_passerword{
	background: url(../icon/passerword.png) no-repeat center center;
}
.login_icon_code{
	background: url(../icon/code.png) no-repeat center center;
}

.login_input_bg {
	display: block;
	overflow: hidden;
	margin-bottom: 18px;
}

.login_input_code {
	width: 150px;
}

.login_code {
	width: 90px;
	height: 42px;
	background: #ffffff;
	float: left;
	margin-left: 6px;
}

.login_code_a {
	color: #333333;
	line-height: 42px;
	margin-left: 12px;
}
.login_code_a:hover{
	color: #426374;
}

.rememb_password {
	margin-left: 150px;
	width: 16px;
	height: 16px;
}

.login_login {
	width: 360px;
	height: 48px;
	background: #5eb95e;
	color: #ffffff;
	display: block;
	margin-left: 150px;
	font-size: 16px;
	line-height: 48px;
	border-radius: 4px;
	text-align: center;
	margin-top: 42px;
}
