<template>
    <div>
        <template>
            <section ref="print">
                <!--位置-->
                <div class="site">
                    <a href="#/">首页</a><span class="site_next">></span><a href="#/jlmdsy_xrlpf">集料密度试验（细容量瓶法）</a>
                </div>
                <div class="no-print">
                    <!--保存-->
                    <div id="save_area" v-if="save_area_visible">
                        <div class="save_bg">
                            <!--                <a v-print="'#print'" class="save_btn" >-->
                            <a @click="print" class="save_btn">
                                <!--                    <a class="save_btn" >-->
                                <span class="save_btn_text">保存为PDF</span>
                                <span class="save_btn_icon"><img class="save_btn_icon_pdf" src="~@/assets/icon/pdf.jpg"></span>
                            </a>
                            <iframe id="print1" src="" width="0" height="0" frameborder="0"></iframe>
                            <a @click="saveWord" class="save_btn">
                                <span class="save_btn_text">保存为Word</span>
                                <span class="save_btn_icon"><img class="save_btn_icon_pdf"
                                                                 src="~@/assets/icon/word.jpg"></span>
                            </a>
                            <a @click="saveExcel" class="save_btn">
                                <span class="save_btn_text">保存为Excel</span>
                                <span class="save_btn_icon"><img class="save_btn_icon_pdf"
                                                                 src="~@/assets/icon/excel.jpg"></span>
                            </a>
                            <a @click="saveMyRecord" class="save_btn">
                                保存到我的记录
                            </a>
                        </div>
                        <a class="save_btn_close save_btn" style="margin-top: 60px;" id="save_close"
                           @click="save_area_visible=false">取消</a>
                        <div class="floatLayer"></div>
                    </div>
                </div>
                <!--内容区域-->
                <div class="content" id="print">
                    <div class="no-print">
                        <div class="calculator_tlt">
                            <div class="calculator_tlt_left">
                                <a @click="uploadTemplateHandle" class="calculator_btn">导入</a>
                                <a class="calculator_btn" id="save" @click="save_area_visible=true">保存</a>
                            </div>
                            <div class="calculator_tlt_right">
                                <a class="calculator_btn" :href="template_download_link">下载模版</a>
                            </div>
                        </div>
                    </div>

                    <upload-excel v-if="uploadExcelVisible" ref="uploadExcel"
                                  @excelResult="readExcelResult"
                    ></upload-excel>

                    <div class="excel_operate">
                        <div class="no-print">
                            <a @click="clearTable('kfmdsyTable')" class="calculator_btn calculator_btn_red">清空数据</a>
                        </div>
                        <div id="kfmdsyTablePrint">
                            <table class="table_01" id="kfmdsyTable">
                                <tr>
                                    <td colspan=8 class="bg_b">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.title}}</span>
                                        <input @focus="$event.target.select()" type="text"
                                               class="table_input"
                                               v-model="excelData.kfmdsyTable.title"/>
                                    </td>
                                </tr>
                                <tr>

                                    <td colspan="1">试验单位</td>
                                    <td colspan="2" class="bg_b">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.manufacturers}}</span>
                                        <input type="text" v-model="excelData.kfmdsyTable.manufacturers"
                                               class="table_input">
                                    </td>
                                    <td colspan="1">规格</td>
                                    <td colspan="1" class="bg_b">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.subTitle}}</span>
                                        <input type="text" v-model="excelData.kfmdsyTable.subTitle" class="table_input">
                                    </td>
                                    <td colspan="1">试验方法</td>
                                    <td colspan="2">李氏比重瓶法</td>
                                </tr>
                                <tr>
                                    <td colspan=8>矿粉密度试验
                                    </td>
                                </tr>
                                <tr>
                                    <td>试验编号</td>
                                    <td>m<sub>1</sub></td>
                                    <td>m<sub>2</sub></td>
                                    <td>v<sub>1</sub></td>
                                    <td>v<sub>2</sub></td>
                                    <td>γ<sub>f</sub></td>
                                    <td>平均</td>
                                    <td>γ<sub>f</sub>误差要求&lt;0.01</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.test_1.m_1}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="excelData.kfmdsyTable.test_1.m_1"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.test_1.m_2}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="excelData.kfmdsyTable.test_1.m_2"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.test_1.v_1}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="excelData.kfmdsyTable.test_1.v_1"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.test_1.v_2}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="excelData.kfmdsyTable.test_1.v_2"/></td>
                                    <td class="bg_y">
                                        <span>{{isNaN(excelData.kfmdsyTable.test_1.r_f) ? '':  excelData.kfmdsyTable.test_1.r_f ==null || excelData.kfmdsyTable.test_1.r_f == ''  ?  '':excelData.kfmdsyTable.test_1.r_f.toFixed(3)}} </span>
                                    </td>
                                    <td rowspan=2 class="bg_y">{{isNaN(excelData.kfmdsyTable.ava)? '' :
                                        excelData.kfmdsyTable.ava == null || excelData.kfmdsyTable.ava =='' ? '' :
                                        excelData.kfmdsyTable.ava.toFixed(3)}}
                                    </td>
                                    <td rowspan=2 class="bg_y">{{isNaN(excelData.kfmdsyTable.diff)? '' :
                                        excelData.kfmdsyTable.diff == null || excelData.kfmdsyTable.diff =='' ? '' :
                                        excelData.kfmdsyTable.diff.toFixed(3)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.test_2.m_1}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="excelData.kfmdsyTable.test_2.m_1"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.test_2.m_2}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="excelData.kfmdsyTable.test_2.m_2"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.test_2.v_1}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="excelData.kfmdsyTable.test_2.v_1"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{excelData.kfmdsyTable.test_2.v_2}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="excelData.kfmdsyTable.test_2.v_2"/></td>
                                    <td class="bg_y">{{isNaN(excelData.kfmdsyTable.test_2.r_f) ? '':
                                        excelData.kfmdsyTable.test_2.r_f ==null || excelData.kfmdsyTable.test_2.r_f ==
                                        '' ? '':excelData.kfmdsyTable.test_2.r_f.toFixed(3)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=8 rowspan=2>
                                        <div style="text-align: left">注：m<sub>1</sub>-为牛角匙、瓷皿、漏斗及试验前瓷器中矿粉的干燥质量(g)；m<sub>2</sub>-为牛角匙、瓷皿、漏斗及试验后瓷器中矿粉的干燥质量(g)；v<sub>1</sub>-加矿粉以前比重瓶的初读书（mL）；v<sub>2</sub>-加矿粉以后比重瓶的终读书（mL）；γ<sub>f</sub>-矿粉对水的相对密度，无量纲；
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                </tr>
                                <tr>
                                    <td colspan=8>
                                        <div style="text-align: left">
                                            备注：同一试样应平行试验两次，取平均值作为试验结果，两次试验结果的差值不得大于0.01g/cm³。
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="excel_operate">
                        <div class="no-print">
                            <a @click="clearTable('rlpfTable')" class="calculator_btn calculator_btn_red">清空数据</a>
                            <a @click="pushLine('rlpfTable')" class="calculator_btn">新增行</a>
                            <a @click="popLine(1)" class="calculator_btn calculator_btn_orange">删除行</a>
                        </div>
                        <table class="table_01" id="rlpfTable">
                            <tr>
                                <td colspan=8 class="bg_b">
                                    <span v-if="exportExcel">{{excelData.rlpfTable.title}}</span>
                                    <input @focus="$event.target.select()" type="text"
                                           class="table_input"
                                           v-model="excelData.rlpfTable.title"/>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="1">试验单位</td>
                                <td colspan="2" class="bg_b">
                                    <span v-if="exportExcel">{{excelData.rlpfTable.manufacturers}}</span>
                                    <input type="text" v-model="excelData.rlpfTable.manufacturers" class="table_input">
                                </td>
                                <td colspan="1">规格</td>
                                <td colspan="1" class="bg_b">
                                    <span v-if="exportExcel">{{excelData.rlpfTable.subTitle}}</span>
                                    <input type="text" v-model="excelData.rlpfTable.subTitle" class="table_input">
                                </td>
                                <td colspan="1">试验方法</td>
                                <td colspan="2">容量瓶法</td>
                            </tr>
                            <tr>
                                <td colspan=8>细集料密度试验（容量瓶法）
                                </td>
                            </tr>
                            <tr>
                                <td>细集料规格</td>
                                <td>试验编号</td>
                                <td>m<sub>0</sub></td>
                                <td>m<sub>1</sub></td>
                                <td>m<sub>2</sub></td>
                                <td><span> </span>γ<sub>a</sub></td>
                                <td>平均</td>
                                <td>γ<sub>a</sub>误差要修&lt;0.01</td>
                            </tr>
                            <template v-for="(xjlgg,i) in excelData.rlpfTable.xjlgg">
                                <tr>
                                    <td rowspan=2 class="bg_b">
                                        <!--                                &lt;!&ndash; <span v-if="exportExcel">{{xjlgg.xjlgg}}</span>-->
                                        <!--                                <input @focus="$event.target.select()" type="option" class="table_input" v-model="xjlgg.xjlgg"/>-->

                                        <span v-if="exportExcel">{{xjlgg.xjlgg}}</span>
                                        <input @focus="$event.target.select()" type="text" class="table_input"
                                               v-model="xjlgg.xjlgg"/>


                                        <!--                                    <el-select v-model="xjlgg.value" placeholder="最大值" @change="finemax($event,i + 10000)">-->
                                        <!--                                        <el-option-->
                                        <!--                                            v-for="item in options"-->
                                        <!--                                            :key="item.value"-->
                                        <!--                                            :label="item.label"-->
                                        <!--                                            :value="item.value"-->
                                        <!--                                            :disabled="item.disabled">-->
                                        <!--                                        </el-option>-->
                                        <!--                                    </el-select>-->

                                        <!--                                    <el-select v-model="xjlgg.value2" placeholder="最小值" @change="finemin($event,i + 20000)">-->
                                        <!--                                        <el-option-->
                                        <!--                                            v-for="item in options"-->
                                        <!--                                            :key="item.value"-->
                                        <!--                                            :label="item.label"-->
                                        <!--                                            :value="item.value">-->
                                        <!--                                        </el-option>-->
                                        <!--                                    </el-select>-->


                                    </td>
                                    <td>{{excelData.rlpfTable.xjlgg.length - i}}-1</td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{xjlgg.test_1.m_0}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="xjlgg.test_1.m_0"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{xjlgg.test_1.m_1}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="xjlgg.test_1.m_1"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{xjlgg.test_1.m_2}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="xjlgg.test_1.m_2"/></td>
                                    <td class="bg_y">{{isNaN(xjlgg.test_1.r_a)? '': xjlgg.test_1.r_a == null ||
                                        xjlgg.test_1.r_a == '' ? '' : xjlgg.test_1.r_a.toFixed(3)}}
                                    </td>
                                    <td class="bg_y" rowspan=2>{{isNaN(xjlgg.ava)? '': xjlgg.ava == null || xjlgg.ava ==
                                        '' ? '' : xjlgg.ava.toFixed(3)}}
                                    </td>
                                    <td class="bg_y" rowspan=2>{{isNaN(xjlgg.diff)? '': xjlgg.diff == null || xjlgg.diff
                                        == '' ? '' : xjlgg.diff.toFixed(3)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{excelData.rlpfTable.xjlgg.length - i}}-2</td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{xjlgg.test_2.m_0}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="xjlgg.test_2.m_0"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{xjlgg.test_2.m_1}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="xjlgg.test_2.m_1"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{xjlgg.test_2.m_2}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="xjlgg.test_2.m_2"/></td>
                                    <td class="bg_y">{{isNaN(xjlgg.test_2.r_a)? '': xjlgg.test_2.r_a == null ||
                                        xjlgg.test_2.r_a == '' ? '' : xjlgg.test_2.r_a.toFixed(3)}}
                                    </td>
                                </tr>
                            </template>
                            <tr>
                                <td colspan=8>
                                    <div style="text-align: left">注：m<sub>0</sub>-为试样的烘干质量(g)；m<sub>1</sub>-为水及容量瓶总质量(g)；m<sub>2</sub>-试样、水及容量瓶总质量（g）；γ<sub>a</sub>-细集料的表观相对密度，无量纲。
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan=8>
                                    <div style="text-align: left">
                                        备注：以两次平行试验结果的算术平均值作为测定值，如两次结果之差值大于0.01g/cm³时，应重新取样进行试验。
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="excel_operate">
                        <div class="no-print">
                            <a @click="clearTable('wlfTable')" class="calculator_btn calculator_btn_red">清空数据</a>
                            <a @click="pushLine('wlfTable')" class="calculator_btn">新增行</a>
                            <a @click="popLine(2)" class="calculator_btn calculator_btn_orange">删除行</a>
                        </div>
                        <!-- <a @click="clearTable(table_03)" class="calculator_btn calculator_btn_red">清空数据</a>
                        <a @click="pushLine(table_03)" class="calculator_btn">新增行</a> -->
                        <table class="table_01" id="table_03">
                            <tr>
                                <td class="bg_b" colSpan=13>{{excelData.wlfTable.title}}</td>
                            </tr>
                            <tr>

                                <td colspan="1">试验单位</td>
                                <td colspan="3" class="bg_b">
                                    <span v-if="exportExcel">{{excelData.wlfTable.manufacturers}}</span>
                                    <input type="text" v-model="excelData.wlfTable.manufacturers" class="table_input">
                                </td>
                                <td colspan="3">规格</td>
                                <td colspan="3" class="bg_b">
                                    <span v-if="exportExcel">{{excelData.wlfTable.subTitle}}</span>
                                    <input type="text" v-model="excelData.wlfTable.subTitle" class="table_input">
                                </td>
                                <td colspan="1">试验方法</td>
                                <td colspan="2">网篮法</td>
                            </tr>
                            <tr>
                            <tr>
                                <td colSpan=13>粗集料密度试验（网篮法）</td>
                            </tr>
                            <tr>
                                <td rowSpan=2>粗集料规格</td>
                                <td rowSpan=2>试验编号</td>
                                <td rowSpan=2>m<SUB>a</SUB></td>
                                <td rowSpan=2>m<SUB>w</SUB></td>
                                <td rowSpan=2>m<SUB>f</SUB></td>
                                <td rowSpan=2>γ<sub>a</sub></td>
                                <td rowSpan=2>γ<sub>b</sub></td>
                                <td rowSpan=2>γ<sub>s</sub></td>
                                <td rowSpan=2>w<SUB>x</SUB></td>
                                <td rowSpan=2>γ<sub>a</sub>差值</td>
                                <td rowSpan=2>γ<sub>b</sub>差值</td>
                                <td rowSpan=2>γ<sub>s</sub>差值</td>
                                <td rowSpan=2>w<SUB>x</SUB>差值</td>
                            </tr>
                            <tr></tr>
                            <template v-for="(cjlgg,i) in excelData.wlfTable.cjlgg">
                                <tr>
                                    <td class="bg_b" rowSpan=3>
                                        <!--                                <el-select v-model="cjlgg.value" placeholder="最大值" @change="thickmax($event,i + 30000)">-->
                                        <!--                                    <el-option-->
                                        <!--                                        v-for="item in options2"-->
                                        <!--                                        :key="item.value"-->
                                        <!--                                        :label="item.label"-->
                                        <!--                                        :value="item.value"-->
                                        <!--                                        :disabled="item.disabled">-->
                                        <!--                                    </el-option>-->
                                        <!--                                </el-select>-->

                                        <!--                                <el-select v-model="cjlgg.value2" placeholder="最小值"  @change="thickmin($event,i + 40000)">-->
                                        <!--                                    <el-option-->
                                        <!--                                        v-for="item in options2"-->
                                        <!--                                        :key="item.value"-->
                                        <!--                                        :label="item.label"-->
                                        <!--                                        :value="item.value">-->
                                        <!--                                    </el-option>-->
                                        <!--                                </el-select>-->

                                        <span v-if="exportExcel"> {{cjlgg.cjlgg}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="cjlgg.cjlgg"/>

                                    </td>
                                    <td>{{excelData.rlpfTable.xjlgg.length + excelData.wlfTable.cjlgg.length - i}}-1
                                    </td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{cjlgg.test_1.m_a}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="cjlgg.test_1.m_a"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{cjlgg.test_1.m_w}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="cjlgg.test_1.m_w"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{cjlgg.test_1.m_f}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="cjlgg.test_1.m_f"/></td>
                                    <td class="bg_y">{{isNaN(cjlgg.test_1.r_a)? '': cjlgg.test_1.r_a == null ||
                                        cjlgg.test_1.r_a == '' ? '':cjlgg.test_1.r_a.toFixed(3)}}
                                    </td>
                                    <td class="bg_y">{{isNaN(cjlgg.test_1.r_b)? '': cjlgg.test_1.r_b == null ||
                                        cjlgg.test_1.r_b == '' ? '': cjlgg.test_1.r_b.toFixed(3)}}
                                    </td>
                                    <td class="bg_y">{{isNaN(cjlgg.test_1.r_s)? '': cjlgg.test_1.r_s == null ||
                                        cjlgg.test_1.r_s == '' ? '' :cjlgg.test_1.r_s.toFixed(3)}}
                                    </td>
                                    <td class="bg_y">{{isNaN(cjlgg.test_1.w_x)? '': cjlgg.test_1.w_x == null ||
                                        cjlgg.test_1.w_x == '' ? '' :cjlgg.test_1.w_x.toFixed(2)}}
                                    </td>
                                    <td rowSpan=2 class="bg_y">{{isNaN(cjlgg.diff.r_a)? '': cjlgg.test_1.r_a == null ||
                                        cjlgg.test_1.r_a == '' ? '': cjlgg.diff.r_a.toFixed(3)}}
                                    </td>
                                    <td rowSpan=2 class="bg_y">{{isNaN(cjlgg.diff.r_b)? '': cjlgg.test_1.r_b == null ||
                                        cjlgg.test_1.r_b == '' ? '' :cjlgg.diff.r_b.toFixed(3)}}
                                    </td>
                                    <td rowSpan=2 class="bg_y">{{isNaN(cjlgg.diff.r_s)? '': cjlgg.test_1.r_s == null ||
                                        cjlgg.test_1.r_s == '' ? '' :cjlgg.diff.r_s.toFixed(3)}}
                                    </td>
                                    <td rowSpan=2 class="bg_y">{{isNaN(cjlgg.diff.w_x)? '': cjlgg.test_1.w_x == null ||
                                        cjlgg.test_1.w_x == '' ? '' :cjlgg.diff.w_x.toFixed(3)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{excelData.rlpfTable.xjlgg.length + excelData.wlfTable.cjlgg.length - i}}-2
                                    </td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{cjlgg.test_2.m_a}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="cjlgg.test_2.m_a"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{cjlgg.test_2.m_w}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="cjlgg.test_2.m_w"/></td>
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{cjlgg.test_2.m_f}}</span>
                                        <input @focus="$event.target.select()" type="number" class="table_input"
                                               v-model.number="cjlgg.test_2.m_f"/></td>
                                    <td class="bg_y">{{isNaN(cjlgg.test_2.r_a)? '': cjlgg.test_2.r_a == null ||
                                        cjlgg.test_2.r_a == '' ? '': cjlgg.test_2.r_a.toFixed(3)}}
                                    </td>
                                    <td class="bg_y">{{isNaN(cjlgg.test_2.r_b)? '': cjlgg.test_2.r_b == null ||
                                        cjlgg.test_2.r_b == '' ? '': cjlgg.test_2.r_b.toFixed(3)}}
                                    </td>
                                    <td class="bg_y">{{isNaN(cjlgg.test_2.r_s)? '': cjlgg.test_2.r_s == null ||
                                        cjlgg.test_2.r_s == '' ? '' :cjlgg.test_2.r_s.toFixed(3)}}
                                    </td>
                                    <td class="bg_y">{{isNaN(cjlgg.test_2.w_x)? '': cjlgg.test_2.w_x == null ||
                                        cjlgg.test_2.w_x == '' ? '' :cjlgg.test_2.w_x.toFixed(2)}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>平均</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td class="bg_y">{{isNaN(cjlgg.ava.r_a)? '': cjlgg.ava.r_a == null || cjlgg.ava.r_a
                                        == '' ? '': cjlgg.ava.r_a.toFixed(3)}}
                                    </td>
                                    <td class="bg_y">{{isNaN(cjlgg.ava.r_b)? '': cjlgg.ava.r_b == null || cjlgg.ava.r_b
                                        == '' ? '': cjlgg.ava.r_b.toFixed(3)}}
                                    </td>
                                    <td class="bg_y">{{isNaN(cjlgg.ava.r_s)? '': cjlgg.ava.r_s == null || cjlgg.ava.r_s
                                        == '' ? '' : cjlgg.ava.r_s.toFixed(3)}}
                                    </td>
                                    <td class="bg_y">{{isNaN(cjlgg.ava.w_x)? '': cjlgg.ava.w_x == null || cjlgg.ava.w_x
                                        == '' ? '' : cjlgg.ava.w_x.toFixed(2)}}
                                    </td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </template>

                            <tr>
                                <td colSpan=13>
                                    <div style="text-align: left">备注：m<SUB>a</SUB>-集料的烘干质量(g)；m<SUB>f</SUB>-集料的表干质量(g)；m<SUB>w</SUB>-集料的水中质量（g）；γ<sub>a</sub>-粗集料的表观相对密度，无量纲；γ<sub>b</sub>-粗集料的毛体积相对密度，无量纲；γ<sub>s</sub>-粗集料的表干相对密度，无量纲；w<SUB>x</SUB>-粗集料的吸水率（%）。
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colSpan=13>
                                    <div style="text-align: left">
                                        备注：重复试验的精密度，对表观相对密度、表干相对密度、毛体积相对密度，两次结果相差不得超过0.02，对吸水率不得超过0.2%。
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="excel_operate">
                        <table class="table_01" id="table_04">

                            <tr>
                                <td colspan=30 class="bg_b">
                                    <span v-if="exportExcel">{{excelData.sumTable.title}}</span>
                                    <input @focus="$event.target.select()" type="text"
                                           class="table_input"
                                           v-model="excelData.sumTable.title"/>
                                </td>
                            </tr>
                            <tr>
                                <td>集料规格</td>
                                <td :class="{bg_y:jlgg.jlgg!=='矿粉'}" v-for="jlgg in excelData.sumTable.jlgg">
                                    {{jlgg.jlgg}}
                                </td>
                            </tr>
                            <tr>
                                <td>表观相对密度γ<sub>a</sub></td>
                                <td class="bg_y" v-for="jlgg in excelData.sumTable.jlgg">{{isNaN(jlgg.r_a) ? '' :
                                    jlgg.r_a == null || jlgg.r_a == '' ? '' : parseFloat(jlgg.r_a).toFixed(3)}}
                                </td>
                            </tr>
                            <tr>
                                <td>毛体积相对密度γ<sub>b</sub></td>
                                <td>-</td>
                                <td v-for="(jlgg,index) in excelData.rlpfTable.xjlgg">-</td>
                                <td class="bg_y" v-for="(jlgg,index) in excelData.sumTable.jlgg"
                                    v-if="index > excelData.rlpfTable.xjlgg.length">{{isNaN(jlgg.r_b) ? '' : jlgg.r_b ==
                                    null || jlgg.r_b == '' ? '' : parseFloat(jlgg.r_b).toFixed(3)}}
                                </td>
                            </tr>
                            <tr>
                                <td>表干相对密度γ<sub>s</sub></td>
                                <td>-</td>
                                <td v-for="(jlgg,index) in excelData.rlpfTable.xjlgg">-</td>
                                <td class="bg_y" v-for="(jlgg,index) in excelData.sumTable.jlgg"
                                    v-if="index > excelData.rlpfTable.xjlgg.length">{{isNaN(jlgg.r_s) ? '' : jlgg.r_s ==
                                    null || jlgg.r_s == '' ? '' : parseFloat(jlgg.r_s).toFixed(3)}}
                                </td>
                            </tr>
                            <tr>
                                <td>吸水率(%)</td>
                                <td>-</td>
                                <td v-for="(jlgg,index) in excelData.rlpfTable.xjlgg">-</td>
                                <td class="bg_y" v-for="(jlgg,index) in excelData.sumTable.jlgg"
                                    v-if="index > excelData.rlpfTable.xjlgg.length">{{isNaN(jlgg.w_x) ? '' : jlgg.w_x ==
                                    null || jlgg.w_x == '' ? '' : parseFloat(jlgg.w_x).toFixed(2)}}
                                </td>
                            </tr>
                        </table>
                    </div>


                    <table class="table_01" id="table_05">
                        <tr>
                            <td>相关说明</td>
                            <td colspan="6">
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="">试验人与记录人</td>
                            <td class="bg_g">
                                <span v-if="exportExcel">{{excelData.infoTable.shiYanRen}}</span>
                                <input @focus="$event.target.select()" type="text"
                                       v-model="excelData.infoTable.shiYanRen"
                                       class="table_input" placeholder="试验人"></td>
                            <td class="bg_g">
                                <span v-if="exportExcel">{{excelData.infoTable.jiLuRen}}</span>
                                <input @focus="$event.target.select()" type="text"
                                       v-model="excelData.infoTable.jiLuRen"
                                       class="table_input" placeholder="记录人"></td>
                            <td>日期</td>
                            <!-- yyyy-MM-dd -->
                            <td class="bg_g">
                                <!--                        <input @focus="$event.target.select()" type="date"-->
                                <!--                                            v-model="excelData.infoTable.date"-->
                                <!--                                            class="table_input">-->
                                <span v-if="exportExcel">{{excelData.infoTable.date}}</span>
                                <input type="date" v-model="excelData.infoTable.date" class="table_input"/>
                                <!--                        <el-date-picker-->
                                <!--                            v-model="excelData.infoTable.date"-->
                                <!--                            align="right"-->
                                <!--                            type="date"-->
                                <!--                            placeholder="选择日期"-->
                                <!--                            :picker-options="pickerOptions">-->
                                <!--                        </el-date-picker>-->
                            </td>
                            <td>备注</td>
                            <td class="bg_g" width="30%">
                                <span v-if="exportExcel">{{excelData.infoTable.beiZhu}}</span>
                                <input @focus="$event.target.select()" type="text"
                                       v-model="excelData.infoTable.beiZhu"
                                       class="table_input" placeholder="填写备注">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="">审核人</td>
                            <td colspan="2"></td>
                            <td>日期</td>
                            <td></td>
                            <td>备注</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="">批准人</td>
                            <td colspan="2"></td>
                            <td>日期</td>
                            <td></td>
                            <td>备注</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </section>
        </template>
    </div>
</template>

<script>
    import {add, sub, mul, div, readExcelCell, rounded} from '@/utils'
    import {export_table_to_excel} from '@/utils/Export2Excel'
    import {jlmdsy_xrlpf, jlmdsy_xrlpf_txt} from '@/assets/js/excel_template_url'
    import UploadExcel from '@/views/upload-excel'
    // import XLSX from 'xlsx'
    // 集料密度试验（细容量瓶法）
    export default {
        name: 'jlmdsy_xrlpf',
        data: function () {
            return {
                options: [{
                    value: '选项1',
                    label: '0.075', disabled: false
                }, {
                    value: '选项2',
                    label: '0.15', disabled: false
                }, {
                    value: '选项3',
                    label: '0.3', disabled: false
                }, {
                    value: '选项4',
                    label: '0.6', disabled: false
                }, {
                    value: '选项5',
                    label: '1.18', disabled: false
                }, {
                    value: '选项6',
                    label: '2.36', disabled: false
                }],
                options2: [{
                    value: '选项7',
                    label: '4.75', disabled: false
                }, {
                    value: '选项8',
                    label: '9.5', disabled: false
                }, {
                    value: '选项9',
                    label: '13.2', disabled: false
                }, {
                    value: '选项10',
                    label: '16.0', disabled: false
                }, {
                    value: '选项11',
                    label: '19.0', disabled: false
                }, {
                    value: '选项12',
                    label: '26.5', disabled: false
                }, {
                    value: '选项13',
                    label: '31.5', disabled: false
                }, {
                    value: '选项14',
                    label: '37.5', disabled: false
                }],
                difficult: '',
                difficult2: '',
                startTime: '',
                endTime: '',

                //导出PDF
                fileName: '集料密度试验(细容量瓶法)',
                printID: '#print',
                // visible
                exportExcel: false,
                uploadExcelVisible: false,
                save_area_visible: false,
                id: undefined,
                category: '集料密度试验（细容量瓶法）',
                template_download_link: '',
                // array
                // object
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now()
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date())
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date()
                            date.setTime(date.getTime() - 3600 * 1000 * 24)
                            picker.$emit('pick', date)
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date()
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
                            picker.$emit('pick', date)
                        }
                    }]
                },
                excelResult: {},
                excelData: {
                    title: '',
                    // 因为有输出的需求  所有表中的数据都要有一份备份 尽量不要计算
                    shaiKongChiCunList: [
                        37.5,
                        31.5,
                        26.5,
                        19.0,
                        16.0,
                        13.2,
                        9.5,
                        4.75,
                        2.36,
                        1.18,
                        0.6,
                        0.3,
                        0.15,
                        0.075
                    ],
                    shaiKongChiCunStrList: ['37_5',
                        '31_5',
                        '26_5',
                        '19_0',
                        '16_0',
                        '13_2',
                        '9_5',
                        '4_75',
                        '2_36',
                        '1_18',
                        '0_6',
                        '0_3',
                        '0_15',
                        '0_075'],
                    kfmdsyTable: {
                        subTitle: '',
                        manufacturers: '未知',
                        index: 1,
                        title: '京新高速公路工程沥青混合料下面层矿粉密度试验',
                        test_1: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                        test_2: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                        ava: '',
                        diff: ''
                    },
                    rlpfTable: {
                        subTitle: '',
                        manufacturers: '未知',
                        index: 2,
                        title: '京新高速公路工程沥青混合料下面层细集料密度试验',
                        xjlgg: [{
                            xjlgg: '2.36',
                            label: '2.36',
                            label2: '2.36',
                            value: '选项6',
                            value2: '选项6',
                            test_1: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                            test_2: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                            ava: '',
                            diff: ''
                        },
                            {
                                xjlgg: '1.18',
                                label: '1.18',
                                label2: '1.18',
                                value: '选项5',
                                value2: '选项5',
                                test_1: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                test_2: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                ava: '',
                                diff: ''
                            },
                            {
                                xjlgg: '0.6',
                                label: '0.6',
                                label2: '0.6',
                                value: '选项4',
                                value2: '选项4',
                                test_1: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                test_2: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                ava: '',
                                diff: ''
                            },
                            {
                                xjlgg: '0.3',
                                label: '0.3',
                                label2: '0.3',
                                value: '选项3',
                                value2: '选项3',
                                test_1: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                test_2: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                ava: '',
                                diff: ''
                            },
                            {
                                xjlgg: '0.15',
                                label: '0.15',
                                label2: '0.15',
                                value: '选项2',
                                value2: '选项2',
                                test_1: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                test_2: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                ava: '',
                                diff: ''
                            },
                            {
                                xjlgg: '0.075',
                                label: '0.075',
                                label2: '0.075',
                                value: '选项1',
                                value2: '选项1',
                                test_1: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                test_2: {m_1: '', m_2: '', v_1: '', v_2: '', r_f: ''},
                                ava: '',
                                diff: ''
                            }]
                    },
                    wlfTable: {
                        manufacturerssubTitle: '',
                        manufacturers: '未知',
                        index: 3,
                        title: '京新高速公路工程沥青混合料下面层粗集料密度试验',
                        cjlgg: [{
                            cjlgg: '37.5',
                            label: '37.5',
                            label2: '37.5',
                            value: '选项14',
                            value2: '选项14',
                            test_1: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                            test_2: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                            ava: {r_a: '', r_b: '', r_s: '', w_x: ''},
                            diff: {r_a: '', r_b: '', r_s: '', w_x: ''}
                        },
                            {
                                cjlgg: '31.5',
                                label: '31.5',
                                label2: '31.5',
                                value: '选项13',
                                value2: '选项13',
                                test_1: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                test_2: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                ava: {r_a: '', r_b: '', r_s: '', w_x: ''},
                                diff: {r_a: '', r_b: '', r_s: '', w_x: ''}
                            },
                            {
                                cjlgg: '26.5',
                                label: '26.5',
                                label2: '26.5',
                                value: '选项12',
                                value2: '选项12',
                                test_1: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                test_2: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                ava: {r_a: '', r_b: '', r_s: '', w_x: ''},
                                diff: {r_a: '', r_b: '', r_s: '', w_x: ''}
                            },
                            {
                                cjlgg: '19.0',
                                label: '19.0',
                                label2: '19.0',
                                value: '选项11',
                                value2: '选项11',
                                test_1: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                test_2: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                ava: {r_a: '', r_b: '', r_s: '', w_x: ''},
                                diff: {r_a: '', r_b: '', r_s: '', w_x: ''}
                            },
                            {
                                cjlgg: '16.0',
                                label: '16.0',
                                label2: '16.0',
                                value: '选项10',
                                value2: '选项10',
                                test_1: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                test_2: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                ava: {r_a: '', r_b: '', r_s: '', w_x: ''},
                                diff: {r_a: '', r_b: '', r_s: '', w_x: ''}
                            },
                            {
                                cjlgg: '13.2',
                                label: '13.2',
                                label2: '13.2',
                                value: '选项9',
                                value2: '选项9',
                                test_1: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                test_2: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                ava: {r_a: '', r_b: '', r_s: '', w_x: ''},
                                diff: {r_a: '', r_b: '', r_s: '', w_x: ''}
                            },
                            {
                                cjlgg: '9.5',
                                label: '9.5',
                                label2: '9.5',
                                value: '选项8',
                                value2: '选项8',
                                test_1: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                test_2: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                ava: {r_a: '', r_b: '', r_s: '', w_x: ''},
                                diff: {r_a: '', r_b: '', r_s: '', w_x: ''}
                            },
                            {
                                cjlgg: '4.75',
                                label: '4.75',
                                label2: '4.75',
                                value: '选项7',
                                value2: '选项7',
                                test_1: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                test_2: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                                ava: {r_a: '', r_b: '', r_s: '', w_x: ''},
                                diff: {r_a: '', r_b: '', r_s: '', w_x: ''}
                            }]
                    },
                    sumTable: {
                        title: '京新高速公路工程沥青混合料下面层集料密度试验汇总表',
                        index: 4,
                        jlgg: [
                            {jlgg: '矿粉', r_a: '', r_b: '-', r_s: '-', w_x: '-'},
                            {jlgg: '0.075', jlgg2: '0.075', r_a: '', r_b: '-', r_s: '-', w_x: '-'},
                            {jlgg: '0.15', jlgg2: '0.075', r_a: '', r_b: '-', r_s: '-', w_x: '-'},
                            {jlgg: '0.3', jlgg2: '0.075', r_a: '', r_b: '-', r_s: '-', w_x: '-'},
                            {jlgg: '0.6', jlgg2: '0.075', r_a: '', r_b: '-', r_s: '-', w_x: '-'},
                            {jlgg: '1.18', jlgg2: '1.18', r_a: '', r_b: '-', r_s: '-', w_x: '-'},
                            {jlgg: '2.36', jlgg2: '2.36', r_a: '', r_b: '-', r_s: '-', w_x: '-'},
                            {jlgg: '4.75', jlgg2: '4.75', r_a: '', r_b: '', r_s: '', w_x: ''},
                            {jlgg: '9.5', jlgg2: '9.5', r_a: '', r_b: '', r_s: '', w_x: ''},
                            {jlgg: '13.2', jlgg2: '13.2', r_a: '', r_b: '', r_s: '', w_x: ''},
                            {jlgg: '16.0', jlgg2: '16.0', r_a: '', r_b: '', r_s: '', w_x: ''},
                            {jlgg: '19.0', jlgg2: '19.0', r_a: '', r_b: '', r_s: '', w_x: ''},
                            {jlgg: '26.5', jlgg2: '26.5', r_a: '', r_b: '', r_s: '', w_x: ''},
                            {jlgg: '31.5', jlgg2: '31.5', r_a: '', r_b: '', r_s: '', w_x: ''},
                            {jlgg: '37.5', jlgg2: '37.5', r_a: '', r_b: '', r_s: '', w_x: ''}]
                    },
                    infoTable: {
                        shiYanRenYuJiLuRen: '',
                        shiYanRen: '',
                        jiLuRen: '',
                        date: null,
                        beiZhu: ''
                    }
                }
            }
        },
        created() {

            // console.log("哈哈哈哈哈哈哈哈哈哈哈哈")
            let tblt = sessionStorage.getItem("information")
            // let tblt = JSON.parse(sessionStorage.getItem("information"))


            if (tblt != null && tblt != '') {
                let s = JSON.parse(JSON.parse(tblt).tableData)
                // console.log(s)
                // console.log(this.$route.params.information.tableData)
                //从我的记录接收值，然后转换
                // console.log('======---->' + s.title)

                this.excelData = s
                // console.log(this.excelData)
            }
            // ++
            let calCount = {}
            if (localStorage.calCount === undefined) {
                calCount.jlmdsy_xrlpf = 1
                localStorage.calCount = JSON.stringify(calCount)
            } else {
                calCount = JSON.parse(localStorage.calCount)
                calCount.jlmdsy_xrlpf = calCount.jlmdsy_xrlpf ? calCount.jlmdsy_xrlpf + 1 : 1
                localStorage.calCount = JSON.stringify(calCount)
            }
            document.title = calCount.jlmdsy_xrlpf + '-集料密度试验（细容量瓶法）'
            window.addEventListener('beforeunload', this.countMinus)

            this.init()
        },
        activated() {
        },
        beforeRouteEnter(to, from, next) {
            next()
        },
        beforeRouteLeave(to, from, next) {
            this.countMinus()
            document.title = '沥青混合料级配与马氏智能设计系统'
            window.removeEventListener('beforeunload', this.countMinus)

            next()
        },
        components: {
            UploadExcel
        },
        methods: {
            print() {
                this.$print(this.$refs.print)
                this.save_area_visible = false
            },
            finemax(vId, index) {
                // console.log(vId);
                let obj = {};
                obj = this.options.find((item) => {//这里的userList就是上面遍历的数据源
                    return item.value === vId;//筛选出匹配数据
                });
                // console.log(obj.label);//我这边的name就是对应label的
                // console.log(index);
                var table = this.excelData.sumTable.jlgg
                for (let i = 0; i < table.length; i++) {
                    if (index === 10000 + i) {
                        this.excelData.sumTable.jlgg[i + 1].jlgg = obj.label
                    }

                }
            },
            finemin(vId, index) {
                // console.log(vId);
                let obj = {};
                obj = this.options.find((item) => {//这里的userList就是上面遍历的数据源
                    return item.value === vId;//筛选出匹配数据
                });
                // console.log(obj.label);//我这边的name就是对应label的
                // console.log(index);
                var table = this.excelData.sumTable.jlgg
                for (let i = 0; i < table.length; i++) {
                    if (index === 20000 + i) {
                        this.excelData.sumTable.jlgg[i + 1].jlgg2 = obj.label
                    }
                }

            },
            thickmax(vId, index) {
                // console.log(vId);
                let obj = {};
                obj = this.options2.find((item) => {//这里的userList就是上面遍历的数据源
                    return item.value === vId;//筛选出匹配数据
                });
                // console.log(obj.label);//我这边的name就是对应label的
                // console.log(index);
                var table = this.excelData.sumTable.jlgg
                for (let i = 0; i < table.length; i++) {
                    if (index === 30000 + i) {
                        this.excelData.sumTable.jlgg[i + 7].jlgg = obj.label
                    }
                }

            },
            thickmin(vId, index) {
                // console.log(vId);
                let obj = {};
                obj = this.options2.find((item) => {//这里的userList就是上面遍历的数据源
                    return item.value === vId;//筛选出匹配数据
                });
                // console.log(obj.label);//我这边的name就是对应label的
                // console.log(index);
                var table = this.excelData.sumTable.jlgg
                for (let i = 0; i < table.length; i++) {
                    if (index === 40000 + i) {
                        this.excelData.sumTable.jlgg[i + 7].jlgg2 = obj.label
                    }
                }

            },
            countMinus() {
                let ca2lCount = JSON.parse(localStorage.calCount)
                calCount.jlmdsy_xrlpf -= 1
                localStorage.calCount = JSON.stringify(calCount)
            },
            deleteTable(index) {
                // 至少5张表
                if (this.excelData.tableList.length <= 5) {
                    this.$message.warning('至少保留5张表！！！')
                    return
                }
                this.$confirm('此操作将永久删除表 ' + index + ', 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    let tableArrayIndex = this.excelData.tableList.findIndex((el) => {
                        return el.index === index
                    })
                    // 后面的index 改一下
                    // index 之后的表的 index + 1
                    for (let i = index + 1; i <= this.excelData.tableList.length; i++) {
                        let table = this.excelData.tableList.find((el) => {
                            return el.index === i
                        })
                        table.index--
                    }
                    // 删除 index表
                    this.excelData.tableList.splice(tableArrayIndex, 1)
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    })
                })
            },
            clearTable(index) {

                this.$confirm('此操作将永久清除表' + index + '的数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    if (index === 'kfmdsyTable') {
                        // console.log(1)
                        this.excelData.kfmdsyTable.test_1.m_1 = ''
                        this.excelData.kfmdsyTable.test_1.m_2 = ''
                        this.excelData.kfmdsyTable.test_2.m_1 = ''
                        this.excelData.kfmdsyTable.test_2.m_2 = ''
                        this.excelData.kfmdsyTable.test_1.v_1 = ''
                        this.excelData.kfmdsyTable.test_1.v_2 = ''
                        this.excelData.kfmdsyTable.test_2.v_1 = ''
                        this.excelData.kfmdsyTable.test_2.v_2 = ''
                        this.excelData.kfmdsyTable.test_1.r_f = ''
                        this.excelData.kfmdsyTable.test_2.r_f = ''
                        // this.excelData.kfmdsyTable.ava=0
                        // this.excelData.kfmdsyTable.diff=0
                    } else if (index === 'rlpfTable') {
                        // console.log("疯了")

                        // console.log(this.excelData.rlpfTable.xjlgg[1].test_1.m_0)


                        // console.log(this.excelData.rlpfTable)
                        for (var i = 0; i < this.excelData.rlpfTable.xjlgg.length; i++) {
                            // console.log("for循环")
                            // console.log(this.excelData.rlpfTable.xjlgg[i])
                            this.excelData.rlpfTable.xjlgg[i].test_1.m_0 = ''
                            this.excelData.rlpfTable.xjlgg[i].test_1.m_0 = ''
                            this.excelData.rlpfTable.xjlgg[i].test_1.m_1 = ''
                            this.excelData.rlpfTable.xjlgg[i].test_1.m_2 = ''
                            this.excelData.rlpfTable.xjlgg[i].test_2.m_0 = ''
                            this.excelData.rlpfTable.xjlgg[i].test_2.m_1 = ''
                            this.excelData.rlpfTable.xjlgg[i].test_2.m_2 = ''
                            this.excelData.rlpfTable.xjlgg[i].test_1.r_a = ''
                        }

                        // console.log(123)
                        // this.xjlgg.ava = 0
                        // this.xjlgg.diff = 0
                        // this.xjlgg.test_2.r_a = 0

                    } else if (index === 'wlfTable') {

                        for (var i = 0; i < this.excelData.wlfTable.cjlgg.length; i++) {
                            this.excelData.wlfTable.cjlgg[i].test_1.m_a = ''
                            this.excelData.wlfTable.cjlgg[i].test_1.m_w = ''
                            this.excelData.wlfTable.cjlgg[i].test_1.m_f = ''
                            this.excelData.wlfTable.cjlgg[i].test_2.m_a = ''
                            this.excelData.wlfTable.cjlgg[i].test_2.m_w = ''
                            this.excelData.wlfTable.cjlgg[i].test_2.m_f = ''
                        }
                    } else {
                        // console.log('最后')
                    }
                    this.$message({
                        type: 'success',
                        message: '清除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消清除'
                    })
                })
            },

            popLine(index) {
                if (index === 1) {
                    if (this.excelData.rlpfTable.xjlgg.length <= 1) {
                        this.$message.warning('至少保留1行！！！')
                        return
                    }
                    this.$confirm('此操作将永久删除表 ' + this.excelData.rlpfTable.title + ' 的顶行数据, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.excelData.rlpfTable.xjlgg.shift()
                        this.excelData.sumTable.jlgg.splice(1, 1)
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        })
                    })
                } else {
                    if (this.excelData.wlfTable.cjlgg.length <= 1) {
                        this.$message.warning('至少保留1行！！！')
                        return
                    }
                    this.$confirm('此操作将永久删除表 ' + this.excelData.wlfTable.title + ' 的顶行数据, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.excelData.wlfTable.cjlgg.shift()
                        this.excelData.sumTable.jlgg.splice(this.excelData.sumTable.jlgg.length - 1, 1)
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        })
                    })
                }
            },
            pushLine(index) {
                // find table
                // let table = this.excelData.tableList.find((el) => {
                //   return el.index === index
                // })
                // // 不能多加
                // if (table.lineList.length >= 14) {
                //   this.$message.warning('行数到达上限！！！')
                //   return
                // }
                // // 新增列 顶部  统计已经有多少个 插入 excelData.shaiKong...的前一个
                // let line = {
                //   shaiKongChiCun: 0.0,
                //   groupData: [
                //     {shaiShangZhong: 0.0, fenJiShaiYu: 0.000, leiJiShaiYu: 0.000, tongGuoBaiFenBi: 100},
                //     {shaiShangZhong: 0.0, fenJiShaiYu: 0.000, leiJiShaiYu: 0.000, tongGuoBaiFenBi: 100}
                //   ],
                //   tongGuoBaiFenBi_ava: 100
                // }
                // line.shaiKongChiCun = this.excelData.shaiKongChiCunList.slice(-1 - table.lineList.length).shift()
                // table.lineList.unshift(line)

                let lines1 = {
                    label: '',
                    label2: '',
                    value: '',
                    value2: '',
                    test_1: {m_0: '', m_1: '', m_2: '', r_a: ''},
                    test_2: {m_0: '', m_1: '', m_2: '', r_a: ''},
                    ava: '',
                    diff: ''
                }

                let lines2 = {
                    cjlgg: '',
                    cjlgg2: '',
                    test_1: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                    test_2: {m_a: '', m_w: '', m_f: '', r_a: '', r_b: '', r_s: '', w_x: ''},
                    ava: {r_a: '', r_b: '', r_s: '', w_x: ''},
                    diff: {r_a: '', r_b: '', r_s: '', w_x: ''}
                }

                let lines3 = {jlgg: '', jlgg2: '', r_a: '', r_b: '', r_s: '', w_x: ''}
                let lines4 = {jlgg: '', jlgg2: '', r_a: '', r_b: '', r_s: '', w_x: ''}

                if (index === 'rlpfTable') {
                    // console.log("1")
                    this.excelData.rlpfTable.xjlgg.unshift(lines1)
                    // console.log("2")
                    this.excelData.sumTable.jlgg.splice(1, 0, lines3)
                    // console.log("3")
                } else if (index === 'wlfTable') {
                    this.excelData.wlfTable.cjlgg.unshift(lines2)
                    this.excelData.sumTable.jlgg.push(lines4)
                }
            },
            duplicateTable(index) {
                // index 之后的表的 index + 1
                for (let i = this.excelData.tableList.length; i > index; i--) {
                    let table = this.excelData.tableList.find((el) => {
                        return el.index === i
                    })
                    table.index++
                }
                // 复制 index表
                let tableArrayIndex = this.excelData.tableList.findIndex((el) => {
                    return el.index === index
                })
                let table = this.excelData.tableList.find((el) => {
                    return el.index === index
                })
                table = JSON.parse(JSON.stringify(table))
                table.index++
                this.excelData.tableList.splice(tableArrayIndex + 1, 0, table)
            },
            init() {
                this.template_download_link = jlmdsy_xrlpf()
            },
            saveMyRecord() {
                this.$http({
                    url: this.$http.adornUrl(`/app/record/${!this.id ? 'save' : 'update'}`),
                    method: 'post',
                    data: this.$http.adornData({
                        'id': this.id || undefined,
                        'userId': this.$store.state.user.id,
                        'category': this.category,
                        'tableData': JSON.stringify(this.excelData),
                        'createTime': this.$DateFormat(new Date())
                    })
                }).then(({data}) => {
                    if (data && data.code === 0) {
                        this.$message({
                            message: '操作成功',
                            type: 'success',
                            duration: 1500
                        })
                    } else {
                        this.$message.error(data.msg)
                    }
                })
            },
            savePdf() {
            },
            saveWord() {
                this.$alert('系统未完成!')
            },
            saveExcel() {
                var table_id = ['kfmdsyTable', 'rlpfTable', 'table_03', 'table_04', 'table_05'];
                var sheetName = ['表1', '表2', '表3', '表4', '表5'];
                this.exportExcel = true;
                this.$nextTick(() => {
                    export_table_to_excel(table_id, sheetName, '集料密度试验(细容量瓶法).xlsx');
                    this.exportExcel = false
                    this.save_area_visible = false
                })
            },
            uploadTemplateHandle() {
                this.uploadExcelVisible = true
                this.$nextTick(() => {
                    this.$refs.uploadExcel.init()
                })
            },
            readExcelResult(result) {

                // import('@/utils/excelReadJsonStr')
                //   .then(excelReadJsonStr => {
                //     let strList = []
                //     excelReadJsonStr.dfs(result, 'result', strList)
                //     console.log(strList.join('\n'))
                //   })

                // let that = this
                // import('../../../utils/excelReadJsonStr')
                //     .then(util => {
                //         let strList = []
                //         util.dfs(result, 'result', strList)
                //         console.log(strList.join('\n'))
                //     })


                Object.assign(this.$data, this.$options.data())
                let url = jlmdsy_xrlpf_txt()
                let that = this
                // that.excelData.tableList[0].title = result[0]['__EMPTY']
                let textFileLocation = url

                fetch(textFileLocation).then((res) => {
                    return res.text()
                }).then((text) => {
                    // console.log(text)
                    let lines = text.split('\n');
                    for (let line = 0; line < lines.length; line++) {
                        // console.log(lines[line]);
                        // 这里处理每行的读取语句
                        try {
                            // let command = lines[line].split("=")
                            // let content
                            // // // 判断 是否包含
                            // if(command[0].indexOf("kfmdsyTable.test")){
                            //     content = rounded(eval(command[1]),2)
                            // }else if(command[0].indexOf("xjlgg")){
                            //     content = rounded(eval(command[1]),1)
                            // }else if(command[0].indexOf("cjlgg")){
                            //     content = rounded(eval(command[1]),1)
                            // }else {
                            //     content = rounded(eval(command[1]),0)
                            // }
                            // eval(command[0] + "= '" + content + "'")
                            eval(lines[line])
                        } catch (e) {
                            console.log(e)
                            console.log(`error in line ${line + 1} : ${lines[line]}`)
                            // 这里写遇见错误的处理
                        }
                    }
                })


                //   let textFileLocation = "../../../../excel-template-with-location/~$智能配合比设计-模版 (1).xlsx"
                // fetch(textFileLocation).then(function (res) {
                //     return res.text()
                //   }).then(function (text) {
                //     console.log(text)
                //     let lines = text.split('\n');
                //     for (let line = 0; line < lines.length; line++) {
                //         console.log(lines[line]);
                //         // 这里处理每行的读取语句
                //         try {
                //             eval(lines[line])
                //         } catch (e) {
                //             console.log(`error in line ${line + 1} : ${lines[line]}`)
                //             // 这里写遇见错误的处理
                //         }

                //     }
                // })


                // this.excelData.kfmdsyTable.title = result[0]['__EMPTY_1']
                // this.excelData.kfmdsyTable.test_1.m_1 = result[3]['__EMPTY_2']
                // this.excelData.kfmdsyTable.test_1.m_2 = result[3]['__EMPTY_3']
                // this.excelData.kfmdsyTable.test_1.v_1 = result[3]['__EMPTY_4']
                // this.excelData.kfmdsyTable.test_1.v_2 = result[3]['__EMPTY_5']
                // this.excelData.kfmdsyTable.test_2.m_1 = result[4]['__EMPTY_2']
                // this.excelData.kfmdsyTable.test_2.m_2 = result[4]['__EMPTY_3']
                // this.excelData.kfmdsyTable.test_2.v_1 = result[4]['__EMPTY_4']
                // this.excelData.kfmdsyTable.test_2.v_2 = result[4]['__EMPTY_5']
                // this.excelData.rlpfTable.title = result[7]['__EMPTY_1']
                // this.excelData.rlpfTable.xjlgg[0].xjlgg = result[10]['__EMPTY_1']
                // this.excelData.rlpfTable.xjlgg[0].test_1.m_0 = result[10]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[0].test_1.m_1 = result[10]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[0].test_1.m_2 = result[10]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[0].test_2.m_0 = result[11]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[0].test_2.m_1 = result[11]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[0].test_2.m_2 = result[11]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[1].xjlgg = result[12]['__EMPTY_1']
                // this.excelData.rlpfTable.xjlgg[1].test_1.m_0 = result[12]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[1].test_1.m_1 = result[12]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[1].test_1.m_2 = result[12]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[1].test_2.m_0 = result[13]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[1].test_2.m_1 = result[13]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[1].test_2.m_2 = result[13]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[2].xjlgg = result[14]['__EMPTY_1']
                // this.excelData.rlpfTable.xjlgg[2].test_1.m_0 = result[14]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[2].test_1.m_1 = result[14]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[2].test_1.m_2 = result[14]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[2].test_2.m_0 = result[15]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[2].test_2.m_1 = result[15]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[2].test_2.m_2 = result[15]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[3].xjlgg = result[16]['__EMPTY_1']
                // this.excelData.rlpfTable.xjlgg[3].test_1.m_0 = result[16]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[3].test_1.m_1 = result[16]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[3].test_1.m_2 = result[16]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[3].test_2.m_0 = result[17]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[3].test_2.m_1 = result[17]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[3].test_2.m_2 = result[17]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[4].xjlgg = result[18]['__EMPTY_1']
                // this.excelData.rlpfTable.xjlgg[4].test_1.m_0 = result[18]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[4].test_1.m_1 = result[18]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[4].test_1.m_2 = result[18]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[4].test_2.m_0 = result[19]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[4].test_2.m_1 = result[19]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[4].test_2.m_2 = result[19]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[5].xjlgg = result[20]['__EMPTY_1']
                // this.excelData.rlpfTable.xjlgg[5].test_1.m_0 = result[20]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[5].test_1.m_1 = result[20]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[5].test_1.m_2 = result[20]['__EMPTY_5']
                // this.excelData.rlpfTable.xjlgg[5].test_2.m_0 = result[21]['__EMPTY_3']
                // this.excelData.rlpfTable.xjlgg[5].test_2.m_1 = result[21]['__EMPTY_4']
                // this.excelData.rlpfTable.xjlgg[5].test_2.m_2 = result[21]['__EMPTY_5']
                // this.excelData.wlfTable.title = result[24]['__EMPTY_1']
                // this.excelData.wlfTable.cjlgg[0].cjlgg = result[27]['__EMPTY_1']
                // this.excelData.wlfTable.cjlgg[0].test_1.m_a = result[27]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[0].test_1.m_w = result[27]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[0].test_1.m_f = result[27]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[0].test_2.m_a = result[28]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[0].test_2.m_w = result[28]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[0].test_2.m_f = result[28]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[1].cjlgg = result[30]['__EMPTY_1']
                // this.excelData.wlfTable.cjlgg[1].test_1.m_a = result[30]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[1].test_1.m_w = result[30]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[1].test_1.m_f = result[30]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[1].test_2.m_a = result[31]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[1].test_2.m_w = result[31]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[1].test_2.m_f = result[31]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[2].cjlgg = result[33]['__EMPTY_1']
                // this.excelData.wlfTable.cjlgg[2].test_1.m_a = result[33]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[2].test_1.m_w = result[33]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[2].test_1.m_f = result[33]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[2].test_2.m_a = result[34]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[2].test_2.m_w = result[34]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[2].test_2.m_f = result[34]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[3].cjlgg = result[36]['__EMPTY_1']
                // this.excelData.wlfTable.cjlgg[3].test_1.m_a = result[36]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[3].test_1.m_w = result[36]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[3].test_1.m_f = result[36]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[3].test_2.m_a = result[37]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[3].test_2.m_w = result[37]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[3].test_2.m_f = result[37]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[4].cjlgg = result[39]['__EMPTY_1']
                // this.excelData.wlfTable.cjlgg[4].test_1.m_a = result[39]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[4].test_1.m_w = result[39]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[4].test_1.m_f = result[39]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[4].test_2.m_a = result[40]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[4].test_2.m_w = result[40]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[4].test_2.m_f = result[40]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[5].cjlgg = result[42]['__EMPTY_1']
                // this.excelData.wlfTable.cjlgg[5].test_1.m_a = result[42]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[5].test_1.m_w = result[42]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[5].test_1.m_f = result[42]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[5].test_2.m_a = result[43]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[5].test_2.m_w = result[43]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[5].test_2.m_f = result[43]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[6].cjlgg = result[45]['__EMPTY_1']
                // this.excelData.wlfTable.cjlgg[6].test_1.m_a = result[45]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[6].test_1.m_w = result[45]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[6].test_1.m_f = result[45]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[6].test_2.m_a = result[46]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[6].test_2.m_w = result[46]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[6].test_2.m_f = result[46]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[7].cjlgg = result[48]['__EMPTY_1']
                // this.excelData.wlfTable.cjlgg[7].test_1.m_a = result[48]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[7].test_1.m_w = result[48]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[7].test_1.m_f = result[48]['__EMPTY_5']
                // this.excelData.wlfTable.cjlgg[7].test_2.m_a = result[49]['__EMPTY_3']
                // this.excelData.wlfTable.cjlgg[7].test_2.m_w = result[49]['__EMPTY_4']
                // this.excelData.wlfTable.cjlgg[7].test_2.m_f = result[49]['__EMPTY_5']
                // this.excelData.sumTable.title = result[53]['__EMPTY_1']
                // this.excelData.infoTable.shiYanRenYuJiLuRen = result[59]['__EMPTY_2']
                // this.excelData.infoTable.date = result[59]['__EMPTY_5']
                // this.excelData.infoTable.beiZhu = result[59]['__EMPTY_8']
            }
        },
        computed: {},
        watch: {
            'excelData.kfmdsyTable': {
                handler: function () {
                    // console.log("hehehe")
                    let kfmdsyTable = this.excelData.kfmdsyTable
                    kfmdsyTable.test_1.r_f = (kfmdsyTable.test_1.m_1 - kfmdsyTable.test_1.m_2) / (kfmdsyTable.test_1.v_2 - kfmdsyTable.test_1.v_1)
                    kfmdsyTable.test_2.r_f = (kfmdsyTable.test_2.m_1 - kfmdsyTable.test_2.m_2) / (kfmdsyTable.test_2.v_2 - kfmdsyTable.test_2.v_1)
                    kfmdsyTable.ava = (kfmdsyTable.test_1.r_f + kfmdsyTable.test_2.r_f) / 2
                    kfmdsyTable.diff = Math.abs(kfmdsyTable.test_1.r_f - kfmdsyTable.test_2.r_f)
                    let fixCount = 2;
                    [kfmdsyTable.test_1.m_1, kfmdsyTable.test_1.m_2, kfmdsyTable.test_1.v_1, kfmdsyTable.test_1.v_2] =
                        this.$NumFormat(fixCount, [kfmdsyTable.test_1.m_1, kfmdsyTable.test_1.m_2, kfmdsyTable.test_1.v_1, kfmdsyTable.test_1.v_2]);
                    [kfmdsyTable.test_2.m_1, kfmdsyTable.test_2.m_2, kfmdsyTable.test_2.v_1, kfmdsyTable.test_2.v_2] =
                        this.$NumFormat(fixCount, [kfmdsyTable.test_2.m_1, kfmdsyTable.test_2.m_2, kfmdsyTable.test_2.v_1, kfmdsyTable.test_2.v_2])
                    // sum
                    this.excelData.sumTable.jlgg[0].r_a = kfmdsyTable.ava
                    // this.excelData.sumTable.jlgg[0].r_b = kfmdsyTable.ava

                    // this.excelData.sumTable.jlgg[0].r_a=this.excelData.kfmdsyTable.ava
                    // console.log(this.excelData.sumTable.jlgg[0].r_a)
                    // console.log(kfmdsyTable.ava)

                },
                deep: true
            },
            'excelData.rlpfTable': {
                handler: function () {
                    let rlpfTable = this.excelData.rlpfTable
                    rlpfTable.xjlgg.forEach((xjlgg_xxx, index) => {
                        xjlgg_xxx.test_1.r_a = div(xjlgg_xxx.test_1.m_0, sub(add(xjlgg_xxx.test_1.m_0, xjlgg_xxx.test_1.m_1), xjlgg_xxx.test_1.m_2))
                        xjlgg_xxx.test_2.r_a = div(xjlgg_xxx.test_2.m_0, sub(add(xjlgg_xxx.test_2.m_0, xjlgg_xxx.test_2.m_1), xjlgg_xxx.test_2.m_2))
                        xjlgg_xxx.ava = add(xjlgg_xxx.test_1.r_a, xjlgg_xxx.test_2.r_a) / 2
                        xjlgg_xxx.diff = Math.abs(sub(xjlgg_xxx.test_1.r_a, xjlgg_xxx.test_2.r_a))
                        let fixCount = 1;
                        [xjlgg_xxx.test_1.m_0, xjlgg_xxx.test_1.m_1, xjlgg_xxx.test_1.m_2,
                            xjlgg_xxx.test_2.m_0, xjlgg_xxx.test_2.m_1, xjlgg_xxx.test_2.m_2] =
                            this.$NumFormat(fixCount, [xjlgg_xxx.test_1.m_0, xjlgg_xxx.test_1.m_1, xjlgg_xxx.test_1.m_2,
                                xjlgg_xxx.test_2.m_0, xjlgg_xxx.test_2.m_1, xjlgg_xxx.test_2.m_2])
                        // sum index 012345 target 654321
                        // console.log('----->' + xjlgg_xxx.ava)
                        // this.excelData.sumTable.jlgg[6 - index].r_a = xjlgg_xxx.ava
                        // this.excelData.sumTable.jlgg[6 - index].r_b = xjlgg_xxx.ava


                    })
                    // console.log("----" + rlpfTable.xjlgg.length)
                    for (let i = 0; i < rlpfTable.xjlgg.length; i++) {

                        this.excelData.sumTable.jlgg[rlpfTable.xjlgg.length - i].r_a = rlpfTable.xjlgg[i].ava
                        this.excelData.sumTable.jlgg[rlpfTable.xjlgg.length - i].jlgg = rlpfTable.xjlgg[i].xjlgg
                    }
                    // console.log(rlpfTable.xjlgg[3].test_1.r_a)
                    // xjlgg.test_1.r_a.toFixed(3)
                },
                deep: true
            },
            'excelData.wlfTable': {
                handler: function () {
                    let wlfTable = this.excelData.wlfTable
                    wlfTable.cjlgg.forEach((cjlgg_xxx, index) => {
                        for (let i = 1; i <= 2; i++) {
                            cjlgg_xxx['test_' + i].r_a = div(cjlgg_xxx['test_' + i].m_a, sub(cjlgg_xxx['test_' + i].m_a, cjlgg_xxx['test_' + i].m_w))
                            cjlgg_xxx['test_' + i].r_b = div(cjlgg_xxx['test_' + i].m_a, sub(cjlgg_xxx['test_' + i].m_f, cjlgg_xxx['test_' + i].m_w))
                            cjlgg_xxx['test_' + i].r_s = div(cjlgg_xxx['test_' + i].m_f, sub(cjlgg_xxx['test_' + i].m_f, cjlgg_xxx['test_' + i].m_w))
                            // cjlgg_xxx['test_' + i].w_x = div(sub(cjlgg_xxx['test_' + i].m_f, cjlgg_xxx['test_' + i].m_a), cjlgg_xxx['test_' + i].m_a)
                            cjlgg_xxx['test_' + i].w_x = (cjlgg_xxx['test_' + i].m_f - cjlgg_xxx['test_' + i].m_a) / cjlgg_xxx['test_' + i].m_a * 100
                        }
                        cjlgg_xxx.ava.r_a = add(cjlgg_xxx.test_1.r_a, cjlgg_xxx.test_2.r_a) / 2
                        cjlgg_xxx.ava.r_b = add(cjlgg_xxx.test_1.r_b, cjlgg_xxx.test_2.r_b) / 2
                        cjlgg_xxx.ava.r_s = add(cjlgg_xxx.test_1.r_s, cjlgg_xxx.test_2.r_s) / 2
                        cjlgg_xxx.ava.w_x = add(cjlgg_xxx.test_1.w_x, cjlgg_xxx.test_2.w_x) / 2
                        cjlgg_xxx.diff.r_a = Math.abs(sub(cjlgg_xxx.test_1.r_a, cjlgg_xxx.test_2.r_a))
                        cjlgg_xxx.diff.r_b = Math.abs(sub(cjlgg_xxx.test_1.r_b, cjlgg_xxx.test_2.r_b))
                        cjlgg_xxx.diff.r_s = Math.abs(sub(cjlgg_xxx.test_1.r_s, cjlgg_xxx.test_2.r_s))
                        cjlgg_xxx.diff.w_x = Math.abs(sub(cjlgg_xxx.test_1.w_x, cjlgg_xxx.test_2.w_x))
                        let fixCount = 1;
                        [cjlgg_xxx.test_1.m_a, cjlgg_xxx.test_1.m_w, cjlgg_xxx.test_1.m_f] =
                            this.$NumFormat(fixCount, [cjlgg_xxx.test_1.m_a, cjlgg_xxx.test_1.m_w, cjlgg_xxx.test_1.m_f]);
                        [cjlgg_xxx.test_2.m_a, cjlgg_xxx.test_2.m_w, cjlgg_xxx.test_2.m_f] =
                            this.$NumFormat(fixCount, [cjlgg_xxx.test_2.m_a, cjlgg_xxx.test_2.m_w, cjlgg_xxx.test_2.m_f])
                        // sum index 01234567 target 14-8
                        // this.excelData.sumTable.jlgg[14 - index].r_a = cjlgg_xxx.ava.r_a
                        // this.excelData.sumTable.jlgg[14 - index].r_b = cjlgg_xxx.ava.r_b
                        // this.excelData.sumTable.jlgg[14 - index].r_s = cjlgg_xxx.ava.r_s
                        // this.excelData.sumTable.jlgg[14 - index].w_x = cjlgg_xxx.ava.w_x
                    })
                    for (let i = 0; i < wlfTable.cjlgg.length; i++) {
                        this.excelData.sumTable.jlgg[this.excelData.wlfTable.cjlgg.length - i + this.excelData.rlpfTable.xjlgg.length].jlgg = wlfTable.cjlgg[i].cjlgg
                        this.excelData.sumTable.jlgg[this.excelData.wlfTable.cjlgg.length - i + this.excelData.rlpfTable.xjlgg.length].r_a = wlfTable.cjlgg[i].ava.r_a
                        this.excelData.sumTable.jlgg[this.excelData.wlfTable.cjlgg.length - i + this.excelData.rlpfTable.xjlgg.length].r_b = wlfTable.cjlgg[i].ava.r_b
                        this.excelData.sumTable.jlgg[this.excelData.wlfTable.cjlgg.length - i + this.excelData.rlpfTable.xjlgg.length].r_s = wlfTable.cjlgg[i].ava.r_s
                        this.excelData.sumTable.jlgg[this.excelData.wlfTable.cjlgg.length - i + this.excelData.rlpfTable.xjlgg.length].w_x = wlfTable.cjlgg[i].ava.w_x
                    }
                },
                deep: true
            },
            'excelData.sumTable': {
                handler() {
                    // title
                    this.excelData.title = this.excelData.kfmdsyTable.title ||
                        this.excelData.rlpfTable.title ||
                        this.excelData.wlfTable.title || this.category

                    let sumTable = this.excelData.sumTable
                    let fixCount = 3
                    for (let jlgg of sumTable.jlgg) {
                        [jlgg.r_a, jlgg.r_b, jlgg.r_s, jlgg.w_x] = this.$NumFormat(fixCount, [jlgg.r_a, jlgg.r_b, jlgg.r_s, jlgg.w_x])
                    }
                },
                deep: true
            }
        }
    }
</script>

<style scoped>
    .el-date-editor >>> .el-input__inner {
        border: none;
        background-color: rgba(26, 245, 9, 0.2);
    }

    input {
        -moz-appearance: textfield;
    }
</style>
