<template>
    <div>
        <template>
            <section ref="print">
                <!--位置-->
                <div class="site">
                    <a href="#/">首页</a><span class="site_next">></span><a href="#/ll_zdxd_mdsy">理论最大相对密度试验</a>
                </div>
                <div class="no-print">
                    <!--保存-->
                    <div id="save_area" v-if="save_area_visible">
                        <div class="save_bg">
                            <!--                <a v-print="'#print'" class="save_btn">-->
                            <a @click="print" class="save_btn">
                                <span class="save_btn_text">保存为PDF</span>
                                <span class="save_btn_icon"><img class="save_btn_icon_pdf" src="~@/assets/icon/pdf.jpg"></span>
                            </a>
                            <a @click="saveWord" class="save_btn">
                                <span class="save_btn_text">保存为Word</span>
                                <span class="save_btn_icon"><img class="save_btn_icon_pdf"
                                                                 src="~@/assets/icon/word.jpg"></span>
                            </a>
                            <a @click="saveExcel" class="save_btn">
                                <span class="save_btn_text">保存为Excel</span>
                                <span class="save_btn_icon"><img class="save_btn_icon_pdf"
                                                                 src="~@/assets/icon/excel.jpg"></span>
                            </a>
                            <a @click="saveMyRecord" class="save_btn">
                                保存到我的记录
                            </a>
                        </div>
                        <a class="save_btn_close save_btn" style="margin-top: 60px;" id="save_close"
                           @click="save_area_visible=false">取消</a>
                        <div class="floatLayer"></div>
                    </div>
                </div>
                <!--内容区域-->
                <div class="content">
                    <div class="no-print">
                        <div class="calculator_tlt">
                            <div class="calculator_tlt_left">
                                <a @click="uploadTemplateHandle" class="calculator_btn">导入</a>
                                <a class="calculator_btn" id="save" @click="save_area_visible=true">保存</a>
                            </div>
                            <div class="calculator_tlt_right">
                                <a :href="template_download_link" class="calculator_btn">下载模版</a>
                            </div>
                        </div>
                    </div>
                    <upload-excel v-if="uploadExcelVisible" ref="uploadExcel"
                                  @excelResult="readExcelResult"
                    ></upload-excel>


                    <div class="excel_operate">
                        <div class="no-print">
                            <a @click="clearTable('jsfTable')" class="calculator_btn calculator_btn_red">清空数据</a>
                            <a @click="deleteRow" class="calculator_btn calculator_btn_orange">删除列</a>
                            <a @click="pushRow" class="calculator_btn">新增列</a>
                        </div>
                        <div id="print">
                            <table class="table_01" id="table_01" style="width:100%">
                                <tr>
                                    <td class="bg_b" :colspan="excelData.jsfTable.jjggList.length">
                                        <!--                            <span v-if="exportExcel">{{excelData.jsfTable.title}}</span>-->
                                        <span v-if="exportExcel">{{excelData.jsfTable.title}}</span>
                                        <input type="text" v-model="excelData.jsfTable.title" class="table_input"/>
                                    </td>
                                    <td colspan="1">试验方法</td>
                                    <td colspan="1">计算法</td>
                                    <td colspan="1">
                                        <el-switch
                                            v-model="excelData.jsfTable.isGaixing"
                                            active-text="改性"
                                            inactive-text="非改性"
                                            @change="parens2($event)">
                                        </el-switch>
                                    </td>
                                </tr>
                                <tr>

                                    <td colspan="2">试验单位</td>
                                    <td colspan="3" class="bg_b">
                                        <span v-if="exportExcel">{{excelData.jsfTable.manufacturers}}</span>
                                        <input type="text" v-model="excelData.jsfTable.manufacturers"
                                               class="table_input">
                                    </td>
                                    <td colspan="2">类型</td>
                                    <td colspan="5" class="bg_b">
                                        <span v-if="exportExcel">{{excelData.jsfTable.subTitle}}</span>
                                        <input type="text" v-model="excelData.jsfTable.subTitle" class="table_input">
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <td colspan=3>集料规格</td>
                                    <template v-for="(jjgg,index) in excelData.jsfTable.jjggList">
                                        <td colspan="1" class="bg_b">
                                            <span v-if="exportExcel">{{jjgg}}</span>
                                            <input type="text" v-model="excelData.jsfTable.jjggList[index]"
                                                   class="table_input"/>
                                        </td>
                                    </template>
                                </tr>
                                <tr>
                                    <td colspan=3>配比（%）</td>
                                    <template v-for="(pb,index) in excelData.jsfTable.pbList">
                                        <td colspan=1 class="bg_g">
                                            <span v-if="exportExcel">{{excelData.jsfTable.pbList[index]}}</span>
                                            <input type="number"
                                                   v-model.number="excelData.jsfTable.pbList[index]"
                                                   class="table_input"/></td>
                                    </template>
                                </tr>
                                <tr>
                                    <td colspan=3>γ<sub>b</sub></td>
                                    <template v-for="(r_b,index) in excelData.jsfTable.r_bList">
                                        <td colspan=1 class="bg_g">
                                            <span v-if="exportExcel">{{excelData.jsfTable.r_bList[index]}}</span>
                                            <input type="number"
                                                   v-model.number="excelData.jsfTable.r_bList[index]"
                                                   class="table_input"/></td>
                                    </template>
                                </tr>
                                <tr>
                                    <td colspan=3>γ<sub>a</sub></td>
                                    <template v-for="(r_a,index) in excelData.jsfTable.r_aList">
                                        <td colspan=1 class="bg_g">
                                            <span v-if="exportExcel">{{excelData.jsfTable.r_aList[index]}}</span>
                                            <input type="number" v-model.number="excelData.jsfTable.r_aList[index]"
                                                   class="table_input"/>
                                        </td>
                                    </template>
                                </tr>
                                <tr>
                                    <td colspan=3>w<sub>xi</sub></td>
                                    <template v-for="(w_xi,index) in excelData.jsfTable.w_xiList">
                                        <td :class="{bg_y:index!==excelData.jsfTable.w_xiList.length}">{{isNaN(w_xi)?
                                            '': w_xi+'%'}}
                                        </td>
                                    </template>
                                </tr>
                                <tr>
                                    <td colspan=3>P<sub>a</sub></td>
                                    <template v-for="(pa,index) in excelData.jsfTable.paList">
                                        <td colspan=1 class="bg_g">
                                            <span v-if="exportExcel">{{excelData.jsfTable.paList[index]}}</span>
                                            <input type="number"
                                                   v-model.number="excelData.jsfTable.paList[index]"
                                                   class="table_input"/></td>
                                    </template>
                                    <!--                        <template v-else v-for="(pa,index) in excelData.jsfTable.paList">-->
                                    <!--                            <td colspan=1 class="bg_y">-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                                    <!--                                <span v-if="exportExcel">{{excelData.jsfTable.paList[index]}}</span>-->
                                    <!--                            </td>-->
                                    <!--                        </template>-->
                                    <td colspan=2>γ<sub>b</sub></td>
                                    <td colspan=2 class="bg_g">
                                        <span v-if="exportExcel">{{excelData.jsfTable.r_b}}</span>
                                        <input type="number" v-model.number="excelData.jsfTable.r_b"
                                               class="table_input"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=3>γ<sub>t</sub></td>

                                    <td colspan=1 class="bg_y" v-for="(r_t,ii) in excelData.jsfTable.r_tList">{{isNaN(r_t)? '': r_t}}</td>

                                    <td colspan=1>
                                        <!--                            <span v-if="exportExcel">{{excelData.jsfTable.isGaixing?'改性':'非改性'}}</span>-->
                                        -
                                    </td>
                                    <td colspan=2>-</td>
                                </tr>
                            </table>
                            <table style="margin-top: -1px" id="table_02">

                                <tr>
                                    <td>γ<sub>sb</sub></td>
                                    <td class="bg_y" colspan=2>{{isNaN(excelData.jsfTable.r_sb) ?
                                        '':excelData.jsfTable.r_sb == null || excelData.jsfTable.r_sb == '' ? '':
                                        excelData.jsfTable.r_sb.toFixed(3)}}
                                    </td>
                                    <template v-if="switchflag">
                                        <td colspan=2>γsa</td>
                                        <td class="bg_y">{{isNaN(excelData.jsfTable.r_sa)? '':excelData.jsfTable.r_sa ==
                                            null || excelData.jsfTable.r_sa == '' ? '' :
                                            excelData.jsfTable.r_sa.toFixed(3)}}
                                        </td>
                                    </template>
                                    <td colspan=2>γse</td>
                                    <td class="bg_y">{{isNaN(excelData.jsfTable.r_se)? '':excelData.jsfTable.r_se ==
                                        null || excelData.jsfTable.r_se == '' ? '' :
                                        excelData.jsfTable.r_se.toFixed(3)}}
                                    </td>
                                </tr>
                                <template v-if="switchflag">
                                    <tr>
                                        <td>C</td>
                                        <td class="bg_y" colspan=2>{{isNaN(excelData.jsfTable.c)? '':
                                            excelData.jsfTable.c.toFixed(3)}}
                                        </td>
                                        <td colspan=2>w<sub>x</sub></td>
                                        <td class="bg_y">{{isNaN(excelData.jsfTable.w_x)? '':
                                            excelData.jsfTable.w_x.toFixed(3)}}
                                        </td>
                                        <td colspan=2>P<sub>ba</sub></td>
                                        <td class="bg_y">{{isNaN(excelData.jsfTable.p_ba)? '':
                                            excelData.jsfTable.p_ba.toFixed(3)}}
                                        </td>
                                    </tr>
                                </template>
                                <tr>
                                    <td colspan=9>
                                        <div style="text-align: left">
                                            注：γb-集料的毛体积相对密度，无量纲；γa-集料的表观相对密度，无量纲；wxi-各矿料的吸水率（%）；Pa-沥青混合料的油石比，%；γt-沥青混合料理论最大相对密度；γsb-材料的合成毛体积相对密度，无量纲；C-合成矿料的沥青吸收系数；γsa-材料的合成表观相对密度，无量纲；γse-合成矿料的有效相对密度；wx-合成矿料的吸水率，%；Pba-沥青混合料中被集料吸收的沥青结合料比例，%；γb-沥青的相对密度（25℃/25℃）,无量纲；
                                        </div>
                                    </td>
                                </tr>
                            </table>


                            <template v-if="switchflag==false">
                                <div class="excel_operate">
                                    <!--                  <a @click="clearTable('zkfAlTable')" class="calculator_btn calculator_btn_red">清空数据</a>-->
                                    <!--                  <a @click="popLine" class="calculator_btn calculator_btn_orange">删除组</a>-->
                                    <!--                  <a @click="pushLine" class="calculator_btn">新增组</a>-->
                                    <table class="table_01" id="table_03">
                                        <tr>
                                            <td class="bg_b" colspan=5>
                                                <span v-if="exportExcel">{{excelData.zkfAlTable.title}}</span>
                                                <input type="number" v-model.number="excelData.zkfAlTable.title"
                                                       class="table_input"/>
                                            </td>
                                            <td colspan="1">试验方法</td>
                                            <td colspan="1">真空法A类</td>
                                        </tr>
                                        <tr>
                                            <td>油石比 (Pa)</td>
                                            <td>试件编号</td>
                                            <td>m<sub>1</sub></td>
                                            <td>m<sub>a</sub></td>
                                            <td>m<sub>2</sub></td>
                                            <td>γ<sub>t</sub></td>
                                            <td>γ<sub>t</sub>平均</td>
                                        </tr>
                                        <template v-for="(line,index) in excelData.zkfAlTable.lineList">
                                            <tr>
                                                <td class="bg_g" rowspan=2>
                                                    <span v-if="exportExcel">{{line.ysb}}</span>
                                                    <input type="number" v-model.number="line.ysb" class="table_input"/>
                                                </td>
                                                <td class="bg_b">
                                                    <span v-if="exportExcel">{{line.groupList[0].sjbh}}</span>
                                                    <input type="text" v-model="line.groupList[0].sjbh"
                                                           class="table_input"/></td>
                                                <td class="bg_g" v-if="index===0"
                                                    :rowspan=excelData.zkfAlTable.lineList.length*2>
                                                    <span v-if="exportExcel">{{excelData.zkfAlTable.m_1}}</span>
                                                    <input type="number" v-model.number="excelData.zkfAlTable.m_1"
                                                           class="table_input"/>
                                                </td>
                                                <td class="bg_g">
                                                    <span v-if="exportExcel">{{line.groupList[0].m_a}}</span>
                                                    <input type="number" v-model.number="line.groupList[0].m_a"
                                                           class="table_input"/>
                                                </td>
                                                <td class="bg_g">
                                                    <span v-if="exportExcel">{{line.groupList[0].m_2}}</span>
                                                    <input type="number" v-model.number="line.groupList[0].m_2"
                                                           class="table_input"/>
                                                </td>
                                                <td class="bg_y">{{isNaN(line.groupList[0].r_t) ?
                                                    '':line.groupList[0].r_t == null || line.groupList[0].r_t =='' ? ''
                                                    :line.groupList[0].r_t.toFixed(3)}}
                                                </td>
                                                <td class="bg_y" rowspan=2>{{isNaN(line.ava) ? '':line.ava == null ||
                                                    line.ava == '' ? '':line.ava.toFixed(3)}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="bg_b">
                                                    <span v-if="exportExcel">{{line.groupList[1].sjbh}}</span>
                                                    <input type="text" v-model="line.groupList[1].sjbh"
                                                           class="table_input"/>
                                                </td>
                                                <td class="bg_g">
                                                    <span v-if="exportExcel">{{line.groupList[1].m_a}}</span>
                                                    <input type="number" v-model.number="line.groupList[1].m_a"
                                                           class="table_input"/>
                                                </td>
                                                <td class="bg_g">
                                                    <span v-if="exportExcel">{{line.groupList[1].m_2}}</span>
                                                    <input type="number" v-model.number="line.groupList[1].m_2"
                                                           class="table_input"/>
                                                </td>
                                                <td class="bg_y">{{isNaN(line.groupList[1].r_t) ?
                                                    '':line.groupList[1].r_t == null || line.groupList[1].r_t == '' ?
                                                    '':line.groupList[1].r_t.toFixed(3)}}
                                                </td>
                                            </tr>
                                        </template>
                                        <tr>
                                            <td colspan=7>
                                                <div style="text-align: left">
                                                    注：m<sub>1</sub>-负压容器在25℃水中的质量（g）；m<sub>a</sub>-干燥沥青混合料试样的空中质量（g）；m<sub>2</sub>-负压容器与沥青混合料在25℃水中的质量（g）；γ<sub>t</sub>-沥青混合料理论最大相对密度。
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan=7>
                                                <div style="text-align: left">
                                                    备注：重复性试验的允许误差为0.011g/cm³,再现性试验的允许误差为0.019g/cm³。
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </template>

                            <table class="table_01" id="table_04">
                                <tr>
                                    <td>相关说明</td>
                                    <td colspan="6">
                                        <p class="explain"></p>
                                        <p class="explain"></p>
                                        <p class="explain"></p>
                                        <p class="explain"></p>
                                        <p class="explain"></p>
                                        <p class="explain"></p>
                                        <p class="explain"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="">试验人与记录人</td>
                                    <td class="bg_b">
                                        <span v-if="exportExcel">{{excelData.infoTable.shiYanRen}}</span>
                                        <input type="text" v-model="excelData.infoTable.shiYanRen"
                                               class="table_input" placeholder="试验人"></td>
                                    <td class="bg_b">
                                        <span v-if="exportExcel">{{excelData.infoTable.jiLuRen}}</span>
                                        <input type="text" v-model="excelData.infoTable.jiLuRen"
                                               class="table_input" placeholder="记录人"></td>
                                    <td>日期</td>
                                    <!-- yyyy-MM-dd -->
                                    <td class="bg_b">
                                        <span v-if="exportExcel">{{excelData.infoTable.date}}</span>
                                        <input type="date" v-model="excelData.infoTable.date"
                                               class="table_input"></td>
                                    <td>备注</td>
                                    <td class="bg_b" width="30%">
                                        <span v-if="exportExcel">{{excelData.infoTable.beiZhu}}</span>
                                        <input type="text" v-model="excelData.infoTable.beiZhu"
                                               class="table_input" placeholder="填写备注">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="">审核人</td>
                                    <td colspan="2"></td>
                                    <td>日期</td>
                                    <td></td>
                                    <td>备注</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="">批准人</td>
                                    <td colspan="2"></td>
                                    <td>日期</td>
                                    <td></td>
                                    <td>备注</td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </section>
        </template>
    </div>
</template>

<script>
    import {sum, add, sub, mul, div, readExcelCell, rounded} from '@/utils'
    import {ll_zdxd_mdsy, ll_zdxd_mdsy_txt} from '@/assets/js/excel_template_url'
    import UploadExcel from '@/views/upload-excel'
    import {export_table_to_excel} from '@/utils/Export2Excel'

    export default {
        name: 'll_zdxd_mdsy',
        data: function () {
            return {
                // visible
                exportExcel: false,
                switchflag: false, //switch标记
                uploadExcelVisible: false,
                save_area_visible: false,
                id: undefined,
                category: '理论最大相对密度试验',
                template_download_link: '',
                // array
                // object
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now()
                    },
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            picker.$emit('pick', new Date())
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date()
                            date.setTime(date.getTime() - 3600 * 1000 * 24)
                            picker.$emit('pick', date)
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date()
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
                            picker.$emit('pick', date)
                        }
                    }]
                },
                excelResult: {},
                excelData: {
                    title: '',
                    // 因为有输出的需求  所有表中的数据都要有一份备份 尽量不要计算
                    shaiKongChiCunList: [
                        37.5,
                        31.5,
                        26.5,
                        19.0,
                        16.0,
                        13.2,
                        9.5,
                        4.75,
                        2.36,
                        1.18,
                        0.6,
                        0.3,
                        0.15,
                        0.075
                    ],
                    shaiKongChiCunStrList: ['37_5',
                        '31_5',
                        '26_5',
                        '19_0',
                        '16_0',
                        '13_2',
                        '9_5',
                        '4_75',
                        '2_36',
                        '1_18',
                        '0_6',
                        '0_3',
                        '0_15',
                        '0_075'],
                    jsfTable: {
                        subTitle: '',
                        manufacturers: '未知',
                        title: '京新高速公路工程沥青混合料理论最大相对密度试验',
                        jjggList: ['', '', '', '', '', '', '', ''],
                        pbList: ['', '', '', '', '', '', '', ''],
                        r_bList: ['', '', '', '', '', '', '', ''],
                        r_aList: ['', '', '', '', '', '', '', ''],
                        w_xiList: ['', '', '', '', '', '', '', ''],

                        paList: ['', '', '', '', ''],
                        r_tList: ['', '', '', '', ''],
                        r_tListcopy: ['', '', '', '', ''],
                        isGaixing: false,
                        r_b: '',
                        r_sb: '',
                        r_sa: '',
                        r_se: '',
                        c: '',
                        w_x: '',
                        p_ba: '',
                        r_seFgx: ['', '', '', '', ''],
                        p_b: ['', '', '', '', '']
                    },
                    zkfAlTable: {
                        title: '京新高速公路工程沥青混合料理论最大相对密度试验',
                        m_1: '',
                        lineList: [
                            {
                                ysb: '',
                                groupList: [
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''},
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''}
                                ],
                                ava: '',
                                avacopy: ''
                            },
                            {
                                ysb: '',
                                groupList: [
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''},
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''}
                                ],
                                ava: '',
                                avacopy: ''
                            },
                            {
                                ysb: '',
                                groupList: [
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''},
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''}
                                ],
                                ava: '',
                                avacopy: ''
                            },
                            {
                                ysb: '',
                                groupList: [
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''},
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''}
                                ],
                                ava: '',
                                avacopy: ''
                            },
                            {
                                ysb: '',
                                groupList: [
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''},
                                    {sjbh: '', m_a: '', m_2: '', r_t: ''}
                                ],
                                ava: '',
                                avacopy: ''
                            },
                        ]
                    },
                    infoTable: {
                        shiYanRenYuJiLuRen: '',
                        shiYanRen: '',
                        jiLuRen: '',
                        date: null,
                        beiZhu: ''
                    }
                }
            }
        },
        created() {

            // console.log("哈哈哈哈哈哈哈哈哈哈哈哈")
            let tblt = sessionStorage.getItem("information")
            // let tblt = JSON.parse(sessionStorage.getItem("information"))


            if (tblt != null && tblt != '') {
                let s = JSON.parse(JSON.parse(tblt).tableData)
                // console.log(s)
                // console.log(this.$route.params.information.tableData)
                //从我的记录接收值，然后转换
                // console.log('======---->' + s.title)

                this.excelData = s
                // console.log(this.excelData)
            }
            // ++
            let calCount = {}
            if (localStorage.calCount === undefined) {
                calCount.ll_zdxd_mdsy = 1
                localStorage.calCount = JSON.stringify(calCount)
            } else {
                calCount = JSON.parse(localStorage.calCount)
                calCount.ll_zdxd_mdsy = calCount.ll_zdxd_mdsy ? calCount.ll_zdxd_mdsy + 1 : 1
                localStorage.calCount = JSON.stringify(calCount)
            }
            document.title = calCount.ll_zdxd_mdsy + '-理论最大相对密度试验'
            window.addEventListener('beforeunload', this.countMinus)

            this.init()
        },
        activated() {
        },
        beforeRouteEnter(to, from, next) {
            next()
        },
        beforeRouteLeave(to, from, next) {
            this.countMinus()
            document.title = '沥青混合料级配与马氏智能设计系统'
            window.removeEventListener('beforeunload', this.countMinus)

            next()
        },
        components: {
            UploadExcel
        },
        methods: {
            print() {
                this.$print(this.$refs.print)
                this.save_area_visible = false
            },
            parens2(value) {
                // let self = this ;
                if (value == false) {
                    this.switchflag = false

                    // console.log(this.switchflag + "-------")
                    // this.excelData.jsfTable.r_tList=['', '', '', '', '']

                    for (let i = 0; i < this.excelData.jsfTable.r_tList.length; i++) {
                        // this.excelData.jsfTable.r_tList[i] = this.excelData.zkfAlTable.lineList[i].ava.toFixed(3)
                        this.excelData.jsfTable.r_tList[i] = this.excelData.zkfAlTable.lineList[i].ava.toFixed(3)
                        // console.log("****" + this.excelData.jsfTable.r_tList[i])
                    }


                } else if (value == true) {
                    this.switchflag = true

                    // console.log(this.switchflag + "++++++++++")
                    // this.excelData.jsfTable.r_tList=['', '', '', '', '']

                    // for (let i = 0; i < this.excelData.jsfTable.r_tList.length ; i++) {
                    //     this.excelData.jsfTable.r_tList[i] = this.excelData.jsfTable.r_tListcopy[i]
                    //     // console.log("hhh-->"+this.excelData.jsfTable.r_tList[i])
                    //     // console.log("====>"+this.excelData.jsfTable.r_tListcopy[i])
                    //     // console.log("////" + this.excelData.jsfTable.r_tList[i])
                    // }
                    // console.log("1--->"+this.excelData.jsfTable.r_tListcopy)
                    // console.log("2--->"+this.excelData.zkfAlTable.lineList[0].avacopy)

                }
            },
            countMinus() {
                let calCount = JSON.parse(localStorage.calCount)
                calCount.ll_zdxd_mdsy -= 1
                localStorage.calCount = JSON.stringify(calCount)
            },
            deleteTable(index) {
                // 至少5张表
                if (this.excelData.tableList.length <= 5) {
                    this.$message.warning('至少保留5张表！！！')
                    return
                }
                this.$confirm('此操作将永久删除表 ' + index + ', 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    let tableArrayIndex = this.excelData.tableList.findIndex((el) => {
                        return el.index === index
                    })
                    // 后面的index 改一下
                    // index 之后的表的 index + 1
                    for (let i = index + 1; i <= this.excelData.tableList.length; i++) {
                        let table = this.excelData.tableList.find((el) => {
                            return el.index === i
                        })
                        table.index--
                    }
                    // 删除 index表
                    this.excelData.tableList.splice(tableArrayIndex, 1)
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    })
                })
            },
            clearTable(index) {
                this.$confirm('此操作将永久清除表' + index + '的数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {


                    if (index === 'jsfTable') {
                        for (var i = 0; i < this.excelData.jsfTable.jjggList.length; i++) {
                            // console.log("for循环")

                            this.excelData.jsfTable.jjggList[i] = ''
                            this.excelData.jsfTable.pbList[i] = ''
                            this.excelData.jsfTable.r_bList[i] = ''
                            this.excelData.jsfTable.r_aList[i] = ''
                        }

                        this.excelData.jsfTable.r_b = ''

                        for (var i = 0; i < this.excelData.jsfTable.paList.length; i++) {
                            this.excelData.jsfTable.paList[i] = ''
                        }
                    } else if (index === 'zkfAlTable') {
                        // console.log("疯了")

                        for (var i = 0; i < this.excelData.zkfAlTable.lineList.length; i++) {
                            // console.log("for循环")

                            this.excelData.zkfAlTable.lineList[i].ysb = ''
                            this.excelData.zkfAlTable.lineList[i].groupList[0].sjbh = ''
                            this.excelData.zkfAlTable.m_1 = ''
                            this.excelData.zkfAlTable.lineList[i].groupList[0].m_a = ''
                            this.excelData.zkfAlTable.lineList[i].groupList[0].m_2 = ''
                            this.excelData.zkfAlTable.lineList[i].groupList[1].sjbh = ''
                            this.excelData.zkfAlTable.lineList[i].groupList[1].m_a = ''
                            this.excelData.zkfAlTable.lineList[i].groupList[1].m_2 = ''
                        }


                    } else {
                        // console.log('最后')
                    }


                    this.$message({
                        type: 'success',
                        message: '清除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消清除'
                    })
                })
            },
            popLine(index) {
                // find table
                let table = this.excelData.zkfAlTable
                // 不能多删
                if (table.lineList.length <= 5) {
                    this.$message.warning('无法继续删除！！！')
                    return
                }
                this.$confirm('此操作将永久删除表 ( ' + table.title + ' ) 的末行, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 新增列 顶部  统计已经有多少个 插入 excelData.shaiKong...的前一个
                    table.lineList.pop()
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    })
                })
            },
            deleteRow() {
                // find table
                let table = this.excelData.jsfTable
                // 不能多删
                if (table.jjggList.length <= 5) {
                    this.$message.warning('无法继续删除！！！')
                    return
                }
                this.$confirm('此操作将永久删除表 ( ' + table.title + ' ) 的最后一列, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    table.jjggList.pop(0)
                    table.pbList.pop(0)
                    table.r_bList.pop(0)
                    table.r_aList.pop(0)
                    table.w_xiList.pop(0)
                    table.paList.pop(0)
                    table.r_tList.pop(0)

                    this.excelData.zkfAlTable.lineList.pop()
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    })
                })
            },
            pushLine(index) {
                // find table

                let table = this.excelData.zkfAlTable
                // 不能多加
                if (table.lineList.length >= 14) {
                    this.$message.warning('组数到达上限！！！')
                    return
                }
                this.excelData.jsfTable.jjggList.push('')
                this.excelData.jsfTable.pbList.push('')
                this.excelData.jsfTable.r_bList.push('')
                this.excelData.jsfTable.r_aList.push('')
                this.excelData.jsfTable.w_xiList.push('')
                // 新增列 顶部  统计已经有多少个 插入 excelData.shaiKong...的前一个
                let line = {
                    ysb: '',
                    groupList: [
                        {sjbh: '', m_a: '', m_2: '', r_t: ''},
                        {sjbh: '', m_a: '', m_2: '', r_t: ''}
                    ],
                    ava: ''
                }
                table.lineList.push(line)
            },
            pushRow() {
                // find table
                let table = this.excelData.jsfTable
                // 不能多加
                if (this.excelData.zkfAlTable.lineList.length >= 14) {
                    this.$message.warning('行数到达上限！！！')
                    return
                }
                table.jjggList.push('')
                table.pbList.push('')
                table.r_bList.push('')
                table.r_aList.push('')
                table.w_xiList.push('')
                table.paList.push('')
                table.r_tList.push('')

                let line = {
                    ysb: '',
                    groupList: [
                        {sjbh: '', m_a: '', m_2: '', r_t: ''},
                        {sjbh: '', m_a: '', m_2: '', r_t: ''}
                    ],
                    ava: ''
                }
                this.excelData.zkfAlTable.lineList.push(line)

            },
            duplicateTable(index) {
                // index 之后的表的 index + 1
                for (let i = this.excelData.tableList.length; i > index; i--) {
                    let table = this.excelData.tableList.find((el) => {
                        return el.index === i
                    })
                    table.index++
                }
                // 复制 index表
                let tableArrayIndex = this.excelData.tableList.findIndex((el) => {
                    return el.index === index
                })
                let table = this.excelData.tableList.find((el) => {
                    return el.index === index
                })
                table = JSON.parse(JSON.stringify(table))
                table.index++
                this.excelData.tableList.splice(tableArrayIndex + 1, 0, table)
            },
            init() {
                this.template_download_link = ll_zdxd_mdsy()
            },
            saveMyRecord() {
                this.$http({
                    url: this.$http.adornUrl(`/app/record/${!this.id ? 'save' : 'update'}`),
                    method: 'post',
                    data: this.$http.adornData({
                        'id': this.id || undefined,
                        'userId': this.$store.state.user.id,
                        'category': this.category,
                        'tableData': JSON.stringify(this.excelData),
                        'createTime': this.$DateFormat(new Date())
                    })
                }).then(({data}) => {
                    this.save_area_visible = false
                    if (data && data.code === 0) {
                        this.$message({
                            message: '操作成功',
                            type: 'success',
                            duration: 1500
                        })
                    } else {
                        this.$message.error(data.msg)
                    }
                })
            },
            savePdf() {
                this.$alert('系统未完成!')
            },
            saveWord() {
                this.$alert('系统未完成!')
            },
            saveExcel() {
                var tableId = ['table_01', 'table_02', 'table_03', 'table_04'];
                var sheetName = ['表1', '表2', '表3', '表4'];
                this.exportExcel = true;
                this.$nextTick(() => {
                    export_table_to_excel(tableId, sheetName, '理论最大相对密度试验.xlsx');
                    this.exportExcel = false
                    this.save_area_visible = false
                })
            },
            uploadTemplateHandle() {
                this.uploadExcelVisible = true;
                this.$nextTick(() => {
                    this.$refs.uploadExcel.init()
                })
            },
            readExcelResult(result) {
                Object.assign(this.$data, this.$options.data())
                let url = ll_zdxd_mdsy_txt()
                let that = this
                // that.excelData.tableList[0].title = result[0]['__EMPTY']
                let textFileLocation = url

                fetch(textFileLocation).then((res) => {
                    return res.text()
                }).then((text) => {
                    // console.log(text)
                    let lines = text.split('\n');
                    for (let line = 0; line < lines.length; line++) {
                        // console.log(lines[line]);
                        // 这里处理每行的读取语句
                        try {
                            // let command = lines[line].split("=")
                            // console.log("command==="+command)
                            // let content
                            // // // 判断 是否包含
                            // if(command[0].indexOf("jsfTable.pbList")){
                            //     content = rounded(eval(command[1]),0)
                            // }else if(command[0].indexOf("jsfTable.r_bList")){
                            //     content = rounded(eval(command[1]),3)
                            // }else if(command[0].indexOf("jsfTable.r_aList")){
                            //     content = rounded(eval(command[1]),3)
                            // }else if(command[0].indexOf("jjsfTable.paList")){
                            //     content = rounded(eval(command[1]),1)
                            // }else if(command[0].indexOf("zkfAlTable")){
                            //     content = rounded(eval(command[1]),1)
                            // }else {
                            //     content = rounded(eval(command[1]),0)
                            // }
                            // eval(command[0] + "= '" + content + "'")

                            // console.log("lines[line]==="+lines[line])
                            eval(lines[line])
                        } catch (e) {
                            console.log(e)
                            console.log(`error in line ${line + 1} : ${lines[line]}`)
                            // 这里写遇见错误的处理
                        }
                        // console.log("result[10]['__EMPTY']====" + result[10]['__EMPTY'])
                        // console.log("excelData.jsfTable.paList[0]====" + this.excelData.jsfTable.paList[0])
                        // console.log("excelData.zkfAlTable.lineList[0].ysb====" + this.excelData.zkfAlTable.lineList[0].ysb)
                        // console.log("excelData.zkfAlTable.lineList[0].groupList[0].sjbh====" + this.excelData.zkfAlTable.lineList[0].groupList[0].sjbh)
                    }
                })

                // let that = this
                // import('../../../utils/excelReadJsonStr')
                //     .then(util => {
                //         let strList = []
                //         util.dfs(result, 'result', strList)
                //         console.log(strList.join('\n'))
                //     })


                // this.excelData.jsfTable.title = result[0]['__EMPTY_1']
                // this.excelData.jsfTable.jjggList[0] = result[1]['__EMPTY_2']
                // this.excelData.jsfTable.jjggList[1] = result[1]['__EMPTY_3']
                // this.excelData.jsfTable.jjggList[2] = result[1]['__EMPTY_4']
                // this.excelData.jsfTable.jjggList[3] = result[1]['__EMPTY_5']
                // this.excelData.jsfTable.jjggList[4] = result[1]['__EMPTY_6']
                // this.excelData.jsfTable.jjggList[5] = result[1]['__EMPTY_7']
                // this.excelData.jsfTable.jjggList[6] = result[1]['__EMPTY_8']
                // this.excelData.jsfTable.jjggList[7] = result[1]['__EMPTY_9']
                // this.excelData.jsfTable.pbList[0] = result[2]['__EMPTY_2']
                // this.excelData.jsfTable.pbList[1] = result[2]['__EMPTY_3']
                // this.excelData.jsfTable.pbList[2] = result[2]['__EMPTY_4']
                // this.excelData.jsfTable.pbList[3] = result[2]['__EMPTY_5']
                // this.excelData.jsfTable.pbList[4] = result[2]['__EMPTY_6']
                // this.excelData.jsfTable.pbList[5] = result[2]['__EMPTY_7']
                // this.excelData.jsfTable.pbList[6] = result[2]['__EMPTY_8']
                // this.excelData.jsfTable.pbList[7] = result[2]['__EMPTY_9']
                // this.excelData.jsfTable.r_bList[0] = result[3]['__EMPTY_2']
                // this.excelData.jsfTable.r_bList[1] = result[3]['__EMPTY_3']
                // this.excelData.jsfTable.r_bList[2] = result[3]['__EMPTY_4']
                // this.excelData.jsfTable.r_bList[3] = result[3]['__EMPTY_5']
                // this.excelData.jsfTable.r_bList[4] = result[3]['__EMPTY_6']
                // this.excelData.jsfTable.r_bList[5] = result[3]['__EMPTY_7']
                // this.excelData.jsfTable.r_bList[6] = result[3]['__EMPTY_8']
                // this.excelData.jsfTable.r_bList[7] = result[3]['__EMPTY_9']
                // this.excelData.jsfTable.r_aList[0] = result[4]['__EMPTY_2']
                // this.excelData.jsfTable.r_aList[1] = result[4]['__EMPTY_3']
                // this.excelData.jsfTable.r_aList[2] = result[4]['__EMPTY_4']
                // this.excelData.jsfTable.r_aList[3] = result[4]['__EMPTY_5']
                // this.excelData.jsfTable.r_aList[4] = result[4]['__EMPTY_6']
                // this.excelData.jsfTable.r_aList[5] = result[4]['__EMPTY_7']
                // this.excelData.jsfTable.r_aList[6] = result[4]['__EMPTY_8']
                // this.excelData.jsfTable.r_aList[7] = result[4]['__EMPTY_9']
                // this.excelData.jsfTable.w_xiList[0] = result[5]['__EMPTY_2']
                // this.excelData.jsfTable.w_xiList[1] = result[5]['__EMPTY_3']
                // this.excelData.jsfTable.w_xiList[2] = result[5]['__EMPTY_4']
                // this.excelData.jsfTable.w_xiList[3] = result[5]['__EMPTY_5']
                // this.excelData.jsfTable.w_xiList[4] = result[5]['__EMPTY_6']
                // this.excelData.jsfTable.w_xiList[5] = result[5]['__EMPTY_7']
                // this.excelData.jsfTable.w_xiList[6] = result[5]['__EMPTY_8']
                // this.excelData.jsfTable.w_xiList[7] = result[5]['__EMPTY_9']
                // this.excelData.jsfTable.paList[0] = result[6]['__EMPTY_2']
                // this.excelData.jsfTable.paList[1] = result[6]['__EMPTY_3']
                // this.excelData.jsfTable.paList[2] = result[6]['__EMPTY_4']
                // this.excelData.jsfTable.paList[3] = result[6]['__EMPTY_5']
                // this.excelData.jsfTable.paList[4] = result[6]['__EMPTY_6']
                // this.excelData.jsfTable.paList[5] = result[6]['__EMPTY_7']
                // this.excelData.jsfTable.r_b = result[6]['__EMPTY_9']
                // this.excelData.zkfAlTable.title = result[11]['__EMPTY_1']
                // this.excelData.zkfAlTable.lineList[0].ysb = result[13]['__EMPTY_1']
                // this.excelData.zkfAlTable.lineList[0].groupList[0].sjbh = result[13]['__EMPTY_2']
                // this.excelData.zkfAlTable.m_1 = result[13]['__EMPTY_3']
                // this.excelData.zkfAlTable.lineList[0].groupList[0].m_a = result[13]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[0].groupList[0].m_2 = result[13]['__EMPTY_5']
                // this.excelData.zkfAlTable.lineList[0].groupList[1].sjbh = result[14]['__EMPTY_2']
                // this.excelData.zkfAlTable.lineList[0].groupList[1].m_a = result[14]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[0].groupList[1].m_2 = result[14]['__EMPTY_5']
                // this.excelData.zkfAlTable.lineList[1].ysb = result[15]['__EMPTY_1']
                // this.excelData.zkfAlTable.lineList[1].groupList[0].sjbh = result[15]['__EMPTY_2']
                // this.excelData.zkfAlTable.lineList[1].groupList[0].m_a = result[15]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[1].groupList[0].m_2 = result[15]['__EMPTY_5']
                // this.excelData.zkfAlTable.lineList[1].groupList[1].sjbh = result[16]['__EMPTY_2']
                // this.excelData.zkfAlTable.lineList[1].groupList[1].m_a = result[16]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[1].groupList[1].m_2 = result[16]['__EMPTY_5']
                // this.excelData.zkfAlTable.lineList[2].ysb = result[17]['__EMPTY_1']
                // this.excelData.zkfAlTable.lineList[2].groupList[0].sjbh = result[17]['__EMPTY_2']
                // this.excelData.zkfAlTable.lineList[2].groupList[0].m_a = result[17]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[2].groupList[0].m_2 = result[17]['__EMPTY_5']
                // this.excelData.zkfAlTable.lineList[2].groupList[1].sjbh = result[18]['__EMPTY_2']
                // this.excelData.zkfAlTable.lineList[2].groupList[1].m_a = result[18]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[2].groupList[1].m_2 = result[18]['__EMPTY_5']
                // this.excelData.zkfAlTable.lineList[3].ysb = result[19]['__EMPTY_1']
                // this.excelData.zkfAlTable.lineList[3].groupList[0].sjbh = result[19]['__EMPTY_2']
                // this.excelData.zkfAlTable.lineList[3].groupList[0].m_a = result[19]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[3].groupList[0].m_2 = result[19]['__EMPTY_5']
                // this.excelData.zkfAlTable.lineList[3].groupList[1].sjbh = result[20]['__EMPTY_2']
                // this.excelData.zkfAlTable.lineList[3].groupList[1].m_a = result[20]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[3].groupList[1].m_2 = result[20]['__EMPTY_5']
                // this.excelData.zkfAlTable.lineList[4].ysb = result[21]['__EMPTY_1']
                // this.excelData.zkfAlTable.lineList[4].groupList[0].sjbh = result[21]['__EMPTY_2']
                // this.excelData.zkfAlTable.lineList[4].groupList[0].m_a = result[21]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[4].groupList[0].m_2 = result[21]['__EMPTY_5']
                // this.excelData.zkfAlTable.lineList[4].groupList[1].sjbh = result[22]['__EMPTY_2']
                // this.excelData.zkfAlTable.lineList[4].groupList[1].m_a = result[22]['__EMPTY_4']
                // this.excelData.zkfAlTable.lineList[4].groupList[1].m_2 = result[22]['__EMPTY_5']
                // this.excelData.infoTable.shiYanRenYuJiLuRen = result[25]['__EMPTY_2']
                // this.excelData.infoTable.date = result[25]['__EMPTY_6']
                // this.excelData.infoTable.beiZhu = result[25]['__EMPTY_8']
            }
        },
        computed: {},
        watch: {
            'excelData.jsfTable': {
                handler: function () {
                    let table = this.excelData.jsfTable
                    // w_xi 只计算到之前的一列
                    for (let i = 0; i < table.w_xiList.length; i++) {
                        table.w_xiList[i] = sub(div(1, table.r_bList[i]), div(1, table.r_aList[i])) * 100
                    }
                    // r_sb r_sa
                    // table.r_sb = div(100, [...Array(table.pbList.length)].map(function (value, index) {
                    //   return div(table.pbList[index], table.r_bList[index])
                    // }))
                    let num1 = 0
                    for (let i = 0; i < table.pbList.length; i++) {
                        num1 += (table.pbList[i] / table.r_bList[i])
                    }
                    // console.log("num=>" +num)
                    table.r_sb = 100 / (num1)

                    // table.r_sa = div(100, sum([...Array(table.pbList.length)].map(function (value, index) {
                    //   return div(table.pbList[index], table.r_aList[index])
                    // })))

                    let num2 = 0
                    for (let i = 0; i < table.pbList.length; i++) {
                        num2 += (table.pbList[i] / table.r_aList[i])
                    }
                    // console.log("num=>" +num)
                    table.r_sa = 100 / (num2)


                    // table.w_x = mul(sub(div(1, table.r_sb), div(1, 1, table.r_sa)), 100)
                    table.w_x = ((1 / table.r_sb) - (1 / table.r_sa)) * 100
                    table.c = sub(mul(0.033, Math.pow(table.w_x, 2)), mul(0.2936, table.w_x)) + 0.9339
                    // table.r_se = add(mul(table.c, table.r_sa), mul(sub(1, table.c), table.r_sb))
                    //   console.log("table.c=="+table.c +"----table.r_sa=="+table.r_sa +"----table.r_sb=="+table.r_sb)
                    table.r_se = (table.c * table.r_sa) + (1 - table.c) * table.r_sb
                    // table.p_ba = mul(div(sub(table.r_se, table.r_b), mul(table.r_se, table.r_sb)), table.r_b) * 100
                    table.p_ba = (table.r_se - table.r_sb) / table.r_se / table.r_sb * table.r_b * 100

                    for (let i = 0; i < table.r_tList.length; i++) {
                        if (this.switchflag == true) {
                            // table.r_tList[i] = div(add(100, table.paList[i]), add(div(100, table.r_se), div(table.paList[i], table.r_b)))
                            table.r_tList[i] = (100 + parseFloat(table.paList[i])) / ((100 / table.r_se) + (table.paList[i] / table.r_b))

                        }
                        table.r_tListcopy[i] = table.r_tList[i]
                    }
                    // 这段代码为什么会报错??
                    // table.r_tList = [...new Array(table.paList.length)].map(function (value, index) {
                    //   return div(add(100, table.paList[index]), add(div(100, table.r_se), div(table.paList[index], table.r_b)))
                    // });

                    let fixCount = 0
                    table.pbList = this.$NumFormat(fixCount, table.pbList)
                    fixCount = 1
                    table.paList = this.$NumFormat(fixCount, table.paList)
                    fixCount = 2
                    table.w_xiList = this.$NumFormat(fixCount, table.w_xiList)
                    fixCount = 3
                    table.r_aList = this.$NumFormat(fixCount, table.r_aList)
                    table.r_bList = this.$NumFormat(fixCount, table.r_bList)
                    table.r_tList = this.$NumFormat(fixCount, table.r_tList)
                    // console.log("-----" + table.r_tList)
                    table.r_b =
                        this.$NumFormat(fixCount, table.r_b)
                },
                deep: true
            },
            'excelData.zkfAlTable': {
                handler: function () {
                    let table = this.excelData.zkfAlTable
                    table.lineList.forEach((line, index) => {
                        line.groupList[0].r_t = div(line.groupList[0].m_a, sub(line.groupList[0].m_a, sub(line.groupList[0].m_2, table.m_1)))
                        line.groupList[1].r_t = div(line.groupList[1].m_a, sub(line.groupList[1].m_a, sub(line.groupList[1].m_2, table.m_1)))
                        line.ava = add(line.groupList[0].r_t, line.groupList[1].r_t) / 2
                        let fixCount = 1;
                        [line.ysb, table.m_1] = this.$NumFormat(fixCount, [line.ysb, table.m_1]);
                        [line.groupList[0].m_a, line.groupList[0].m_2, line.groupList[1].m_a, line.groupList[1].m_2] =
                            this.$NumFormat(fixCount, [line.groupList[0].m_a, line.groupList[0].m_2, line.groupList[1].m_a, line.groupList[1].m_2])
                    })
                    for (let i = 0; i < this.excelData.zkfAlTable.lineList.length; i++) {
                        if (this.excelData.zkfAlTable.lineList[i].ysb != null || this.excelData.zkfAlTable.lineList[i].ysb != '') {
                            this.excelData.jsfTable.paList[i] = this.excelData.zkfAlTable.lineList[i].ysb
                        }

                        if (this.switchflag == false) {
                            this.excelData.jsfTable.r_tList[i] = this.excelData.zkfAlTable.lineList[i].ava.toFixed(3)
                        }
                        this.excelData.zkfAlTable.lineList[i].avacopy = this.excelData.zkfAlTable.lineList[i].ava.toFixed(3)
                        // this.excelData.jsfTable.r_tListcopy[i] = this.excelData.jsfTable.r_tList[i]
                        // console.log("->"+this.excelData.jsfTable.r_tList[i])
                    }
                    for (let i = 0; i < this.excelData.jsfTable.r_tList.length; i++) {
                        if (this.switchflag == true) {

                            // this.excelData.jsfTable.r_tList[i] = div(add(100, this.excelData.jsfTable.paList[i]), add(div(100, this.excelData.jsfTable.r_se), div(this.excelData.jsfTable.paList[i], this.excelData.jsfTable.r_b)))
                            table.r_tList[i] = (100 + parseFloat(table.paList[i])) / (100 / table.r_se) + (table.paList[i] / table.r_b)
                        }
                    }
                },
                deep: true
            }
        }
    }
</script>
<style slot-scope>


    input,
    textarea,
    select {
        appearance: none !important;
        -moz-appearance: textfield !important;
        outline: none !important;
        -moz-outline: none !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
    }

    /* input{
            -moz-appearance:textfield;
      } */
</style>

