<template>
    <div>
        <!--保存-->
        <div id="save_area" v-if="save_area_visible">
            <div class="save_bg">
                <!--        <a v-print="'#print'" class="save_btn">-->
                <a @click="print" class="save_btn">
                    <span class="save_btn_text">保存为PDF</span>
                    <span class="save_btn_icon">
            <img class="save_btn_icon_pdf" src="~@/assets/icon/pdf.jpg"/>
          </span>
                </a>
                <a @click="saveWord" class="save_btn">
                    <span class="save_btn_text">保存为Word</span>
                    <span class="save_btn_icon">
            <img class="save_btn_icon_pdf" src="~@/assets/icon/word.jpg"/>
          </span>
                </a>
                <a @click="saveExcel" class="save_btn">
                    <span class="save_btn_text">保存为Excel</span>
                    <span class="save_btn_icon">
            <img class="save_btn_icon_pdf" src="~@/assets/icon/excel.jpg"/>
          </span>
                </a>
                <a @click="saveMyRecord" class="save_btn">保存到我的记录</a>
            </div>
            <a class="save_btn_close save_btn" style="margin-top: 60px;" id="save_close"
               @click="save_area_visible=false">取消</a>
            <div class="floatLayer"></div>
        </div>


        <el-dialog title="提示" :visible.sync="dialogVisible2" width="30%" :before-close="handleClose">
            <table style="width: 90%">
                <tr>
                    <td>筛孔尺寸(mm)</td>
                    <td colspan="3">目标变化1</td>
                </tr>
                <tr v-for="(line,index) in excelData.jpsjTable.skccStrList" :key="index">
                    <td>{{line}}</td>
                    <td>
                        <button @click="handleChange1(1,index,excelData.jpsjTable.mubiaobianhua1[index])">-</button>
                    </td>
                    <td>{{isNaN(excelData.jpsjTable.mubiaobianhua1[index]) ? ''
                        :excelData.jpsjTable.mubiaobianhua1[index]}}
                    </td>
                    <td>
                        <button @click="handleChange1(2,index,excelData.jpsjTable.mubiaobianhua1[index])">+</button>
                    </td>
                </tr>
            </table>
            <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible2 = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible2 = false">确 定</el-button>
      </span>
        </el-dialog>

        <el-dialog title="提示" :visible.sync="dialogVisible1" width="30%" :before-close="handleClose">
            <table style="width: 90%">
                <tr>
                    <td>筛孔尺寸(mm)</td>
                    <td colspan="3">目标变化2</td>
                </tr>
                <tr v-for="(line,index) in excelData.jpsjTable.skccStrList" :key="index">
                    <td>{{line}}</td>
                    <td>
                        <button @click="handleChange2(1,index,excelData.jpsjTable.mubiaobianhua2[index])">-</button>
                    </td>
                    <td>{{excelData.jpsjTable.mubiaobianhua2[index]}}</td>
                    <td>
                        <button @click="handleChange2(2,index,excelData.jpsjTable.mubiaobianhua2[index])">+</button>
                    </td>
                </tr>
            </table>
            <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible1 = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible1 = false">确 定</el-button>
      </span>
        </el-dialog>

        <upload-excel v-if="uploadExcelVisible" ref="uploadExcel" @excelResult="readExcelResult"></upload-excel>
        <template>
            <section ref="print">
                <div class="site">
                    <a href="#/">首页</a>
                    <span class="site_next">></span>
                    <a href="#/znjpsj">智能级配设计</a>
                </div>

                <!--内容区域-->
                <div class="content" id="print">
                    <div class="no-print">
                        <div class="calculator_tlt">
                            <div class="calculator_tlt_left">
                                <a @click="uploadTemplateHandle" class="calculator_btn">导入</a>
                                <a class="calculator_btn" id="save" @click="save_area_visible=true">保存</a>
                                <a class="calculator_btn" @click="calcul">计算智能级配</a>
                            </div>
                            <div class="calculator_tlt_right">
                                <a :href="template_download_link" class="calculator_btn">下载模版</a>
                            </div>
                        </div>
                    </div>
                    <div class="excel_operate" id="table_01">
                        <div class="no-print">
                            <a @click="dialogVisible1 = true" class="calculator_btn">目标变化2</a>
                            <a @click="dialogVisible2 = true" class="calculator_btn">目标变化1</a>
                            <a @click="clearData" class="calculator_btn calculator_btn_red">清空数据</a>
                            <a @click="popLine" class="calculator_btn calculator_btn_orange">删除行</a>
                            <a @click="popRow" class="calculator_btn calculator_btn_orange">删除列</a>
                            <a @click="pushLine" class="calculator_btn">新增行</a>
                            <a @click="pushRow" class="calculator_btn">新增列</a>
                        </div>
                        <table class="table_01">
                            <tr>
                                <td class="bg_b" colspan="30">
                                    <span v-if="exportExcel">{{excelData.jpsjTable.title}}</span>
                                    <input type="text" class="table_input" v-model.number="excelData.jpsjTable.title"/>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">工程名称</td>
                                <td colspan="5" class="bg_b">
                                    <span v-if="exportExcel">{{excelData.jpsjTable.manufacturers}}</span>
                                    <input type="text" v-model="excelData.jpsjTable.manufacturers" class="table_input"/>
                                </td>
                                <td colspan="4">级配类型</td>
                                <td colspan="15" class="bg_b">
                                    <span v-if="exportExcel">{{excelData.jpsjTable.subTitle}}</span>
                                    <input type="text" v-model="excelData.jpsjTable.subTitle" class="table_input"/>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2">筛孔尺寸(mm)</td>
                                <td :colspan="tongguobai">原材料规格与通过百分率（%）</td>
                                <td colspan="4">智能级配设计</td>
                                <td colspan="4">设计级配范围（%）</td>
                            </tr>
                            <tr>
                                <td v-for="(str,index) in excelData.jpsjTable.yclggStrList" :key="index" class="bg_b">
                                    <span v-if="exportExcel">{{excelData.jpsjTable.yclggStrList[index]}}</span>
                                    <input
                                        type="text"
                                        class="table_input"
                                        v-model="excelData.jpsjTable.yclggStrList[index]"
                                    />
                                </td>
                                <td>ID<sub>1</sub></td>
                                <td>ID<sub>2</sub></td>
                                <td>ID<sub>3</sub></td>
                                <td>MID</td>
                                <td>目标</td>
                                <td>上限</td>
                                <td>下限</td>
                            </tr>
                            <tr v-for="(line,index) in excelData.jpsjTable.skccStrList" :key="index">
                                <td>{{line}}</td>
                                <td
                                    v-for="(cell,jndex) in excelData.jpsjTable.skccMatrix[index]"
                                    :key="jndex"
                                    class="bg_g"
                                >
                                    <span v-if="exportExcel">{{excelData.jpsjTable.skccMatrix[index][jndex]}}</span>
                                    <input
                                        @focus="$event.target.select()"
                                        type="number"
                                        class="table_input"
                                        v-model.number="excelData.jpsjTable.skccMatrix[index][jndex]"
                                    />
                                </td>
                                <td class="bg_y">
                                    {{isNaN(excelData.jpsjTable.znjpsj.znjp1[index]) ? '':
                                    excelData.jpsjTable.znjpsj.znjp1[index] ==null ||
                                    excelData.jpsjTable.znjpsj.znjp1[index] ==
                                    '' ? '' :excelData.jpsjTable.znjpsj.znjp1[index].toFixed(1) ==100 ? 100:
                                    excelData.jpsjTable.znjpsj.znjp1[index].toFixed(1) }}
                                </td>
                                <td class="bg_y">
                                    {{isNaN(excelData.jpsjTable.znjpsj.znjp2[index]) ? '':
                                    excelData.jpsjTable.znjpsj.znjp2[index] ==null ||
                                    excelData.jpsjTable.znjpsj.znjp2[index] ==
                                    '' ? '' : excelData.jpsjTable.znjpsj.znjp2[index].toFixed(1) ==100 ? 100:
                                    excelData.jpsjTable.znjpsj.znjp2[index].toFixed(1) }}
                                </td>
                                <td class="bg_y">
                                    {{isNaN(excelData.jpsjTable.znjpsj.znjp3[index]) ? '':
                                    excelData.jpsjTable.znjpsj.znjp3[index] ==null ||
                                    excelData.jpsjTable.znjpsj.znjp3[index] ==
                                    '' ? '' : excelData.jpsjTable.znjpsj.znjp3[index].toFixed(1) ==100 ? 100:
                                    excelData.jpsjTable.znjpsj.znjp3[index].toFixed(1) }}
                                </td>
                                <td class="bg_y">
                                    {{isNaN(excelData.jpsjTable.znjpsj.rgwtjp[index]) ? '':
                                    excelData.jpsjTable.znjpsj.rgwtjp[index] ==null ||
                                    excelData.jpsjTable.znjpsj.rgwtjp[index]
                                    == '' ? '' : excelData.jpsjTable.znjpsj.rgwtjp[index] ==100 ? 100:
                                    excelData.jpsjTable.znjpsj.rgwtjp[index].toFixed(1) }}
                                </td>
                                <td class="bg_g">
                                    <span v-if="exportExcel">{{excelData.jpsjTable.sjjpfw.mbjp[index]}}</span>
                                    <input
                                        @focus="$event.target.select()"
                                        type="number"
                                        class="table_input"
                                        v-model.number="excelData.jpsjTable.sjjpfw.mbjp[index]"
                                    />
                                </td>
                                <td class="bg_g">
                                    <span v-if="exportExcel">{{excelData.jpsjTable.sjjpfw.sx[index]}}</span>
                                    <input
                                        @focus="$event.target.select()"
                                        type="number"
                                        class="table_input"
                                        v-model.number="excelData.jpsjTable.sjjpfw.sx[index]"
                                    />
                                </td>
                                <td class="bg_g">
                                    <span v-if="exportExcel">{{excelData.jpsjTable.sjjpfw.xx[index]}}</span>
                                    <input
                                        @focus="$event.target.select()"
                                        type="number"
                                        class="table_input"
                                        v-model.number="excelData.jpsjTable.sjjpfw.xx[index]"
                                    />
                                </td>
                            </tr>
                            <tr>
                                <td>智能级配1配比(%)</td>
                                <template v-for="cell in excelData.jpsjTable.znjppb.znjp1">
                                    <td class="bg_y">{{(cell) == ''?(cell) : cell ==100 ? 100 :(cell).toFixed(0)}}</td>
                                </template>
                                <td colspan="5">配比合计∑</td>
                                <td
                                    colspan="5"
                                    class="bg_y"
                                    align="right"
                                >{{isNaN(excelData.jpsjTable.znjppbSum.znjp1) ? '':(excelData.jpsjTable.znjppbSum.znjp1)
                                    == '' ? '' : (excelData.jpsjTable.znjppbSum.znjp1).toFixed(0)}}
                                </td>
                            </tr>
                            <tr>
                                <td>智能级配2配比(%)</td>
                                <template v-for="cell in excelData.jpsjTable.znjppb.znjp2">
                                    <td class="bg_y">{{(cell)==''?(cell): cell ==100 ? 100 :(cell).toFixed(0)}}</td>
                                </template>
                                <td colspan="5">配比合计∑</td>
                                <td
                                    colspan="5"
                                    class="bg_y"
                                    align="right"
                                >{{isNaN(excelData.jpsjTable.znjppbSum.znjp2) ?
                                    '':(excelData.jpsjTable.znjppbSum.znjp2)=='' ?
                                    '':(excelData.jpsjTable.znjppbSum.znjp2).toFixed(0)}}
                                </td>
                            </tr>
                            <tr>
                                <td>智能级配3配比(%)</td>
                                <template v-for="cell in excelData.jpsjTable.znjppb.znjp3">
                                    <td class="bg_y">{{(cell)==''?(cell): cell ==100 ? 100 :(cell).toFixed(0)}}</td>
                                </template>
                                <td colspan="5">配比合计∑</td>
                                <td
                                    colspan="5"
                                    class="bg_y"
                                    align="right"
                                >{{isNaN(excelData.jpsjTable.znjppbSum.znjp3) ?
                                    '':(excelData.jpsjTable.znjppbSum.znjp3)=='' ?
                                    '':(excelData.jpsjTable.znjppbSum.znjp3).toFixed(0)}}
                                </td>
                            </tr>
                            <tr>
                                <td>人工微调级配(%)</td>
                                <template v-for="(cell,index) in excelData.jpsjTable.znjppb.rgwtjp">
                                    <td class="bg_g">
                                        <span v-if="exportExcel">{{excelData.jpsjTable.znjppb.rgwtjp[index]}}</span>
                                        <el-input-number
                                            v-model="excelData.jpsjTable.znjppb.rgwtjp[index]"
                                            controls-position="right"
                                            :min="0"
                                            :max="100"
                                        ></el-input-number>
                                    </td>
                                </template>
                                <td colspan="5">配比合计∑</td>
                                <td colspan="5" class="bg_y" align="right">{{excelData.jpsjTable.znjppbSum.rgwtjp}}</td>
                            </tr>
                            <tr>
                                <td>符号意义</td>
                                <td colspan="15">
                                    <div style="text-align: left">
                                        ID<sub>1</sub>：智能级配1；
                                        ID<sub>2</sub>：智能级配2；
                                        ID<sub>3</sub>：智能级配3；
                                        MID：人工微调级配；
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="no-print">
                        <a class="calculator_btn" @click="chartProcess()" style="margin-top:15px;">更新图表</a>
                    </div>
                    <div class="excel_echarts_3" style="padding: 5px;background-color: white">

                        <div class="excel_echarts_3_1">
                                <v-chart :options="znjpEchartOption"></v-chart>
                        </div>
                        <div class="excel_echarts_3_2">
                            <v-chart :options="rgwtEchartOption"></v-chart>
                        </div>
                    </div>
                    <table class="table_01" id="table_02">
                        <tr>
                            <td>相关说明</td>
                            <td colspan="6">
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                                <p class="explain"></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan>实验人与记录人</td>
                            <td class="bg_g">
                                <input type="text" value class="table_input" placeholder="实验人"/>
                            </td>
                            <td class="bg_g">
                                <input type="text" value class="table_input" placeholder="记录人"/>
                            </td>
                            <td>日期</td>
                            <td class="bg_g">
                                <input type="date" value="实验人" class="table_input"/>
                            </td>
                            <td>备注</td>
                            <td class="bg_g">
                                <input type="text" value class="table_input" placeholder="填写备注"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan>审核人</td>
                            <td colspan="2" class="bg_g"></td>
                            <td>日期</td>
                            <td class="bg_g"></td>
                            <td>备注</td>
                            <td class="bg_g">
                                <input type="text" value class="table_input" placeholder="填写备注"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan>批准人</td>
                            <td colspan="2" class="bg_g"></td>
                            <td>日期</td>
                            <td class="bg_g"></td>
                            <td>备注</td>
                            <td class="bg_g">
                                <input type="text" value class="table_input" placeholder="填写备注"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </template>
    </div>
</template>
<script>
    import * as tf from '@tensorflow/tfjs'
    import {inverse} from '@/utils/matrix'
    import {sum, add, sub, mul, div, readExcelCell, rounded} from '@/utils'
    import {znjpsj, znjpsj_txt} from '@/assets/js/excel_template_url'
    import UploadExcel from '@/views/upload-excel'
    import {export_table_to_excel} from '@/utils/Export2Excel'

    export default {
        name: 'znjpsj',
        data: function () {
            return {
                interval: '',
                dialogTableVisible: false,
                dialogFormVisible: false,
                dialogVisible1: false,
                dialogVisible2: false,
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                },
                formLabelWidth: '120px',
                steplength1: 3,
                steplength2: 5,
                tongguobai: 6,
                exportExcel: false,
                uploadExcelVisible: false,
                save_area_visible: false,
                output: null,
                category: '智能级配设计',
                template_download_link: '',
                num1: 2,
                num2: 4,
                lastData: null,
                excelData: {
                    shaiKongChiCunList: [
                        37.5,
                        31.5,
                        26.5,
                        19.0,
                        16.0,
                        13.2,
                        9.5,
                        4.75,
                        2.36,
                        1.18,
                        0.6,
                        0.3,
                        0.15,
                        0.075
                    ],
                    shaiKongChiCunStrList: ['37_5',
                        '31_5',
                        '26_5',
                        '19_0',
                        '16_0',
                        '13_2',
                        '9_5',
                        '4_75',
                        '2_36',
                        '1_18',
                        '0_6',
                        '0_3',
                        '0_15',
                        '0_075'],
                    title: '',
                    jpsjTable: {
                        title: '',
                        subTitle: '',
                        manufacturers: '',
                        skccStrList: [
                            '31.5', '26.5', '19.0', '16.0', '13.2', '9.5', '4.75', '2.36', '1.18', '0.6', '0.3', '0.15', '0.075'
                        ],
                        mubiaobianhua1: ['', '', '', '', '', '', '', '', '', '', '', '', ''],
                        mubiaobianhua2: ['', '', '', '', '', '', '', '', '', '', '', '', ''],
                        yclggStrList: [
                            '20—30mm', '10—20mm', '5—10mm', '3~5mm', '0—3mm', '矿粉'
                        ],
                        skccMatrix: [
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', ''],
                            ['', '', '', '', '', '']
                        ],
                        sjjpfw: {
                            mbjp: ['',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                ''
                            ],
                            sx: ['',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                ''
                            ],
                            xx: ['',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                ''
                            ],
                            zz: ['',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                ''
                            ]
                        },
                        znjppb: {
                            znjp1: ['', '', '', '', '', ''],
                            znjp2: ['', '', '', '', '', ''],
                            znjp3: ['', '', '', '', '', ''],
                            rgwtjp: ['', '', '', '', '', '']
                        },
                        znjppbSum: {
                            znjp1: '',
                            znjp2: '',
                            znjp3: '',
                            rgwtjp: ''
                        },
                        znjpsj: {
                            znjp1: ['',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                ''
                            ],
                            znjp2: ['',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                ''
                            ],
                            znjp3: ['',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                ''
                            ],
                            rgwtjp: ['',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                '',
                                ''
                            ]
                        }
                    },
                    infoTable: {
                        shuoMing: '',
                        shiYanRenYuJiLuRen: '',
                        shiYanRen: '',
                        jiLuRen: '',
                        date: null,
                        beiZhu: ''
                    }
                },
                znjpEchartOption: {
                    legend: {
                        data: []
                    },
                    xAxis: {
                        type: 'value',
                        name: '筛分尺寸(mm)',
                        nameLocation: 'center',
                        nameTextStyle: {padding: [15, 0, 0, 0]},
                        nameGap: 30,
                        min: 0,
                        max: 5.5,
                        axisLabel: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        min: 0,
                        max: 100,
                        name: '通过百分率(%)',
                        nameLocation: 'center',
                        nameTextStyle: {padding: [0, 0, 30, 0]}
                    },
                    series: [
                        {
                            type: 'bar',
                            name: 'x轴坐标',
                            cursor: 'none',
                            data: [],
                            itemStyle: {
                                color: '#FFF'
                            },
                            label: {
                                show: true,
                                position: 'bottom',
                                distance: 20,
                                align: 'right',
                                verticalAlign: 'middle',
                                rotate: 90,
                                fontSize: 13,
                                color: '#000',
                                formatter: function (value) {
                                    let shaiKongChiCunList = [37.5,
                                        31.5,
                                        26.5,
                                        19.0,
                                        16.0,
                                        13.2,
                                        9.5,
                                        4.75,
                                        2.36,
                                        1.18,
                                        0.6,
                                        0.3,
                                        0.15,
                                        0.075
                                    ]
                                    return shaiKongChiCunList[shaiKongChiCunList.length - 1 - value.dataIndex] + ''
                                }
                            },
                            data: [
                                Math.pow(0.075, 0.45),
                                Math.pow(0.15, 0.45),
                                Math.pow(0.3, 0.45),
                                Math.pow(0.6, 0.45),
                                Math.pow(1.18, 0.45),
                                Math.pow(2.36, 0.45),
                                Math.pow(4.75, 0.45),
                                Math.pow(9.5, 0.45),
                                Math.pow(13.2, 0.45),
                                Math.pow(16.0, 0.45),
                                Math.pow(19.0, 0.45),
                                Math.pow(26.5, 0.45),
                                Math.pow(31.5, 0.45),
                                Math.pow(37.5, 0.45)
                            ]
                        }]
                },
                rgwtEchartOption: {
                    grid: {
                        x: 80
                    },
                    legend: {
                        data: []
                    },
                    xAxis: {
                        type: 'value',
                        name: '筛分尺寸(mm)',
                        nameLocation: 'center',
                        nameTextStyle: {padding: [15, 0, 0, 0]},
                        nameGap: 30,
                        min: 0,
                        max: 5.5,
                        axisLabel: {
                            show: false
                        },
                        axisTick: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        type: 'value',
                        min: 0,
                        max: 100,
                        name: '通过百分率(%)',
                        nameLocation: 'center',
                        nameTextStyle: {padding: [0, 0, 30, 0]}
                    },
                    series: [
                        {
                            name: 'x轴坐标',
                            data: [],
                            type: 'bar',
                            smooth: true,
                            itemStyle: {
                                color: '#FFF'
                            },
                            label: {
                                show: true,
                                position: 'bottom',
                                distance: 20,
                                align: 'right',
                                verticalAlign: 'middle',
                                rotate: 90,
                                fontSize: 13,
                                color: '#000',
                                formatter: function (value) {
                                    let shaiKongChiCunList = [37.5,
                                        31.5,
                                        26.5,
                                        19.0,
                                        16.0,
                                        13.2,
                                        9.5,
                                        4.75,
                                        2.36,
                                        1.18,
                                        0.6,
                                        0.3,
                                        0.15,
                                        0.075
                                    ]
                                    return shaiKongChiCunList[shaiKongChiCunList.length - 1 - value.dataIndex] + ''
                                }
                            },
                            data: [
                                Math.pow(0.075, 0.45),
                                Math.pow(0.15, 0.45),
                                Math.pow(0.3, 0.45),
                                Math.pow(0.6, 0.45),
                                Math.pow(1.18, 0.45),
                                Math.pow(2.36, 0.45),
                                Math.pow(4.75, 0.45),
                                Math.pow(9.5, 0.45),
                                Math.pow(13.2, 0.45),
                                Math.pow(16.0, 0.45),
                                Math.pow(19.0, 0.45),
                                Math.pow(26.5, 0.45),
                                Math.pow(31.5, 0.45),
                                Math.pow(37.5, 0.45)
                            ]
                        }]
                }

            }
        },
        created() {
            let tblt = sessionStorage.getItem('information')
            if (tblt != null && tblt != '') {
                let s = JSON.parse(JSON.parse(tblt).tableData)
                this.excelData = s
            }
            let calCount = {}
            if (localStorage.calCount === undefined) {
                calCount.znjpsj = 1
                localStorage.calCount = JSON.stringify(calCount)
            } else {
                calCount = JSON.parse(localStorage.calCount)
                calCount.znjpsj = calCount.znjpsj ? calCount.znjpsj + 1 : 1
                localStorage.calCount = JSON.stringify(calCount)
            }
            document.title = calCount.znjpsj + '-智能级配设计'
            window.addEventListener('beforeunload', this.countMinus)
            this.init()
        },
        activated() {
        },
        beforeRouteEnter(to, from, next) {
            next()
        },
        beforeRouteLeave(to, from, next) {
            this.countMinus()
            document.title = '沥青混合料级配与马氏智能设计系统'
            window.removeEventListener('beforeunload', this.countMinus)
            next()
        },
        components: {
            UploadExcel
        },
        methods: {
            print() {
                this.$print(this.$refs.print)
                this.save_area_visible = false
            },
            nonitor() {
                let sjjpfw = this.excelData.jpsjTable.sjjpfw
                sjjpfw.zz.length = this.excelData.jpsjTable.skccStrList.length
                // console.log("sjjpfw.mbjp[i]===" +sjjpfw.mbjp)
                for (let i = 0; i < sjjpfw.zz.length; i++) {
                    this.excelData.jpsjTable.mubiaobianhua1[i] = parseFloat(sjjpfw.mbjp[i])
                    this.excelData.jpsjTable.mubiaobianhua2[i] = parseFloat(sjjpfw.mbjp[i])
                }
            },
            the_power_calculation(index) {
                return Math.pow(index, 0.45)
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done()
                    })
                    .catch(_ => {
                    })
            },
            // 计算人工微调级配
            rgwt() {
                let znjppbSum = this.excelData.jpsjTable.znjppbSum
                let znjppb = this.excelData.jpsjTable.znjppb
                let skccMatrix = this.excelData.jpsjTable.skccMatrix
                znjppbSum.rgwtjp = sum(znjppb.rgwtjp)
                let theta_real = znjppb.rgwtjp.map(x => div(x, 100))
                let theta = tf.tensor2d(theta_real, [theta_real.length, 1])
                let skccMatrix_float = skccMatrix.map(function (value) {
                    return value.map(function (zalue) {
                        return parseFloat(zalue)
                    })
                })
                let rengong_y = tf.matMul(skccMatrix_float, theta)
                this.excelData.jpsjTable.znjpsj.rgwtjp = JSON.parse(tf.transpose(rengong_y).toString().slice(13, tf.transpose(rengong_y).toString().length - 2))
            },
            calcul() {
                this.rgwt()
                let skccMatrix = this.excelData.jpsjTable.skccMatrix
                let jp1_y = this.excelData.jpsjTable.sjjpfw.mbjp
                // let jp2_y = this.excelData.jpsjTable.sjjpfw.mbjp.map(function (value, index, array) {
                let jp2_y = this.excelData.jpsjTable.mubiaobianhua1.map(function (value, index, array) {
                    if (index > array.length - 7) {
                        return value + 2
                    } else if (index < array.length - 7) {
                        return value - 2
                    } else {
                        return value
                    }
                })
                // let jp3_y = this.excelData.jpsjTable.sjjpfw.mbjp.map(function (value, index, array) {
                let jp3_y = this.excelData.jpsjTable.mubiaobianhua2.map(function (value, index, array) {
                    if (index > array.length - 7) {
                        return value + 4
                    } else if (index < array.length - 7) {
                        return value - 4
                    } else {
                        return value
                    }
                })
                let skccMatrix_float = skccMatrix.map(function (value) {
                    return value.map(function (zalue) {
                        return parseFloat(zalue)
                    })
                })
                let jp1_ycopy = jp1_y.toString().split(',').map(s => parseFloat(s))
                this.LinearRegressionGradientDescent(skccMatrix_float, jp1_ycopy, 1)
                this.LinearRegressionGradientDescent(skccMatrix_float, jp2_y, 2)
                this.LinearRegressionGradientDescent(skccMatrix_float, jp3_y, 3)
                for (let i = 0; i < skccMatrix.length; i++) {
                    for (let j = 0; j < skccMatrix[i].length; j++) {
                        skccMatrix[i][j] = typeof skccMatrix[i][j] === 'number' ? skccMatrix[i][j].toFixed(1) : skccMatrix[i][j]
                    }
                }
            },
            handleChange1(flag, index, value) {
                clearTimeout(this.interval);
                // console.log("handleChange---------------------")
                let values = parseInt(value)
                let shai = this.excelData.jpsjTable.skccStrList[index]
                let jpsjTable = this.excelData.jpsjTable
                if (flag == 2) {
                    if (shai > 4.75) {
                        if (values + 1 >= jpsjTable.sjjpfw.sx[index]) {
                            this.$set(jpsjTable.mubiaobianhua1, index, jpsjTable.sjjpfw.sx[index])
                        } else if (values < jpsjTable.sjjpfw.xx[index]) {
                            this.$set(jpsjTable.mubiaobianhua1, index, jpsjTable.sjjpfw.xx[index])
                        } else if (values + 1 > 100) {
                            this.$set(jpsjTable.mubiaobianhua1, index, 100)
                        } else {
                            this.$set(jpsjTable.mubiaobianhua1, index, values + 1)
                        }
                    } else {
                        if (values + 1 >= jpsjTable.sjjpfw.sx[index]) {
                            this.$set(jpsjTable.mubiaobianhua1, index, jpsjTable.sjjpfw.sx[index])
                        } else if (values < jpsjTable.sjjpfw.xx[index]) {
                            this.$set(jpsjTable.mubiaobianhua1, index, jpsjTable.sjjpfw.xx[index])
                        } else if (values + 1 > 100) {
                            this.$set(jpsjTable.mubiaobianhua1, index, 100)
                        } else {
                            this.$set(jpsjTable.mubiaobianhua1, index, values + 1)
                        }
                    }
                } else {
                    if (shai > 4.75) {
                        if (values - 1 >= jpsjTable.sjjpfw.sx[index]) {
                            this.$set(jpsjTable.mubiaobianhua1, index, jpsjTable.sjjpfw.sx[index])
                        } else if (values - 1 < jpsjTable.sjjpfw.xx[index]) {
                            this.$set(jpsjTable.mubiaobianhua1, index, jpsjTable.sjjpfw.xx[index])
                        } else if (values - 1 < 0) {
                            this.$set(jpsjTable.mubiaobianhua1, index, 0)
                        } else {
                            this.$set(jpsjTable.mubiaobianhua1, index, values - 1)
                        }
                    } else {
                        if (values - 1 >= jpsjTable.sjjpfw.sx[index]) {
                            this.$set(jpsjTable.mubiaobianhua1, index, jpsjTable.sjjpfw.sx[index])
                        } else if (values - 1 < jpsjTable.sjjpfw.xx[index]) {
                            this.$set(jpsjTable.mubiaobianhua1, index, jpsjTable.sjjpfw.xx[index])
                        } else if (values - 1 < 0) {
                            this.$set(jpsjTable.mubiaobianhua1, index, 0)
                        } else {
                            this.$set(jpsjTable.mubiaobianhua1, index, values - 1)
                        }
                    }
                }
            },
            handleChange2(flag, index, value) {
                clearTimeout(this.interval);
                let values = parseInt(value)
                let shai = this.excelData.jpsjTable.skccStrList[index]
                let jpsjTable = this.excelData.jpsjTable
                if (flag == 2) {
                    if (shai > 4.75) {
                        if (values + 1 >= jpsjTable.sjjpfw.sx[index]) {
                            this.$set(jpsjTable.mubiaobianhua2, index, jpsjTable.sjjpfw.sx[index])
                        } else if (values < jpsjTable.sjjpfw.xx[index]) {
                            this.$set(jpsjTable.mubiaobianhua2, index, jpsjTable.sjjpfw.xx[index])
                        } else if (values + 1 > 100) {
                            this.$set(jpsjTable.mubiaobianhua2, index, 100)
                        } else {
                            this.$set(jpsjTable.mubiaobianhua2, index, values + 1)
                        }
                    } else {
                        if (values + 1 >= jpsjTable.sjjpfw.sx[index]) {
                            this.$set(jpsjTable.mubiaobianhua2, index, jpsjTable.sjjpfw.sx[index])
                        } else if (values < jpsjTable.sjjpfw.xx[index]) {
                            this.$set(jpsjTable.mubiaobianhua2, index, jpsjTable.sjjpfw.xx[index])
                        } else if (values + 1 > 100) {
                            this.$set(jpsjTable.mubiaobianhua2, index, 100)
                        } else {
                            this.$set(jpsjTable.mubiaobianhua2, index, values + 1)
                        }
                    }
                } else {
                    if (shai > 4.75) {
                        if (values - 1 >= jpsjTable.sjjpfw.sx[index]) {
                            this.$set(jpsjTable.mubiaobianhua2, index, jpsjTable.sjjpfw.sx[index])
                        } else if (values - 1 < jpsjTable.sjjpfw.xx[index]) {
                            this.$set(jpsjTable.mubiaobianhua2, index, jpsjTable.sjjpfw.xx[index])
                        } else if (values - 1 < 0) {
                            this.$set(jpsjTable.mubiaobianhua2, index, 0)
                        } else {
                            this.$set(jpsjTable.mubiaobianhua2, index, values - 1)
                        }
                    } else {
                        if (values - 1 >= jpsjTable.sjjpfw.sx[index]) {
                            this.$set(jpsjTable.mubiaobianhua2, index, jpsjTable.sjjpfw.sx[index])
                        } else if (values - 1 < jpsjTable.sjjpfw.xx[index]) {
                            this.$set(jpsjTable.mubiaobianhua2, index, jpsjTable.sjjpfw.xx[index])
                        } else if (values - 1 < 0) {
                            this.$set(jpsjTable.mubiaobianhua2, index, 0)
                        } else {
                            this.$set(jpsjTable.mubiaobianhua2, index, values - 1)
                        }
                    }
                }
            },

            chartProcess() {
                let tmpObj = {name: '', data: [], type: 'line', smooth: true}
                let targetName = ['rgwtEchartOption', 'znjpEchartOption']
                let sjjpfw = this.excelData.jpsjTable.sjjpfw
                let skccStr = this.excelData.jpsjTable.skccStrList
                let this_ = this
                for (let name of targetName) {
                    this[name].series.splice(1, 99)
                    // 先写上中下
                    tmpObj.name = '上限'
                    this.znjpEchartOption.legend.data.push('上限')
                    this.rgwtEchartOption.legend.data.push('上限')
                    tmpObj.data = sjjpfw.sx.map((el, jd) => {
                        return [Math.pow(parseFloat(skccStr[jd]), 0.45), el]
                    })
                    this[name].series.push(JSON.parse(JSON.stringify(tmpObj)))

                    tmpObj.name = '下限'
                    this.znjpEchartOption.legend.data.push('下限')
                    this.rgwtEchartOption.legend.data.push('下限')
                    tmpObj.data = sjjpfw.xx.map((el, jd) => {
                        return [Math.pow(parseFloat(skccStr[jd]), 0.45), el]
                    })
                    this[name].series.push(JSON.parse(JSON.stringify(tmpObj)))

                    tmpObj.name = '目标级配'
                    this.znjpEchartOption.legend.data.push('目标级配')
                    this.rgwtEchartOption.legend.data.push('目标级配')
                    tmpObj.data = sjjpfw.mbjp.map((el, jd) => {
                        return [Math.pow(parseFloat(skccStr[jd]), 0.45), el]
                    })
                    this[name].series.push(JSON.parse(JSON.stringify(tmpObj)))

                    let znjpsj = this.excelData.jpsjTable.znjpsj

                    if (name === 'rgwtEchartOption') {
                        tmpObj.name = '人工微调级配'
                        this.rgwtEchartOption.legend.data.push('人工微调级配')
                        tmpObj.data = znjpsj.rgwtjp.map((el, jd) => {
                            return [Math.pow(parseFloat(skccStr[jd]), 0.45), el]
                        })
                        this[name].series.push(JSON.parse(JSON.stringify(tmpObj)))
                    } else {
                        tmpObj.name = '智能级配1'
                        this.znjpEchartOption.legend.data.push('智能级配1')
                        tmpObj.data = znjpsj.znjp1.map((el, jd) => {
                            return [Math.pow(parseFloat(skccStr[jd]), 0.45), el]
                        })
                        this[name].series.push(JSON.parse(JSON.stringify(tmpObj)))

                        tmpObj.name = '智能级配2'
                        this.znjpEchartOption.legend.data.push('智能级配2')
                        tmpObj.data = znjpsj.znjp2.map((el, jd) => {
                            return [Math.pow(parseFloat(skccStr[jd]), 0.45), el]
                        })
                        this[name].series.push(JSON.parse(JSON.stringify(tmpObj)))

                        tmpObj.name = '智能级配3'
                        this.znjpEchartOption.legend.data.push('智能级配3')
                        tmpObj.data = znjpsj.znjp3.map((el, jd) => {
                            return [Math.pow(parseFloat(skccStr[jd]), 0.45), el]
                        })
                        this[name].series.push(JSON.parse(JSON.stringify(tmpObj)))
                    }
                }
            },
            LinearRegressionFormulaMethod(x_array, y_array) {
                // 定义一个线性回归模型。
                let x = tf.tensor2d(x_array, [x_array.length, x_array[0].length])
                let y = tf.tensor2d(y_array, [y_array.length, 1])
                let x_T = tf.transpose(x)
                let x_T_matmul_x = tf.matMul(x_T, x)
                let x_T_matmul_x_array = JSON.parse(x_T_matmul_x.toString().slice(6, x_T_matmul_x.toString().length))
                let x_inverse_array = inverse(x_T_matmul_x_array)
                let x_inverse = tf.tensor2d(x_inverse_array, [x_inverse_array.length, x_inverse_array[0].length])
                let x_inverse_matMal_x_t = tf.matMul(x_inverse, x_T)
                let target = tf.matMul(x_inverse_matMal_x_t, y)
                let sum = tf.sum(target)
                let target_array = JSON.parse(tf.transpose(target).toString().slice(13, tf.transpose(target).toString().length - 2))
                let y_real = tf.matMul(x, target)
                let y_real_array = JSON.parse(tf.transpose(y_real).toString().slice(13, tf.transpose(y_real).toString().length - 2))
                return [y_real_array, target_array]
            },
            isInConstraint(w, iter, limit) {
                let data = w.dataSync()
                for (let i = 0; i < data.length; i++) {
                    // if (data[i] > limit.wMax || data[i] < limit.wMin) {
                    //   return false
                    // }
                    if (iter > 1) {
                        let mean = data.map(function (item, index) {
                            return item
                        })
                        for (let j = 0; j < mean.length; j++) {
                            if ((mean[j] < limit.stepMin && mean[j] > 0) || (mean[j] > 0 - limit.stepMin && mean[j] < 0)) {
                                return false
                            }
                        }
                    }
                }
                return true
            },

            train: async function (xs, ys, ws, numIterations, optimizer, limit) {
                // console.log('xs=' + xs + '   ys=' + ys + '   ws=' + ws)
                for (let iter = 0; iter < numIterations; iter++) {
                    // console.log('ws=' + ws)
                    this.lastData = ws.dataSync()

                    optimizer.minimize(() => {
                        const pred = tf.tidy(() => {
                            return tf.matMul(xs, tf.div(tf.exp(ws), tf.sum(tf.exp(ws))))
                            // return tf.matMul(xs, ws)
                        })
                        // console.log('pred-->' + (pred) + '---')
                        // console.log('loss-->' + pred.sub(ys).square().mean() + '---')
                        return pred.sub(ys).square().mean()
                    })
                    // if (!this.isInConstraint(ws, iter, limit)) {
                    //   break
                    // }
                    await tf.nextFrame()
                }
            },
            LinearRegressionGradientDescent: async function (x_array, y_array, index) {
                // 使用梯度下降 可以完成数值限制
                const x = tf.tensor2d(x_array, [x_array.length, x_array[0].length])
                const y = tf.tensor2d(y_array, [y_array.length, 1])
                const w_array = [...Array(x_array[0].length)].map(_ => Math.random())
                const w = tf.variable(tf.tensor2d(w_array, [x_array[0].length, 1]), true)
                const numIterations = 1000
                let learningRate = 0.006
                // let learningRate = 0.000031
                // const learningRate = 0.1
                const limit = {
                    stepMin: 0.00000001
                }
                const optimizer = tf.train.sgd(learningRate)
                await this.train(x, y, w, numIterations, optimizer, limit)
                let dd = await w.dataSync()
                dd = tf.softmax(dd)
                if (index === 1) {
                    this.excelData.jpsjTable.znjppb.znjp1 = dd.toString().replace('Tensor', '').replace('[', '').replace(']', '').split(',').map(s => parseFloat(s) * 100)
                } else if (index === 2) {
                    this.excelData.jpsjTable.znjppb.znjp2 = dd.toString().replace('Tensor', '').replace('[', '').replace(']', '').split(',').map(s => parseFloat(s) * 100)
                } else {
                    this.excelData.jpsjTable.znjppb.znjp3 = dd.toString().replace('Tensor', '').replace('[', '').replace(']', '').split(',').map(s => parseFloat(s) * 100)
                }
            },
            countMinus() {
                let calCount = JSON.parse(localStorage.calCount)
                calCount.znjpsj -= 1
                localStorage.calCount = JSON.stringify(calCount)
            },
            clearData() {
                this.$confirm('此操作将永久清除表 ' + this.excelData.jpsjTable.title + ' 的数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    let skccMatrix = this.excelData.jpsjTable.skccMatrix
                    for (let i = 0; i < skccMatrix.length; i++) {
                        for (let j = 0; j < skccMatrix[i].length; j++) {
                            this.excelData.jpsjTable.skccMatrix[i][j] = ''
                        }
                    }
                    let sjjpfw = this.excelData.jpsjTable.sjjpfw
                    sjjpfw.mbjp = sjjpfw.mbjp.map(x => '')
                    sjjpfw.sx = sjjpfw.sx.map(x => '')
                    sjjpfw.xx = sjjpfw.xx.map(x => '')
                    sjjpfw.zz = sjjpfw.zz.map(x => '')

                    for (let i = 0; i < this.excelData.jpsjTable.skccStrList.length; i++) {
                        this.excelData.jpsjTable.znjpsj.znjp1[i] = ''
                        this.excelData.jpsjTable.znjpsj.znjp2[i] = ''
                        this.excelData.jpsjTable.znjpsj.znjp3[i] = ''
                        this.excelData.jpsjTable.znjpsj.rgwtjp[i] = ''
                        this.excelData.jpsjTable.sjjpfw.zz[i] = ''
                        if(i < this.excelData.jpsjTable.yclggStrList.length){
                            this.excelData.jpsjTable.znjppb.rgwtjp[i] = ''
                            this.excelData.jpsjTable.znjppb.znjp1[i] = ''
                            this.excelData.jpsjTable.znjppb.znjp2[i] = ''
                            this.excelData.jpsjTable.znjppb.znjp3[i] = ''
                        }
                    }
                    this.excelData.jpsjTable.znjppbSum.znjp1 = ''
                    this.excelData.jpsjTable.znjppbSum.znjp2 = ''
                    this.excelData.jpsjTable.znjppbSum.znjp3 = ''
                    this.excelData.jpsjTable.znjppbSum.rgwtjp = ''
                    this.$message({
                        type: 'success',
                        message: '清除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消清除'
                    })
                })
            },
            popLine() {
                if (this.excelData.jpsjTable.skccMatrix.length <= 13) {
                    this.$message.warning('至少保留13行！！！')
                    return
                }
                this.$confirm('此操作将永久删除表 ' + this.excelData.jpsjTable.title + ' 的顶行数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.excelData.jpsjTable.skccStrList.shift()
                    this.excelData.jpsjTable.sjjpfw.mbjp.shift()
                    this.excelData.jpsjTable.sjjpfw.sx.shift()
                    this.excelData.jpsjTable.sjjpfw.xx.shift()
                    this.excelData.jpsjTable.sjjpfw.zz.shift()
                    this.excelData.jpsjTable.znjpsj.znjp1.shift()
                    this.excelData.jpsjTable.znjpsj.znjp2.shift()
                    this.excelData.jpsjTable.znjpsj.znjp3.shift()
                    this.excelData.jpsjTable.znjpsj.rgwtjp.shift()
                    this.excelData.jpsjTable.skccMatrix.shift()
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    })
                })
            },
            pushRow() {
                let table = this.excelData.jpsjTable

                if (this.excelData.jpsjTable.yclggStrList.length >= 14) {
                    this.$message.warning('列数到达上限！！！')
                    return
                }
                this.tongguobai += 1
                table.yclggStrList.unshift('')
                for (var i = 0; i < table.skccMatrix.length; i++) {
                    table.skccMatrix[i].unshift('')
                }
                table.znjppb.znjp1.unshift('')
                table.znjppb.znjp2.unshift('')
                table.znjppb.znjp3.unshift('')
                table.znjppb.rgwtjp.unshift('')
            },
            pushLine() {
                if (this.excelData.jpsjTable.skccMatrix.length >= 14) {
                    this.$message.warning('行数到达上限！！！')
                    return
                }
                this.excelData.jpsjTable.skccStrList.unshift('37.5')
                this.excelData.jpsjTable.sjjpfw.mbjp.unshift('')
                this.excelData.jpsjTable.sjjpfw.sx.unshift('')
                this.excelData.jpsjTable.sjjpfw.xx.unshift('')
                this.excelData.jpsjTable.sjjpfw.zz.unshift('')
                this.excelData.jpsjTable.znjpsj.znjp1.unshift('')
                this.excelData.jpsjTable.znjpsj.znjp2.unshift('')
                this.excelData.jpsjTable.znjpsj.znjp3.unshift('')
                this.excelData.jpsjTable.znjpsj.rgwtjp.unshift('')
                this.excelData.jpsjTable.skccMatrix.unshift(
                    [...Array(this.excelData.jpsjTable.skccMatrix[0].length)].map(x => '')
                )
            },
            popRow() {
                let table = this.excelData.jpsjTable
                if (this.excelData.jpsjTable.yclggStrList.length <= 4) {
                    this.$message.warning('至少保留4列！！！')
                    return
                }
                this.tongguobai -= 1
                this.$confirm('此操作将永久删除表 ' + this.excelData.jpsjTable.title + ' 的最前列数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    table.yclggStrList.shift()
                    for (var i = 0; i < table.skccMatrix.length; i++) {
                        table.skccMatrix[i].shift()
                    }

                    table.znjppb.znjp1.shift()
                    table.znjppb.znjp2.shift()
                    table.znjppb.znjp3.shift()
                    table.znjppb.rgwtjp.shift()

                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    })
                })
            },
            init() {
                this.template_download_link = znjpsj()
            },
            saveMyRecord() {
                this.$http({
                    url: this.$http.adornUrl(`/app/record/${!this.id ? 'save' : 'update'}`),
                    method: 'post',
                    data: this.$http.adornData({
                        'id': this.id || undefined,
                        'userId': this.$store.state.user.id,
                        'category': this.category,
                        'tableData': JSON.stringify(this.excelData),
                        'createTime': this.$DateFormat(new Date())
                    })
                }).then(({data}) => {
                    this.save_area_visible = false
                    if (data && data.code === 0) {
                        this.$message({
                            message: '操作成功',
                            type: 'success',
                            duration: 1500
                        })
                    } else {
                        this.$message.error(data.msg)
                    }
                })
            },
            savePdf() {
                this.$alert('系统未完成!')
            },
            saveWord() {
                this.$alert('系统未完成!')
            },
            saveExcel() {
                var tableId = ['table_01', 'table_02']
                var sheetName = ['表1', '表2']
                this.exportExcel = true
                this.$nextTick(() => {
                    export_table_to_excel(tableId, sheetName, '智能级配设计.xlsx')
                    this.exportExcel = false
                    this.save_area_visible = false
                })
            },
            uploadTemplateHandle() {
                this.uploadExcelVisible = true
                this.$nextTick(() => {
                    this.$refs.uploadExcel.init()
                })
            },
            readExcelResult(result) {
                Object.assign(this.$data, this.$options.data())
                // console.log("read++++++++++")
                let url = znjpsj_txt()
                let that = this
                let textFileLocation = url

                fetch(textFileLocation).then((res) => {
                    return res.text()
                }).then((text) => {
                    let lines = text.split('\n')
                    for (let line = 0; line < lines.length; line++) {
                        try {
                            eval(lines[line])
                        } catch (e) {
                            console.log(e)
                            console.log(`error in line ${line + 1} : ${lines[line]}`)
                            // 这里写遇见错误的处理
                        }
                    }
                })
                // console.log(" this.excelData.jpsjTable.sjjpfw.mbjp====" + this.excelData)
                this.interval = setInterval(this.nonitor, 2000)


                // let that = this
                // import('../../../utils/excelReadJsonStr')
                //     .then(util => {
                //         let strList = []
                //         util.dfs(result, 'result', strList)
                //         console.log(strList.join('\n'))
                //     })

            }
        },
        // mounted(){
        //     console.log("setinterval")
        //     setInterval(this.nonitor,2000)
        // },
        computed: {},
        watch: {
            'excelData.jpsjTable.title': {
                handler() {
                    this.excelData.title = this.excelData.jpsjTable.title
                }
            },
            'excelData.jpsjTable': {
                handler() {
                    let sjjpfw = this.excelData.jpsjTable.sjjpfw
                    sjjpfw.zz.length = this.excelData.jpsjTable.skccStrList.length
                    for (let i = 0; i < sjjpfw.zz.length; i++) {
                        sjjpfw.zz[i] = div(add(sjjpfw.sx[i], sjjpfw.xx[i]), 2)
                    }
                },
                deep: true
            },
            'excelData.jpsjTable.sjjpfw.mbjp': {
                handler() {
                    // console.log("watch-----------" + parseFloat(this.excelData.jpsjTable.sjjpfw.mbjp))
                    let sjjpfw = this.excelData.jpsjTable.sjjpfw
                    sjjpfw.zz.length = this.excelData.jpsjTable.skccStrList.length
                    // console.log("sjjpfw.mbjp[i]===" + sjjpfw.mbjp)
                    for (let i = 0; i < sjjpfw.zz.length; i++) {
                        this.excelData.jpsjTable.mubiaobianhua1[i] = parseFloat(sjjpfw.mbjp[i])
                        // console.log("this.excelData.jpsjTable.mubiaobianhua1[i]===" + this.excelData.jpsjTable.mubiaobianhua1[i])
                        // console.log("parseFloat(sjjpfw.mbjp[i])===" + parseFloat(sjjpfw.mbjp[i]))
                        this.excelData.jpsjTable.mubiaobianhua2[i] = parseFloat(sjjpfw.mbjp[i])
                    }
                },
                deep: true,
                immediate: true
            },
            'excelData.jpsjTable.znjppb.rgwtjp': {
                handler() {
                    let znjppbSum = this.excelData.jpsjTable.znjppbSum
                    let znjppb = this.excelData.jpsjTable.znjppb
                    let skccMatrix = this.excelData.jpsjTable.skccMatrix
                    znjppbSum.rgwtjp = sum(znjppb.rgwtjp)
                    let theta_real = znjppb.rgwtjp.map(x => div(x, 100))
                    let theta = tf.tensor2d(theta_real, [theta_real.length, 1])
                    let skccMatrix_float = skccMatrix.map(function (value) {
                        return value.map(function (zalue) {
                            return parseFloat(zalue)
                        })
                    })
                    let rengong_y = tf.matMul(skccMatrix_float, theta)
                    this.excelData.jpsjTable.znjpsj.rgwtjp = JSON.parse(tf.transpose(rengong_y).toString().slice(13, tf.transpose(rengong_y).toString().length - 2))
                }
            },
            'excelData.jpsjTable.znjppb.znjp1': {
                handler() {
                    let znjppbSum = this.excelData.jpsjTable.znjppbSum
                    let znjppb = this.excelData.jpsjTable.znjppb
                    let skccMatrix = this.excelData.jpsjTable.skccMatrix
                    znjppbSum.znjp1 = sum(znjppb.znjp1)
                    let theta_real = znjppb.znjp1.map(x => div(x, 100))
                    let theta = tf.tensor2d(theta_real, [theta_real.length, 1])
                    let skccMatrix_float = skccMatrix.map(function (value) {
                        return value.map(function (zalue) {
                            return parseFloat(zalue)
                        })
                    })
                    let rengong_y = tf.matMul(skccMatrix_float, theta)
                    this.excelData.jpsjTable.znjpsj.znjp1 = JSON.parse(tf.transpose(rengong_y).toString().slice(13, tf.transpose(rengong_y).toString().length - 2))
                }
            },
            'excelData.jpsjTable.znjppb.znjp2': {
                handler() {
                    let znjppbSum = this.excelData.jpsjTable.znjppbSum
                    let znjppb = this.excelData.jpsjTable.znjppb
                    let skccMatrix = this.excelData.jpsjTable.skccMatrix
                    znjppbSum.znjp2 = sum(znjppb.znjp2)
                    let theta_real = znjppb.znjp2.map(x => div(x, 100))
                    let theta = tf.tensor2d(theta_real, [theta_real.length, 1])
                    let skccMatrix_float = skccMatrix.map(function (value) {
                        return value.map(function (zalue) {
                            return parseFloat(zalue)
                        })
                    })
                    let rengong_y = tf.matMul(skccMatrix_float, theta)
                    this.excelData.jpsjTable.znjpsj.znjp2 = JSON.parse(tf.transpose(rengong_y).toString().slice(13, tf.transpose(rengong_y).toString().length - 2))
                }
            },
            'excelData.jpsjTable.znjppb.znjp3': {
                handler() {
                    let znjppbSum = this.excelData.jpsjTable.znjppbSum
                    let znjppb = this.excelData.jpsjTable.znjppb
                    let skccMatrix = this.excelData.jpsjTable.skccMatrix
                    znjppbSum.znjp3 = sum(znjppb.znjp3)
                    let theta_real = znjppb.znjp3.map(x => div(x, 100))
                    let theta = tf.tensor2d(theta_real, [theta_real.length, 1])
                    let skccMatrix_float = skccMatrix.map(function (value) {
                        return value.map(function (zalue) {
                            return parseFloat(zalue)
                        })
                    })
                    let rengong_y = tf.matMul(skccMatrix_float, theta)
                    this.excelData.jpsjTable.znjpsj.znjp3 = JSON.parse(tf.transpose(rengong_y).toString().slice(13, tf.transpose(rengong_y).toString().length - 2))
                }
            },
            'excelData.jpsjTable': {
                handler: function () {
                    let table1 = this.excelData.jpsjTable.skccMatrix
                    let table2 = this.excelData.jpsjTable.skccStrList
                    let table3 = this.excelData.jpsjTable.sjjpfw
                    let fixCount = 1
                    for (let i = 0; i < table1.length; i++) {
                        for (let j = 0; j < table1[i].length; j++) {
                            table1[i][j] = parseFloat(table1[i][j]).toFixed(1)
                            if (table1[i][j] == 100) {
                                table1[i][j] = 100
                            }
                        }
                        // this.excelData.jpsjTable.mubiaobianhua1[i] = table3.mbjp[i]
                        // this.excelData.jpsjTable.mubiaobianhua2[i] = table3.mbjp[i]
                        table3.mbjp[i] = parseFloat(table3.mbjp[i]).toFixed(1)
                        if (table3.mbjp[i] == 100) {
                            table3.mbjp[i] = 100
                        }
                    }
                },
                deep: true,
            }
        }
    }
</script>

<style scoped>
    .el-input-number >>> .el-input__inner {
        border: none;
        background-color: rgba(26, 245, 9, 0.2);
    }

    .el-input-number >>> .el-input-number__increase {
        border: none;
        background-color: rgba(245, 162, 9, 0.781);
    }

    .el-input-number >>> .el-input-number__decrease {
        border: none;
        background-color: rgba(245, 162, 9, 0.781);
    }

    .content {
        width: 100%;
        max-width: 1400px;
        margin: 18px auto;
        overflow: hidden;
        margin-bottom: -2px;
    }

    .excel_echarts_3_1 >>> .echarts {
        width: 775px;
        height: 360px;
    }

    .excel_echarts_3_2 >>> .echarts {
        width: 775px;
        height: 360px;
    }

    input,
    textarea,
    select {
        appearance: none !important;
        -moz-appearance: textfield !important;
        outline: none !important;
        -moz-outline: none !important;
        box-shadow: none !important;
        -moz-box-shadow: none !important;
    }

    .el-input-number--medium {
        width: auto;
    }
</style>
