<template>
    <div>
        <!--位置-->
        <div class="site">
            <a @click="$router.push({ name: 'home' })" >首页</a><span class="site_next">></span><a
            @click="$router.push({ name: 'four_news',query: {categoryName:categoryName} })">{{categoryName}}</a>
        </div>

        <!--内容区域-->
        <div class="content" >

            <!--新闻列表-->
            <ul class="news_bg">
                <news v-loading="dataViewLoading" v-for="(news,index) in viewList" from="noLogin" :news="news"/>

                <el-pagination
                    prev-text="上一页"
                    next-text="下一页"
                    background
                    layout="prev, pager, next"
                    :page-count="totalPage"
                    :current-page="pageIndex"
                    @current-change="getViewList">
                </el-pagination>
            </ul>

            <!--四新展示-->
            <div style="width: 37%;float: right;">
            <category-box :categoryName="dataList[0][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[0]" from="login"/>
            <category-box :categoryName="dataList[1][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[1]"  from="login"/>
            <category-box :categoryName="dataList[2][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[2]"  from="login"/>
            <category-box :categoryName="dataList[3][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[3]"  from="login"/>
            </div>
        </div>
    </div>
</template>

<script>
    import CategoryBox from '@/components/category-box'
    import News from '@/components/news'
    import Paging from '@/components/paging'

    export default {
      name: 'four_news-noLogin',
      data () {
        return {
          pageIndex: 0,
          pageSize: 5,
          totalPage: 0,
          dataViewLoading: false,
          dataListLoading: false,
          viewList: [],
          dataList: [[{category: '四新技术', title: ''}],
                    [{category: '仪器设备', title: ''}],
                    [{category: '材料', title: ''}],
                    [{category: '其他', title: ''}]]
        }
      },
      components: {
        CategoryBox,
        News,
        Paging
      },
      created () {
        this.getViewList()
        this.getDataList()
      },
      computed: {
        categoryName: {
          get () {
            return this.$route.query.categoryName
          }
        }
      },
      watch: {
        categoryName: function () {
          this.getViewList()
          this.getDataList()
        }
      },
      methods: {
            // 获取数据列表
        getDataList () {
          this.dataListLoading = true
          this.$http({
            url: this.$http.adornUrl('/news/news/listCategoryWithTitle'),
            method: 'get',
            params: this.$http.adornParams({
              'page': this.pageIndex,
              'limit': this.pageSize,
              'category': this.categoryName
            }, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.dataList = data.listCategoryWithTitle
              let def = [[{category: '四新技术', title: '未找到新闻', id: 0}],
                            [{category: '仪器设备', title: '未找到新闻', id: 0}],
                            [{category: '材料', title: '未找到新闻', id: 0}],
                            [{category: '其他', title: '未找到新闻', id: 0}]]
                        // 删除没有的
              for (let i = 0; i < this.dataList.length; i++) {
                const dataListElement = this.dataList[i]
                if (dataListElement.length > 0) {
                                // def.rm(()=>def.get(i).eq(name))
                  for (let j = 0; j < def.length; j++) {
                    const defElement = def[j]
                    if (defElement[0].category === dataListElement[0].category) {
                      def.splice(j, 1)
                    }
                  }
                }
              }
                        // 增加空值
              for (let defElement of def) {
                this.dataList.push(defElement)
              }
                        //  增加 最多4条   少了制空
              let all = 4
              for (let i = 0; i < this.dataList.length; i++) {
                const dataListElement = this.dataList[i]
                if (dataListElement.length > all) {
                  dataListElement.splice(all, dataListElement.length - all)
                }
                if (dataListElement.length < all) {
                  let placeH = all - dataListElement.length
                  for (let i = 0; i < placeH; i++) {
                    dataListElement.push({
                      category: dataListElement[0].category,
                      id: 0,
                      title: ''
                    })
                  }
                }
              }
            }
            this.dataListLoading = false
          })
        },
            // 获取数据列表
        getViewList (val) {
          if (val) {
            this.pageIndex = val
          }
          this.dataViewLoading = true
          this.$http({
            url: this.$http.adornUrl('/news/news/list'),
            method: 'get',
            params: this.$http.adornParams({
              'page': this.pageIndex,
              'limit': this.pageSize,
              'category': this.categoryName
            }, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.viewList = data.page.list
              this.totalPage = data.page.totalPage
            }
            this.dataViewLoading = false
          })
        }
      }
    }
</script>

<style scoped>
    .news {
        width: 100%;
    }
</style>
