<template>
    <div v-loading="loading">
        <!--这个东西的内容是实时加载的 -->
        <!--位置-->
        <div class="site">
            <a @click="$router.push({ name: 'home'})">首页</a>
            <span class="site_next">></span>
            <a @click="$router.push({ name: 'four_news',query: {categoryName:dataForm.category} })">{{dataForm.category}}</a>
            <span class="site_next">></span>
            <a>新闻正文</a>
        </div>

        <!--内容区域-->
        <div class="content" style="min-height: 70vh">
            <div class="news_body_tlt">{{dataForm.title}}</div>
            <div class="news_body_time">{{dataForm.updateTime}}</div>
            <div class="news_body" v-html="dataForm.content"/>
        </div>
    </div>
</template>

<script>
    export default {
      name: 'news',
      data () {
        return {
          newsId: 0,
          loading: false,
          dataForm: {
            id: 0,
            category: '四新技术',
            title: '暂无标题',
            content: `暂无内容`,
            createUserId: '',
            createTime: '',
            updateUserId: '',
            updateTime: '1997-01-01 00:00:00'
          }
        }
      },
      created () {
        if (this.$route.query.id !== undefined) {
          this.dataForm.id = this.$route.query.id === undefined ? this.dataForm.id : this.$route.query.id
          this.init(this.$route.query.id)
        }
      },
      beforeRouteEnter (to, from, next) {
        next(vm => {
          vm.init(vm.$route.query.id)
        })
      },
      methods: {
        init (id) {
          this.dataForm.id = id || 0
          this.loading = true
          this.$nextTick(() => {
            if (this.dataForm.id) {
              this.$http({
                url: this.$http.adornUrl(`/news/news/info/${this.dataForm.id}`),
                method: 'get',
                params: this.$http.adornParams()
              }).then(({data}) => {
                if (data && data.code === 0) {
                  this.dataForm.category = data.news.category
                  this.dataForm.title = data.news.title
                  this.dataForm.content = data.news.content
                  this.dataForm.createUserId = data.news.createUserId
                  this.dataForm.createTime = data.news.createTime
                  this.dataForm.updateUserId = data.news.updateUserId
                  this.dataForm.updateTime = data.news.updateTime
                } else {
                  this.$message('服务器异常,请联系管理员')
                }
                this.loading = false
              })
            }
          })
        }
      }
    }
</script>

<style scoped>
</style>
