<template>
    <div>
        <!--首页-->
        <div class="top_div">
            <div class="top_top">
                <a @click="$router.push({ name: 'login' })" class="top_index" target="_top">首页</a>
                <a class="top_user" @click="$router.push({ name: 'login' })" target="_top">登录</a>
            </div>
        </div>
        <!--位置-->
        <div class="site" style="margin-top: -54px">
            <a href="#/">首页</a><span class="site_next">></span><a
            @click="$router.push({ name: 'four_news-noLogin',query: {categoryName:categoryName} })">{{categoryName}}</a>
        </div>

        <!--内容区域-->
        <div class="content" >

            <!--新闻列表-->
            <ul class="news_bg">
                <news v-loading="dataViewLoading" v-for="(news, index)  in viewList" from="noLogin" :news="news"/>

                <el-pagination
                    prev-text="上一页"
                    next-text="下一页"
                    background
                    layout="prev, pager, next"
                    :page-count="totalPage"
                    :current-page="pageIndex"
                    @current-change="getViewList">
                </el-pagination>
            </ul>

            <!--四新展示-->
            <div style="width: 37%;float: right;">

            <category-box :categoryName="dataList[0][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[0]"/>
            <category-box :categoryName="dataList[1][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[1]"/>
            <category-box :categoryName="dataList[2][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[2]"/>
            <category-box :categoryName="dataList[3][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[3]"/>
            </div>
        </div>
        <!--foot-->
        <div class="foot_div">
            <div class="foot_foot">
                Copyright&nbsp;&nbsp;&nbsp;&nbsp;沥青混合料级配与马氏智能设计系统&nbsp;&nbsp;by&nbsp;&nbsp;&nbsp;交通运输部公路科学研究所&nbsp;&nbsp;v1.2<br>
                <span class="foot_span"></span>
                <span>备案号：<a href="http://www.beian.miit.gov.cn" target="_blank">已备案的域名的二级域名可使用</a></span>
            </div>
        </div>
    </div>
</template>

<script>
    import CategoryBox from '@/components/category-box'
    import News from '@/components/news'
    import Paging from '@/components/paging'
    import {clearLoginInfo} from '@/utils'

    export default {
      name: 'four_news-noLogin',
      data () {
        return {
          pageIndex: 0,
          pageSize: 5,
          totalPage: 0,
          dataViewLoading: false,
          dataListLoading: false,
          viewList: [],
          dataList: [[{category: '四新技术', title: ''}],
                    [{category: '仪器设备', title: ''}],
                    [{category: '材料', title: ''}],
                    [{category: '其他', title: ''}]]
        }
      },
      components: {
        CategoryBox,
        News,
        Paging
      },
      created () {
        this.getViewList()
        this.getDataList()
      },
      computed: {
        categoryName: {
          get () {
            return this.$route.query.categoryName
          }
        }
      },
      watch: {
        categoryName: function () {
          this.getViewList()
          this.getDataList()
        }
      },
      methods: {
            // 获取数据列表
        getDataList () {
          clearLoginInfo()
          this.dataListLoading = true
          this.$http({
            url: this.$http.adornUrl('/news/news/listCategoryWithTitle'),
            method: 'get',
            params: this.$http.adornParams({
              'page': this.pageIndex,
              'limit': this.pageSize,
              'category': this.categoryName
            }, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.dataList = data.listCategoryWithTitle
              let def = [[{category: '四新技术', title: '未找到新闻', id: 0}],
                            [{category: '仪器设备', title: '未找到新闻', id: 0}],
                            [{category: '材料', title: '未找到新闻', id: 0}],
                            [{category: '其他', title: '未找到新闻', id: 0}]]
                        // 删除没有的
              for (let i = 0; i < this.dataList.length; i++) {
                const dataListElement = this.dataList[i]
                if (dataListElement.length > 0) {
                                // def.rm(()=>def.get(i).eq(name))
                  for (let j = 0; j < def.length; j++) {
                    const defElement = def[j]
                    if (defElement[0].category === dataListElement[0].category) {
                      def.splice(j, 1)
                    }
                  }
                }
              }
                        // 增加空值
              for (let defElement of def) {
                this.dataList.push(defElement)
              }
                        //  增加 最多4条   少了制空
              let all = 4
              for (let i = 0; i < this.dataList.length; i++) {
                const dataListElement = this.dataList[i]
                if (dataListElement.length > all) {
                  dataListElement.splice(all, dataListElement.length - all)
                }
                if (dataListElement.length < all) {
                  let placeH = all - dataListElement.length
                  for (let i = 0; i < placeH; i++) {
                    dataListElement.push({
                      category: dataListElement[0].category,
                      id: 0,
                      title: ''
                    })
                  }
                }
              }
            }
            this.dataListLoading = false
          })
        },
            // 获取数据列表
        getViewList (val) {
          if (val) {
            this.pageIndex = val
          }
          clearLoginInfo()
          this.dataViewLoading = true
          this.$http({
            url: this.$http.adornUrl('/news/news/list'),
            method: 'get',
            params: this.$http.adornParams({
              'page': this.pageIndex,
              'limit': this.pageSize,
              'category': this.categoryName
            }, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.viewList = data.page.list
              this.totalPage = data.page.totalPage
            }
            this.dataViewLoading = false
          })
        }
      }
    }
</script>

<style scoped>
    .top_div {
        width: 100%;
        height: 54px;
        border-bottom: solid 2px #27589a;
        background: #f2f2f2;
    }

    .top_top {
        width: 100%;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }

    .top_index, .top_user {
        font-size: 20px;
        color: #333333;
        line-height: 54px;
        padding: 0 18px;
    }

    .top_index {
        float: left;
    }

    .top_user {
        float: right;
        font-size: 16px;
    }

    .foot_div {
        width: 100%;
        height: 60px;
        background: #f2f2f2;
    }

    .foot_foot {
        width: 100%;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 12px;
        color: #999999;
        font-size: 12px;
        line-height: 18px;
    }

    .foot_foot a {
        color: #666666;
    }

    .foot_foot a:hover {
        color: #333333;
    }

    .foot_span {
        margin-right: 30px;
    }

    .news {
        width: 100%;
    }
</style>
