<template>
    <div class="mod-home">
        <!--banner-->
        <div class="banner">
            <div class="banner_text">
                <span class="banner_h1">智能沥青混合料级配与配合比设计</span>
                <span class="banner_h2">Intelligent Design of Gradation and Mix of Asphalt Mixture</span>
            </div>
        </div>

        <!--内容区域-->
        <div class="content">
            <!--计算器目录-->
            <div class="calculator">
                <div class="calculator_list" v-for="(cal,index) in calList">
                    <span class="calculator_new" :class="'calculator_'+(index+1)"
                       target="_blank" v-html="cal.name" @click="calRediract(cal.url)"></span>
                </div>
            </div>

            <div class="module_bg">
                <!--新闻-->
                <div class="search_bg">
                    <button class="search_btn" @click="getDataList()">搜索</button>
                    <div class="search_input_bg">
                        <input class="search_input" v-model="searchForm.title" placeholder="请输入关键字进行搜索">
                    </div>
                </div>

                <!--四新展示-->
                <category-box :categoryName="dataList[0][0].category" :dataListLoading="dataListLoading"
                              :categoryList="dataList[0]" from="login"/>
                <category-box :categoryName="dataList[1][0].category" :dataListLoading="dataListLoading"
                              :categoryList="dataList[1]" from="login"/>
                <category-box :categoryName="dataList[2][0].category" :dataListLoading="dataListLoading"
                              :categoryList="dataList[2]" from="login"/>
                <category-box :categoryName="dataList[3][0].category" :dataListLoading="dataListLoading"
                              :categoryList="dataList[3]" from="login"/>
            </div>
        </div>
    </div>
</template>

<script>
  import CategoryBox from '@/components/category-box'

  export default {
    name: 'home',
    data () {
      return {
        dataListLoading: false,
        searchForm: {
          title: ''
        },
        calList: [{name: '', url: ''}],
        dataList: [[{category: '四新技术', title: ''}],
          [{category: '仪器设备', title: ''}],
          [{category: '材料', title: ''}],
          [{category: '其他', title: ''}]]
      }
    },
    components: {
      CategoryBox
    },
    created () {
      this.getDataList()
      this.getCalList()
    },
    methods: {
      // 去往全局 news详情
      toNews (id) {
        this.$router.push({name: 'news-noLogin', query: {id: id}})
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/news/news/listCategoryWithTitle'),
          method: 'get',
          params: this.$http.adornParams({
            'title': this.searchForm.title
          }, false)
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.listCategoryWithTitle
            let def = [[{category: '四新技术', title: '未找到新闻', id: 0}],
              [{category: '仪器设备', title: '未找到新闻', id: 0}],
              [{category: '材料', title: '未找到新闻', id: 0}],
              [{category: '其他', title: '未找到新闻', id: 0}]]
            // 删除没有的
            for (let i = 0; i < this.dataList.length; i++) {
              const dataListElement = this.dataList[i]
              if (dataListElement.length > 0) {
                // def.rm(()=>def.get(i).eq(name))
                for (let j = 0; j < def.length; j++) {
                  const defElement = def[j]
                  if (defElement[0].category === dataListElement[0].category) {
                    def.splice(j, 1)
                  }
                }
              }
            }
            // 增加空值
            for (let defElement of def) {
              this.dataList.push(defElement)
            }
            //  增加 最多5条   少了制空
            let all = 6
            for (let i = 0; i < this.dataList.length; i++) {
              const dataListElement = this.dataList[i]
              if (dataListElement.length > all) {
                dataListElement.splice(all, dataListElement.length - all)
              }
              if (dataListElement.length < all) {
                let placeH = all - dataListElement.length
                for (let i = 0; i < placeH; i++) {
                  dataListElement.push({
                    category: dataListElement[0].category,
                    id: 0,
                    title: ''
                  })
                }
              }
            }
          }
          this.dataListLoading = false
        })
      },
      getCalList () {
        this.$http({
          url: this.$http.adornUrl(`/sys/config/info/2`),
          method: 'get'
        }).then(({data}) => {
              console.log("data.code==="+data.code)
          if (data && data.code === 0) {
          // 获取计算器中文名 只有中文名
            let stringList = JSON.parse(data.config.paramValue)
              // console.log("stringList===="+stringList)
            let dynamicCalculatorRoutes = JSON.parse(sessionStorage.getItem('dynamicCalculatorRoutes'))
              // console.log("dy==="+sessionStorage.getItem('dynamicCalculatorRoutes'))
              // console.log("dy==="+dynamicCalculatorRoutes)
            let matchTitle = function (str, array) {
                // console.log("str==="+data.toString()+"----array="+array.toString())
              // array.meta.title ===str
              let url = ''
              for (let i = 0; i < array.length; i++) {
                const arrayElement = array[i]
                    // console.log("arrayElement.meta.title====="+arrayElement.meta.title)
                    // console.log("str====="+str)
                if (arrayElement.meta.title === str) {
                  url = arrayElement.path
                  break
                }
              }
              return url
            }
            this.calList = []
            stringList.forEach((e) => {
              let url = matchTitle(e, dynamicCalculatorRoutes)
              // e 中如果有 () 加上<br>
              e = e.replace(/（/, '<br>（')
              e = e.replace(/）/, '）<br>')
              e = e.replace(/\(/, '<br>(')
              e = e.replace(/\)/, ')<br>')
              this.calList.push({name: e, url: url})
            })
          }
        })
      },
      calRediract (url) {
            console.log("url=="+url)
        if (url === '') {
          this.$alert('权限不足,计算器无法打开')
        } else {
          window.open(location.origin + '#/' + url)
        }
      }
    }
  }
</script>

<style scoped>
    .banner_text {
        background: url(~@/assets/img/banner.jpg) repeat-x center center !important;
    }

    .mod-home {
    }
</style>
