<template>
    <div class="back">
        <!--<title>登陆</title>-->
        <!--<script type="text/javascript" src="js/jquery.min.js"></script>-->

        <!--top-->
        <div class="login_top">智能沥青混合料级配与马氏智能设计系统
            <div class="pic"></div>
        </div>

        <!--bottom-->
        <div class="login_bottom">
            Copyright 沥青混合料级配与马氏智能设计系统 by 网电捷通 v1.0<br>
            备案号：<a href="http://www.beian.miit.gov.cn" target="_blank">备案号</a>
        </div>

        <div class="login_bg">
            <div class="login">
                <div class="login_input_bg">
                    <span class="login_icon login_icon_user"></span>
                    <input type="text" v-on:keyup.enter="dataFormSubmit()" placeholder="请输入账号" class="login_input"
                           v-model="dataForm.userName">
                </div>
                <div class="login_input_bg">
                    <span class="login_icon login_icon_passerword"></span>
                    <input type="password" v-on:keyup.enter="dataFormSubmit()" placeholder="请输入密码" class="login_input"
                           v-model="dataForm.password">
                </div>
                <div class="login_input_bg">
                    <span class="login_icon login_icon_code"></span>
                    <input type="text" placeholder="请输入验证码" class="login_input login_input_code"
                           v-model="dataForm.captcha" v-on:keyup.enter="dataFormSubmit()">
                    <img :src="captchaPath" alt="" class="login_code">
                    <a class="login_code_a" style="cursor:pointer" @click="getCaptcha()">看不清，换一张</a>
                </div>
                <a class="login_login" style="cursor:pointer" @click="dataFormSubmit()">登 录</a>
            </div>
        </div>


        <!--新闻-->
        <div class="news_bg">

            <div class="search_bg">
                <button class="search_btn" @click="getDataList()">搜索</button>
                <div class="search_input_bg">
                    <input class="search_input" v-on:keyup.enter="getDataList()" v-model="searchForm.title"
                           placeholder="请输入关键字进行搜索">
                </div>
            </div>

            <!--四新展示-->
            <category-box :categoryName="dataList[0][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[0]"/>
            <category-box :categoryName="dataList[1][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[1]"/>
            <category-box :categoryName="dataList[2][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[2]"/>
            <category-box :categoryName="dataList[3][0].category" :dataListLoading="dataListLoading"
                          :categoryList="dataList[3]"/>
        </div>
    </div>
</template>

<script>
  import {getUUID} from '@/utils'
  import CategoryBox from '@/components/category-box'

  export default {
    name: 'login',
    data () {
      return {
        dataListLoading: false,
        searchForm: {
          title: ''
        },
        dataForm: {
          userName: '',
          password: '',
          uuid: '',
          captcha: ''
        },
        captchaPath: '',
        dataList: [[{category: '四新技术', title: ''}],
          [{category: '仪器设备', title: ''}],
          [{category: '材料', title: ''}],
          [{category: '其他', title: ''}]]

      }
    },
    components: {
      CategoryBox
    },
    created () {
      this.getCaptcha()
      this.getDataList()
    },
    methods: {
      // 获取数据列表
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/news/news/listCategoryWithTitle'),
          method: 'get',
          params: this.$http.adornParams({
            'title': this.searchForm.title
          }, false)
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.listCategoryWithTitle
            let def = [[{category: '四新技术', title: '未找到新闻', id: 0}],
              [{category: '仪器设备', title: '未找到新闻', id: 0}],
              [{category: '材料', title: '未找到新闻', id: 0}],
              [{category: '其他', title: '未找到新闻', id: 0}]]
            // 删除没有的
            for (let i = 0; i < this.dataList.length; i++) {
              const dataListElement = this.dataList[i]
              if (dataListElement.length > 0) {
                // def.rm(()=>def.get(i).eq(name))
                for (let j = 0; j < def.length; j++) {
                  const defElement = def[j]
                  if (defElement[0].category === dataListElement[0].category) {
                    def.splice(j, 1)
                  }
                }
              }
            }
            // 增加空值
            for (let defElement of def) {
              this.dataList.push(defElement)
            }
            //  增加 最多5条   少了制空
            let all = 6
            for (let i = 0; i < this.dataList.length; i++) {
              const dataListElement = this.dataList[i]
              if (dataListElement.length > all) {
                dataListElement.splice(all, dataListElement.length - all)
              }
              if (dataListElement.length < all) {
                let placeH = all - dataListElement.length
                for (let i = 0; i < placeH; i++) {
                  dataListElement.push({
                    category: dataListElement[0].category,
                    id: 0,
                    title: ''
                  })
                }
              }
            }
          }
          this.dataListLoading = false
        })
      },
      // 提交表单
      dataFormSubmit () {
        this.$http({
          url: this.$http.adornUrl('/app/login'),
          method: 'post',
          data: this.$http.adornData({
            'username': this.dataForm.userName,
            'password': this.dataForm.password,
            'uuid': this.dataForm.uuid,
            'captcha': this.dataForm.captcha
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.$cookie.set('token', data.token)
            sessionStorage.setItem('token', data.token)
            this.$router.replace({name: 'home'})
          } else {
            this.getCaptcha()
            this.$message.error({dangerouslyUseHTMLString: true, message: data.msg})
          }
        })
      },
      // 获取验证码
      getCaptcha () {
        this.dataForm.uuid = getUUID()
        this.captchaPath = this.$http.adornUrl(`/captcha.jpg?uuid=${this.dataForm.uuid}`)
      }
    }
  }
</script>
<style scoped>
    .back {
        height: 100vh;
        /*background: #3283ac url(~@/assets/img/login_bg.jpg) no-repeat center center;*/
        background: #3283ac url(~@/assets/img/login_bg.jpg) no-repeat center center;
    }

    .login_top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background: #426374;
        width: 100%;
        height: 60px;
        color: #ffffff;
        padding-left: 30px;
        line-height: 60px;
        font-size: 30px;
    }

    .login_bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 78px;
        background: #426374;
        color: #ffffff;
        border-top: solid 1px #e8e8e8;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        padding-top: 18px;
    }

    .login_bottom a {
        color: #ffffff;
        transition: all 0.4s;
    }

    .login_bottom a:hover {
        color: #081D3A;
    }

    .login_bg {
        width: 50%;
        height: 100%;
        float: left;
    }

    .news_bg {
        width: 50%;
        height: 100%;
        float: left;
        padding-top: 180px;
        min-height: 840px;
    }

    .login {
        float: right;
        width: 618px;
        height: 360px;
        border: solid 1px #ffffff;
        background: #ffffff10;
        margin-top: 240px;
        padding-top: 48px;
    }

    .login_input {
        width: 360px;
        height: 42px;
        line-height: 42px;
        color: #333333;
        font-size: 16px;
        padding-left: 12px;
        float: left;
        border: solid 1px #dddddd;
    }

    .login_icon {
        width: 42px;
        height: 42px;
        float: left;
        margin: 0 18px 0 90px;
    }

    .login_icon_user {
        background: url(~@/assets/icon/user.png) no-repeat center center;
    }

    .login_icon_passerword {
        background: url(~@/assets/icon/passerword.png) no-repeat center center;
    }

    .login_icon_code {
        background: url(~@/assets/icon/code.png) no-repeat center center;
    }

    .login_input_bg {
        display: block;
        overflow: hidden;
        margin-bottom: 18px;
    }

    .login_input_code {
        width: 150px;
    }

    .login_code {
        width: 90px;
        height: 42px;
        background: #ffffff;
        float: left;
        margin-left: 6px;
    }

    .login_code_a {
        color: #333333;
        line-height: 42px;
        margin-left: 12px;
    }

    .login_code_a:hover {
        color: #426374;
    }

    .rememb_password {
        margin-left: 150px;
        width: 16px;
        height: 16px;
    }

    .login_login {
        width: 360px;
        height: 48px;
        background: #5eb95e;
        color: #ffffff;
        display: block;
        margin-left: 150px;
        font-size: 16px;
        line-height: 48px;
        border-radius: 4px;
        text-align: center;
        margin-top: 42px;
    }

    .news {
        float: left;
        width: 36%;
    }

    .search_bg {
        width: 75%;
        padding-left: 8px;
    }

    .search_input_bg {
        background: #ffffff;
    }

</style>
