<template>
    <div class="content" style="margin-top: 90px;">
        <div class="record_tlt">我的记录</div>
        <div class="record_bg">
            <button class="record_btn record_btn_del" style="margin-left: 0;margin-bottom: 6px;" @click="deleteHandle(dataListSelections)" :disabled="dataListSelections.length <= 0">批量删除</button>
            <table class="record_table">
                <tr>
                    <th class="record record_0" style="padding-top: 18px;"><label class="checkBox"><input type="checkbox"  v-model="checked" @change="changeAllChecked()" ></label></th>
                    <th class="record record_1">试验类型</th>
                    <th class="record record_2">试验名称</th>
                    <th class="record record_3">实验人与记录人</th>
                    <th class="record record_4">保存时间</th>
                    <th class="record record_5">操作</th>
                </tr>
                <tr v-for="(record,index) in dataList" :key="record.id">
                    <td class="record record_0" style="padding-top: 18px;"><label class="checkBox"><input type="checkbox" :value="record.id" v-model="dataListSelections"></label></td>
                    <td class="record record_1">{{record.category}}</td>
                    <td class="record record_2">{{JSON.parse(record.tableData).title}}</td>
                    <td class="record record_3">
                        <span>实验人: </span>
                        {{JSON.parse(record.tableData).infoTable.shiYanRen}}
                        <br>
                        <span>记录人: </span>
                        {{JSON.parse(record.tableData).infoTable.jiLuRen}}
                    </td>
                    <td class="record record_4">{{record.createTime}}</td>
                    <td class="record record_5">
                        <button class="record_btn" @click="checkHandle(record)">查看</button>
                        <!-- <router-link target="_blank" class="record_btn" :to="{name: 'my-record'}">查看</router-link> -->
                        <button class="record_btn record_btn_del" @click="deleteHandle(record.id)">删除</button>
                    </td>
                </tr>
            </table>
            <div align="center">
                <el-pagination
                    background
                    @current-change="currentChangeHandle"
                    @size-change="sizeChangeHandle"
                    layout="total, sizes, prev, pager, next, jumper"
                    :page-sizes="[5, 10, 20, 40]"
                    :total="totalPage"
                    :page-size="pageSize"
                    :current-page="pageIndex"
                    >
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
  import VueJsonPretty from 'vue-json-pretty'

  export default {
    data () {
      return {
        dataForm: {
          key: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 20,
        totalPage: 10,
        checked: false,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        ids:[]
      }
    },
    components: {
      VueJsonPretty
    },
    activated () {
      this.getDataList()
    },
    methods: {

      changeAllChecked: function () {
        if (this.checked) {
          // alert("123")
          this.dataListSelections.length = 0
          for (let i = 0; i < this.dataList.length; i++) {          
            this.dataListSelections.push(this.dataList[i].id)
          }
          // for(var dt in dataList ){
          //   console(dt.id)
          //     this.dataListSelections.push(dt.id)
          // }
          
        } else{
          // alert("789")
          this.dataListSelections.length = 0
        }
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/app/record/myList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'key': this.dataForm.key
          })
        }).then(({data}) => {
          // alert(data.category)
          if (data && data.code === 0) {
            
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
              console.log("---"+this.totalPage)
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 新增 / 修改
      addOrUpdateHandle (id) {
        // this.addOrUpdateVisible = true
        // this.$nextTick(() => {
        //   this.$refs.addOrUpdate.init(id)
        // })
        this.$alert('系统未完成!')
      },
      //查看
      checkHandle(type){
            sessionStorage.setItem("information",JSON.stringify(type))
        if(type.category === '矿料级配检验（燃烧炉法）'){
         // let h =this.$router.push({ name:"kljpjy_rslf" ,params:{information:type} })
         window.open(location.origin+"/#/kljpjy_rslf", '_blank')
        }else if(type.category === '集料筛分试验'){
         // let h =  this.$router.push({ name:"jlsfsy",params:{information:type} })
            window.open(location.origin+"/#/jlsfsy", '_blank')
        }else if(type.category === '智能级配设计'){
         // let h =  this.$router.push({ name:"znjpsj",params:{information:type} })
            window.open(location.origin+"/#/znjpsj", '_blank')
        }else if(type.category === '集料密度试验（细容量瓶法）'){
         // let h =  this.$router.push({ name:"jlmdsy_xrlpf",params:{information:type} })
        window.open(location.origin+"/#/jlmdsy_xrlpf", '_blank')
        }else if(type.category === '细集料密度试验（坍落筒法）'){
         // let h =  this.$router.push({ name:"jlmdsy_xtltf",params:{information:type} })
            window.open(location.origin+"/#/jlmdsy_xtltf", '_blank')
        }else if(type.category === '理论（最大相对）密度试验'){
          // let h = this.$router.push({ name:"ll_zdxd_mdsy",params:{information:type} })
            window.open(location.origin+"/#/ll_zdxd_mdsy", '_blank')
        }else if(type.category === '智能配合比设计'){
          // let h = this.$router.push({ name:"znphbsj",params:{information:type} })
            window.open(location.origin+"/#/znphbsj", '_blank')
        }else if(type.category === '智能配合比设计检验'){
           // let h =this.$router.push({ name:"znphbsjjy",params:{information:type} })
            window.open(location.origin+"/#/znphbsjjy", '_blank')
        }else if(type.category === '矿料级配检验（离心分离法）'){
          // let h = this.$router.push({ name:"kljpjy_lxflf",params:{information:type} })
            window.open(location.origin+"/#/kljpjy_lxflf", '_blank')
        }

        
      },
      // 删除
      deleteHandle (id) {
        this.ids = [id]
        this.$confirm(`确定对[id=${this.ids.join(',')}]进行[${id ? '删除' : '批量删除'}]操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {

          this.$http({
              url: this.$http.adornUrl('/app/record/delete'),
              method: 'post',
              data: this.$http.adornData({
                "ids":id
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.getDataList()
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })

          
          
        })
      }
    },
    computed: {
    },
      mounted() {
          this.getDataList()
      },

      watch: {
      'dataListSelections': function () {
        if (this.dataListSelections.length === this.dataList.length) {
          this.checked = true
        } else {
          this.checked = false
        }
      }
    }
  }
</script>
<style scoped>


</style>
