<template>
    <div>
        <!--这个东西的内容是实时加载的 -->
        <!--首页-->
        <div class="top_div">
            <div class="top_top">
                <a href="#/" class="top_index" target="_top">首页</a>
                <a href="#/login" class="top_user" @click="$router.push({ name: 'login' })" target="_top">登录</a>
            </div>
        </div>
        <!--位置-->
        <div class="site">
            <a href="#/">首页</a>
            <span class="site_next">></span>
            <a @click="$router.push({ name: 'four_news-noLogin',query: {categoryName:dataForm.category} })">{{dataForm.category}}</a>
            <span class="site_next">></span>
            <a>新闻正文</a>
        </div>

        <!--内容区域-->
        <div class="content" style="min-height: 70vh">
            <div class="news_body_tlt">{{dataForm.title}}</div>
            <div class="news_body_time">{{dataForm.updateTime}}</div>
            <div class="news_body" v-html="dataForm.content"/>
        </div>
        <!--foot-->
        <div class="foot_div">
            <div class="foot_foot">
                Copyright&nbsp;&nbsp;&nbsp;&nbsp;沥青混合料级配与马氏智能设计系统&nbsp;&nbsp;by&nbsp;&nbsp;&nbsp;交通运输部公路科学研究所&nbsp;&nbsp;v1.2<br>
                <span class="foot_span"></span>
                <span>备案号：<a href="http://www.beian.miit.gov.cn" target="_blank">已备案的域名的二级域名可使用</a></span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      name: 'news',
      data () {
        return {
          dataForm: {
            id: 0,
            category: '四新技术',
            title: '暂无标题',
            content: `暂无内容`,
            createUserId: '',
            createTime: '',
            updateUserId: '',
            updateTime: '1997-01-01 00:00:00'
          }
        }
      },
      created () {
        if (this.$route.query.id !== undefined) {
          this.dataForm.id = this.$route.query.id === undefined ? this.dataForm.id : this.$route.query.id
          this.init(this.$route.query.id)
        }
      },
      methods: {
        init (id) {
          this.dataForm.id = id || 0
          this.$nextTick(() => {
            if (this.dataForm.id) {
              this.$http({
                url: this.$http.adornUrl(`/news/news/info/${this.dataForm.id}`),
                method: 'get',
                params: this.$http.adornParams()
              }).then(({data}) => {
                if (data && data.code === 0) {
                  this.dataForm.category = data.news.category
                  this.dataForm.title = data.news.title
                  this.dataForm.content = data.news.content
                  this.dataForm.createUserId = data.news.createUserId
                  this.dataForm.createTime = data.news.createTime
                  this.dataForm.updateUserId = data.news.updateUserId
                  this.dataForm.updateTime = data.news.updateTime
                }
              })
            }
          })
        }
      }
    }
</script>

<style scoped>
    .top_div {
        width: 100%;
        height: 54px;
        border-bottom: solid 2px #27589a;
        background: #f2f2f2;
    }

    .top_top {
        width: 100%;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }

    .top_index, .top_user {
        font-size: 20px;
        color: #333333;
        line-height: 54px;
        padding: 0 18px;
    }

    .top_index {
        float: left;
    }

    .top_user {
        float: right;
        font-size: 16px;
    }

    .foot_div {
        width: 100%;
        height: 60px;
        background: #f2f2f2;
    }

    .foot_foot {
        width: 100%;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 12px;
        color: #999999;
        font-size: 12px;
        line-height: 18px;
    }

    .foot_foot a {
        color: #666666;
    }

    .foot_foot a:hover {
        color: #333333;
    }

    .foot_span {
        margin-right: 30px;
    }
</style>
