<template>
    <div class="foot_div">
        <div class="foot_foot">
            Copyright&nbsp;&nbsp;&nbsp;&nbsp;沥青混合料级配与马氏智能设计系统&nbsp;&nbsp;by&nbsp;&nbsp;&nbsp;交通运输部公路科学研究所&nbsp;&nbsp;v1.2<br>
            <span class="foot_span"></span>
            <span>备案号：<a href="http://www.beian.miit.gov.cn" target="_blank">已备案的域名的二级域名可使用</a></span>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'foot'
  }
</script>

<style scoped>
    .foot_div{width: 100%;height: 60px;background: #f2f2f2;}
    .foot_foot{width: 100%;max-width: 1160px;height: 100%; margin: 0 auto;text-align: center;padding-top: 12px;color: #999999;font-size: 12px;line-height: 18px;}
    .foot_foot a{color: #666666;}
    .foot_foot a:hover{color: #333333;}
    .foot_span{margin-right: 30px;}
</style>
