<template>
    <div
        class="site-wrapper"
        :class="{ 'site-sidebar--fold': sidebarFold }"
        v-loading.fullscreen.lock="loading"
        element-loading-text="拼命加载中">
        <template v-if="!loading">
            <top/>
            <div class="site-content__wrapper" >
                <main-content v-if="!$store.state.common.contentIsNeedRefresh" style="margin-top: -54px;margin-bottom: 20px"/>
            </div>
            <foot/>
        </template>
    </div>
</template>

<script>
    import top from './top'
    import MainContent from './main-content'
    import foot from './foot'

    export default {
      provide () {
        return {
                // 刷新
          refresh () {
            this.$store.commit('common/updateContentIsNeedRefresh', true)
            this.$nextTick(() => {
              this.$store.commit('common/updateContentIsNeedRefresh', false)
            })
          }
        }
      },
      data () {
        return {
          loading: true
        }
      },
      components: {
        top,
        foot,
        MainContent
      },
      computed: {
        documentClientHeight: {
          get () {
            return this.$store.state.common.documentClientHeight
          },
          set (val) {
            this.$store.commit('common/updateDocumentClientHeight', val)
          }
        },
        sidebarFold: {
          get () {
            return this.$store.state.common.sidebarFold
          }
        },
        userId: {
          get () {
            return this.$store.state.user.id
          },
          set (val) {
            this.$store.commit('user/updateId', val)
          }
        },
        userName: {
          get () {
            return this.$store.state.user.name
          },
          set (val) {
            this.$store.commit('user/updateName', val)
          }
        }
      },
      created () {
        this.getUserInfo()
      },
      mounted () {
        this.resetDocumentClientHeight()
      },
      methods: {
            // 重置窗口可视高度
        resetDocumentClientHeight () {
          this.documentClientHeight = document.documentElement['clientHeight']
          window.onresize = () => {
            this.documentClientHeight = document.documentElement['clientHeight']
          }
        },
            // 获取当前管理员信息
        getUserInfo () {
          this.$http({
            url: this.$http.adornUrl('/app/user/userInfo'),
            method: 'get',
            params: this.$http.adornParams()
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.loading = false
              this.userId = data.user.userId
              this.userName = data.user.username
            }
          })
        }
      }
    }
</script>
