<template>
    <div>
        <div class="top_div">
            <div class="top_top">
                <a @click="$router.push({ name: 'home' })" class="top_index" target="_top">首页</a>
                <!-- <a @click="$router.push({ name: 'my-record' })" class="top_user" target="_top">我的记录</a> -->
                
                <router-link target="_blank" class="top_user" :to="{name: 'my-record'}">我的记录</router-link>

                <el-dropdown :show-timeout="0" placement="bottom" style="    float: right;">
                    <a class="top_user" target="_top">{{$store.state.user.name}}</a>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="updatePasswordHandle()">修改密码</el-dropdown-item>
                        <el-dropdown-item @click.native="logoutHandle()">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>
        </div>
        <!-- 弹窗, 修改密码 -->
        <update-password v-if="updatePassowrdVisible" ref="updatePassowrd"></update-password>
    </div>
</template>

<script>
  import UpdatePassword from './main-navbar-update-password'
  import {clearLoginInfo} from '@/utils'
  import io from 'socket.io-client'

  export default {
    data () {
      return {
        updatePassowrdVisible: false
      }
    },
    mounted () {
      // console.log(sessionStorage.getItem('token'))
      let hostname = new URL(window.SITE_CONFIG.baseUrl).hostname
      const socket = io('http://' + hostname + ':8022?token=' + sessionStorage.getItem('token'), {
        path: '/api/ws'
      })
      setInterval(() => {
        socket.emit('heartbeat', {userId: this.$store.state.user.id, t: Date.now()})
      }, 1000 * 30)
    },
    components: {
      UpdatePassword
    },
    computed: {
      navbarLayoutType: {
        get () {
          return this.$store.state.common.navbarLayoutType
        }
      },
      sidebarFold: {
        get () {
          return this.$store.state.common.sidebarFold
        },
        set (val) {
          this.$store.commit('common/updateSidebarFold', val)
        }
      },
      mainTabs: {
        get () {
          return this.$store.state.common.mainTabs
        },
        set (val) {
          this.$store.commit('common/updateMainTabs', val)
        }
      },
      userName: {
        get () {
          return this.$store.state.user.name
        }
      }
    },
    methods: {
      // 修改密码
      updatePasswordHandle () {
        this.updatePassowrdVisible = true
        this.$nextTick(() => {
          this.$refs.updatePassowrd.init()
        })
      },
      // 退出
      logoutHandle () {
        this.$confirm(`确定进行[退出]操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/app/logout'),
            method: 'post',
            data: this.$http.adornData()
          }).then(({data}) => {
            if (data && data.code === 0) {
              clearLoginInfo()
              this.$router.push({name: 'login'})
            }
          })
        }).catch(() => {
        })
      }
    }
  }
</script>
<style scoped>
    .top_div {
        width: 100%;
        height: 54px;
        border-bottom: solid 2px #27589a;
        background: #f2f2f2;
    }

    .top_top {
        width: 100%;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }

    .top_index, .top_user {
        font-size: 20px;
        color: #333333;
        line-height: 54px;
        padding: 0 18px;
    }

    .top_index {
        float: left;
    }

    .top_user {
        float: right;
        font-size: 16px;
    }
</style>
