<template>
    <div class="app-container">
        <el-dialog
            width="40vw"
            :destroy-on-close="true"
            :visible.sync="visible">
            <upload-excel-component  :on-success="handleSuccess" :before-upload="beforeUpload"/>
        </el-dialog>
    </div>
</template>

<script>
    import UploadExcelComponent from '@/components/UploadExcel/index.vue'

    export default {
      name: 'UploadExcel',
      components: {UploadExcelComponent},
      data () {
        return {
          hasSameGroup: false,
          afterDropVisible: false,
          visible: false,
          tableData: [],
          tableFileName: ''
        }
      },
      methods: {
        init (id) {
          this.visible = true
          // console.log(this.$store.state.cal.excelData)
        },
        closeDialog () {
          this.tableData = []
          this.afterDropVisible = false
          this.visible = false
          this.hasSameGroup = false
        },
        beforeUpload (file) {
          const isLt128M = file.size / 1024 / 1024 < 128

          if (isLt128M) {
            return true
          }

          this.$message({
            message: 'Please do not upload files larger than 128M in size.',
            type: 'warning'
          })
          return false
        },
        handleSuccess ({results, fileName}) {
          // console.log(fileName)
          // console.log(results)
          this.$emit('excelResult', results)
          this.visible = false
        }
      }
    }
</script>
<style scoped>
    .red {
        background-color: #f56c6c !important;
        border-color: #f56c6c !important;
    }
</style>
