<template>
    <div class="page_bg">
        <!--分页-->
        <!--不可点击的状态，在class内加上 page_btn_off -->
        <!--当前页，在class内加上 page_btn_now -->
        <button class="page_btn" v-bind:class="{page_btn_off:current===1}">第一页</button>
        <button class="page_btn" v-bind:class="{page_btn_off:current!==1}">上一页</button>
        <button class="page_btn page_btn_now">1</button>
        <button class="page_btn">2</button>
        <button class="page_btn">3</button>
        <span>......</span>
        <button class="page_btn">9</button>
        <button class="page_btn">{{total}}</button>
        <button class="page_btn" v-bind:class="{page_btn_off:current===total}">下一页</button>
        <button class="page_btn" v-bind:class="{page_btn_off:current===total}">最后一页</button>
    </div>
</template>

<script>
    export default {
      name: 'index',
      props: {
        current: {
          type: Number,
          required: true
        },
        total: {
          type: Number,
          required: true
        }
      },
      computed () {

      }
    }
</script>

<style scoped>

</style>
