<template>
    <li class="news_list">
        <a class="news_img" @click="toNews (news.id)" >
            <img style="    max-width: 200px;" :src="news.cover" :alt="news.title"></a>
        <a class="news_tlt" @click="toNews (news.id)">{{news.title}}</a>
        <a class="news_first" @click="toNews (news.id)" v-html="content" ></a>
        <span class="news_date">{{news.updateTime}}</span>
    </li>
</template>

<script>
    export default {
      name: 'index',
      props: {
        from: {
          type: String,
          required: true,
          default: 'noLogin'
                // noLogin login
        },
        news: {
          type: Object,
          required: true
        }
      },
      created () {
        this.content = this.news.content
        this.content = this.content.replace(/<[^>]*>/g, '')
      },
      data () {
        return {
          content: ''
        }
      },
      methods: {
        toNews (id) {
          if (this.from === 'noLogin') {
            this.$router.push({name: 'news-noLogin', query: {id: id}})
          } else if (this.from === 'login') {
            this.$router.push({name: 'news', query: {id: id}})
          }
        }
      }
    }
</script>

<style scoped>

</style>
