<template>
    <transition name="fade">
        <router-view></router-view>
    </transition>
</template>

<script>
</script>
<style>
    /* CSS Document */

    /*过渡动画*/
    /* *{transition: all 0.4s;} */

    /*清除默认样式*/
    * {
        box-sizing: border-box;
        border: none;
    }

    body {
        font: 14px arial, "微软雅黑";
    }

    body, ul, li, p, h1, h2, h3, h4, input {
        margin: 0;
        padding: 0;
    }



    a {
        cursor: pointer;
    }

    ul, li, a {
        list-style: none;
        text-decoration: none;
    }

    input {
        outline: none;
    }

    input::-webkit-input-placeholder {
        color: #ccc;
    }

    input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #ccc;
    }

    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #ccc;
    }

    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #ccc;
    }

    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
    }

    input[type="date"] {
        -moz-appearance: textfield;
    }

    /* 谷歌浏览器滚动条样式 */
    ::-webkit-scrollbar {
        width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
        height: 8px;
    }

    ::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
        background: #3975c8;
    }

    ::-webkit-scrollbar-track { /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        background: #EDEDED;
    }

    /*表格样式*/
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #666666;
        padding: 4px 2px;
        text-align: center;
    }

    tr:hover {
        background: #d9d9d9;
    }

    tr {
        transition: all 0.4s;
    }


    .top {
        width: 100%;
        height: 54px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .foot {
        width: 100%;
        height: 60px;
        margin-top: 24px;
    }

    .banner {
        width: 100%;
        max-width: 1920px;
        height: 150px;
        margin: 54px auto 0;
        background: url(~@/assets/img/banner.jpg) repeat-x center center;
    }

    .banner_text {
        width: 100%;
        max-width: 1160px;
        height: 100%;
        margin: 0 auto;
    }

    .banner_h1 {
        font-size: 42px;
        margin-top: 40px;
        float: left;
        width: 100%;
    }

    .banner_h2 {
        font-size: 24px;
        margin-top: 2px;
        float: left;
        width: 100%;
    }

    .module {
        background: #f5f5f5;
        overflow: hidden;
        border-radius: 6px;
    }

    .module_tlt {
        background: #3975c8;
        width: 100%;
        height: 42px;
        line-height: 42px;
        padding: 0 24px;
        color: #ffffff;
        font-size: 16px;
    }

    .module_tlt_more {
        float: right;
        color: #ffffff;
    }

    .calculator {
        float: left;
        width: 38.2%;
        height: auto;
        overflow: hidden;
    }

    .content {
        width: 100%;
        max-width: 1160px;
        margin: 18px auto;
        overflow: hidden;
        margin-bottom: -2px;
    }

    .calculator_list {
        float: left;
        width: 50%;
        height: 108px;
        padding: 0 12px 18px 12px;
        cursor: pointer;
    }

    .calculator_new {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 24px;
        border-radius: 6px;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        font-weight: bold;
    }

    .calculator_1 {
        background: #648824;
    }

    .calculator_2 {
        background: #4f698d;
    }

    .calculator_3 {
        background: #cb774d;
    }

    .calculator_4 {
        background: #7162a6;
    }

    .calculator_5 {
        background: #b84b72;
    }

    .calculator_6 {
        background: #149c87;
    }

    .calculator_7 {
        background: #4d8ecb;
    }

    .calculator_8 {
        background: #bf8c33;
    }

    .calculator_9 {
        background: #828282;
    }

    .news {
        float: right;
        width: 48%;
        margin-left: 12px;
        height: auto;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .four_news_bg {
        padding: 12px 18px 0;
        line-height: 30px;
        font-size: 16px;
    }

    .four_news_bg a {
        color: #333333;
        transition: all 0.3s;
    }

    .four_news_bg a:hover {
        color: #3975c8;
    }

    .news_img {
        width: 195px;
        height: 120px;
        float: left;
        background: #f7f7f7;
    }

    .site {
        width: 100%;
        max-width: 1160px;
        height: 66px;
        line-height: 66px;
        margin: 54px auto 0;
        overflow: hidden;
        font-size: 18px;
    }

    .site a {
        color: #333333;
    }

    .site_next {
        margin: 0 12px;
    }

    .news_bg {
        float: left;
        width: 62.4%;
        height: auto;
        padding-bottom: 24px;
    }

    .news_tlt {
        font-size: 24px;
        color: #333333;
        float: right;
        width: calc(100% - 214px);
    }

    .news_first {
        font-size: 14px;
        color: #999999;
        float: right;
        width: calc(100% - 214px);
        height: 36px;
        margin-top: 6px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .news_date {
        font-size: 12px;
        color: #ccc;
        float: right;
        margin: 4px 12px 0 0;
    }

    .news_list {
        overflow: hidden;
        margin-bottom: 18px;
    }

    .page_btn {
        background: #ffffff;
        padding: 6px 12px;
        border: solid 1px #cccccc;
        color: #999999;
        outline: none;
        cursor: pointer;
    }

    .page_btn:hover {
        color: #333333;
        border: solid 1px #666666;
        transition: all 0.4s;
    }

    .page_btn_off {
        cursor: default;
    }

    .page_btn_off:hover {
        border: solid 1px #cccccc;
        color: #999999;
    }

    .page_btn_now {
        color: #ffffff;
        background: #6d9fe5;
    }

    .page_bg {
        text-align: center;
        margin-top: 30px;
    }

    .news_body_tlt {
        width: 100%;
        text-align: center;
        font-size: 24px;
        margin-bottom: 24px;
    }

    .news_body_time {
        width: 100%;
        color: #999999;
        text-align: center;
        font-size: 14px;
        margin-bottom: 12px;
    }

    .news_body {
        width: 100%;
        height: auto;
        border: solid 1px #27589a;
        background: #fafafa;
        padding: 36px 42px;
        text-align: center;
        margin-bottom: 24px;
    }

    .news_body p {
        font-size: 16px;
        text-indent: 28px;
        margin-bottom: 12px;
        color: #333333;
        text-align: left;
    }

    .news_body img {
        margin-bottom: 12px;
        max-width: 100%;
    }

    .calculator_tlt {
        text-align: center;
        font-size: 24px;
        border-bottom: solid 4px #cb774d;
        overflow: hidden;
        padding-bottom: 6px;
    }

    .calculator_tlt_text {
        display: inline-block;
    }

    .calculator_btn {
        width: 138px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        float: left;
        background: #3975c8;
        border-radius: 6px;
        margin-right: 6px;
    }


    .calculator_tlt_center {
        width: 33.3333333333333333333%;
        float: left;
    }

    .calculator_btn_green {
        background: #20a853;
    }

    .calculator_tlt_right .calculator_btn, .excel_operate .calculator_btn {
        float: right;
    }

    .excel_operate {
        width: 100%;
        height: auto;
        margin-top: 30px;
        overflow: hidden;
    }

    .calculator_btn_red {
        background: #e34934;
    }

    .calculator_btn_orange {
        background: #f28149;
    }

    .save_btn {
        background: #ffffff;
        color: #333333;
        width: 100%;
        height: 60px;
        float: left;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        border-radius: 6px;
        display: block;
        margin: 2px auto;
        transition: all 0.4s;
    }

    .save_btn:hover {
        background: #e9f0f9;
    }

    .save_bg {
        position: fixed;
        top: 30%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 1000;
        text-align: center;
        width: 60%;
        height: auto;
        background: #ffffff;
        border-radius: 6px;
        overflow: hidden;
    }

    .save_btn_close {
        position: fixed;
        top: calc(30% + 300px);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 1000;
        text-align: center;
        width: 60%;
        height: auto;
        background: #ffffff;
        border-radius: 6px;
        overflow: hidden;
    }


    .table_01 {
        width: 100%;
        height: auto;
        margin: 48px 0 0px;
        overflow: hidden;
    }

    .bg_g {
        background: rgba(26, 245, 9, 0.2);
    }

    .bg_b {
        background: rgba(0, 192, 255, 0.2);
    }

    .bg_y {
        background: rgba(255, 255, 0, 0.2);
        padding: 10px 0;
    }

    .txt_l {
        text-align: left;
    }


    .table_input {
        width: 100%;
        height: 100%;
        background: none;
        text-align: center;
        padding: 6px 0;
    }

    th .table_input {
        font-weight: bold;
    }


    .excel_echarts_1 {
        margin-top: 60px;
        width: 100%;
        height: 600px;
        background: #f5f5f5;
        font-size: 30px;
        padding: 1.66666666666666%;
    }

    .excel_echarts_3_1 {
        width: 48%;
        float: left;
        height: 100%;
        padding: 6px;
        background: #ffffff;
    }

    .excel_echarts_3 {
        margin-top: 60px;
        width: 100%;
        height: 420px;
        background: #f5f5f5;
        font-size: 30px;
    }

    .excel_echarts_3_2 {
        width: 48%;
        float: right;
        height: 100%;
        padding: 6px;
        background: #ffffff;
    }

    .excel_echarts_7 {
        margin-top: 60px;
        width: 100%;
        height: auto;
        background: #f5f5f5;
        font-size: 30px;
        overflow: hidden;
    }

    .excel_echarts_7_1 {
        width: 30%;
        height: 240px;
        background: #ffffff;
        margin: 1.66666666666666%;
        float: left;
    }

    .table_OAC2 td {
        padding: 4px 7px;
    }


    .floatLayer {
        width: 100%;
        height: 100%;
        position: fixed;
        background: #000000;
        z-index: 990;
        top: 0px;
        left: 0px;
        filter: alpha(Opacity=50);
        -moz-opacity: 0.50;
        opacity: 0.50;
    }

    .groups_bg {
        position: fixed;
        top: 20%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 99999;
        text-align: center;
    }

    .groups_1ist {
        display: inline-block;
        margin: 0 6px;
        width: 6%;
        height: 300px;
    }

    .groups {
        float: left;
        width: 100%;
        background: #ffffff;
        height: auto;
        overflow: hidden;
        border-radius: 6px;
        margin-top: 6px;
    }

    .groups li {
        height: 36px;
        line-height: 36px;
        border-top: solid 1px #f2f2f2;
    }

    .group_close {
        position: fixed;
        top: calc(30% + 366px);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 99999;
        text-align: center;
        width: 60%;
        height: 60px;
        background: #ffffff;
        border-radius: 6px;
        overflow: hidden;
        color: #333333;
        line-height: 60px;
        font-size: 18px;
        border-radius: 6px;
        transition: all 0.4s;
    }

    .group_ok {
        position: fixed;
        top: calc(30% + 300px);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 99999;
        text-align: center;
        width: 60%;
        height: 60px;
        background: #ffffff;
        border-radius: 6px;
        overflow: hidden;
        color: #333333;
        line-height: 60px;
        font-size: 18px;
        border-radius: 6px;
        transition: all 0.4s;
    }

    .group_ok:hover, .group_close:hover {
        background: #e9f0f9;
    }

    .module_bg {
        float: right;
        width: 61.8%;
    }

    .search_bg {
        width: 100%;
        padding-left: 12px;
        margin-bottom: 12px;
        overflow: hidden;
    }

    .search_input_bg {
        width: calc(80% - 4px);
        float: right;
        height: 42px;
        border: solid 1px #cccccc;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
    }

    .search_input {
        color: #333;
        font-size: 16px;
        height: 100%;
        width: 96%;
        margin-left: 12px;
    }

    .search_btn {
        width: 20%;
        height: 42px;
        float: right;
        background: #3975c8;
        border-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
        color: #ffffff;
        font-size: 18px;
        outline: none;
        cursor: pointer;
    }

    .save_btn_text {
        float: left;
        width: 54%;
        text-align: right;
        height: 100%;
    }

    .save_btn_icon {
        width: 30px;
        height: 30px;
        float: left;
        margin: 14px 0 0 12px;
    }

    .save_btn_icon img {
        width: 100%;
        height: 100%;
        float: left;
    }


    .explain {
        width: 96%;
        border-bottom: solid 1px #cccccc;
        height: 30px;
        margin: 0 auto;
    }

    .record_tlt {
        width: 100%;
        text-align: center;
        font-size: 24px;
        margin-bottom: 24px;
    }

    .record_bg {
        width: 100%;
        height: auto;
        background: #fafafa;
        padding: 36px 42px;
        margin-bottom: 24px;
        overflow: hidden;
    }

    .record_table {
        width: 100%;
        border-radius: 10px;
        font-size: 14px;
    }

    .record_table tr:hover {
        background: #d9d9d966;
    }

    .record_table tr:hover td {
        color: #000000;
    }

    .record_table th {
        height: 60px;
        background-color: #e7e9ed;
        font-weight: normal;
        color: #333333;
    }

    .record_table td {
        color: #666666;
    }

    .record_table th, .record_table td {
        border-color: #dedfe7;
        padding: 12px;
    }

    .record_0 {
        width: 2%;
    }

    .record_1 {
        width: 20%;
    }

    .record_2 {
        width: 40%;
    }

    .record_3 {
        width: 12%;
    }

    .record_4 {
        width: 10%;
    }

    .record_5 {
        width: 24%;
    }

    /*美化默认复选框*/
    input[type='checkbox'] {
        width: 16px;
        height: 16px;
        background: no-repeat center center;
        background-color: #fff;
        -webkit-appearance: none;
        border: 1px solid #c9c9c9;
        border-radius: 2px;
        outline: none;
    }

    .checkBox input[type=checkbox]:checked {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALBJREFUeNpiNDY2ZiACMAJxNxC/BuJOFiI0sALxXCCOBeKfQLyCCWpKAxArYdHABcTroBq+ALEfED8EacoD4nog3o+mUQiI9wCxD9RZTkC8CyTBBLX6CBDLIWmUBeLDQGwJxA+A2AaIT8NMY4Fa6wnE26GS+6FOBmm8BMQeQPwc2c1MUBqmEWYjSMNBILZH1wCziQFJoxcQb4P6IQqIf2ALTvQg/wx1DkjxX1xxABBgAKq6I++HpinNAAAAAElFTkSuQmCC');
        border: 1px solid #999999;
    }

    .record_btn {
        padding: 6px 24px;
        border-radius: 3px;
        background: #3975c8;
        color: #ffffff;
        cursor: pointer;
        outline: none;
    }

    .record_btn_del {
        padding: 6px 12px;
        background: #e34934;
        margin-left: 6px;
    }

</style>
