<tr >
    <td colspan=14 >京新高速公路工程沥青混合料油石比含量与筛检验<span
    >       </span></td>
    <td>表3</td>
</tr>
<tr >
    <td colspan=2 >试验方法</td>
    <td>离心分离法</td>
    <td>滤纸原质量<span
    >1</span></td>
    <td>15</td>
    <td>滤纸原质量2</td>
    <td>16</td>
    <td>油石比修正系数</td>
    <td>1.000</td>
    <td>P0.075水洗修正系数</td>
    <td>1.100</td>
    <td>设计油石比%</td>
    <td>4.6</td>
    <td>　</td>
</tr>
<tr >
    <td >混合料抽提前总质量1</td>
    <td>5776.0</td>
    <td colspan=2>抽提后容器中集料质量1</td>
    <td>5630.0</td>
    <td>滤纸烘干后质量1</td>
    <td>21</td>
    <td>坩埚残渣质量1</td>
    <td>10</td>
    <td>油石比1</td>
    <td>2.3</td>
    <td rowspan=2>平均油石比</td>
    <td rowspan=2>2.2</td>
    <td rowspan=2>沥青含量重复性误差</td>
    <td rowspan=2>0.26</td>
</tr>
<tr >
    <td >混合料抽提前总质量2</td>
    <td>5225.0</td>
    <td colspan=2>抽提后容器中集料质量2</td>
    <td>5104.0</td>
    <td>滤纸烘干后质量2</td>
    <td>22</td>
    <td>坩埚残渣质量2</td>
    <td>11</td>
    <td>油石比2</td>
    <td>2.0</td>
</tr>
<tr >
    <td rowspan=2 >筛孔尺寸（mm）</td>
    <td colspan=4>第一次筛分</td>
    <td colspan=4>第二次筛分</td>
    <td colspan=2>平均值</td>
    <td colspan=3>设计级配范围</td>
    <td rowspan=2>实测与设计各筛孔通过率差值</td>
</tr>
<tr >
    <td >筛上重（g）</td>
    <td>分计筛余(％)</td>
    <td>累计筛余(％)</td>
    <td>通过百分率（％）</td>
    <td>筛上重（g）</td>
    <td>分计筛余（％）</td>
    <td>累计筛余（％）</td>
    <td>通过百分率（％）</td>
    <td>通过百分率（％）</td>
    <td>P0.075修正后</td>
    <td>上限</td>
    <td>下限</td>
    <td>设计级配通<span
    >过率</span></td>
</tr>
<tr >
    <td >37.5</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>100</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>100</td>
    <td>100</td>
    <td>100.0</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>0.0</td>
</tr>
<tr >
    <td >31.5</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>100</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>100</td>
    <td>100</td>
    <td>100.0</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>0.0</td>
</tr>
<tr >
    <td >26.5</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>100</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>100</td>
    <td>100</td>
    <td>100.0</td>
    <td>100</td>
    <td>90</td>
    <td>95</td>
    <td>5.0</td>
</tr>
<tr >
    <td >19</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>100.0</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>100</td>
    <td>100</td>
    <td>100.0</td>
    <td>90</td>
    <td>75</td>
    <td>83</td>
    <td>17.5</td>
</tr>
<tr >
    <td >16</td>
    <td>144.0</td>
    <td>4.5</td>
    <td>4.5</td>
    <td>95.5</td>
    <td>206.0</td>
    <td>7.6</td>
    <td>7.6</td>
    <td>92.4</td>
    <td>94.0</td>
    <td>93.4</td>
    <td>65</td>
    <td>83</td>
    <td>74</td>
    <td>19.4</td>
</tr>
<tr >
    <td >13.2</td>
    <td>283.0</td>
    <td>8.8</td>
    <td>13.2</td>
    <td>86.8</td>
    <td>195.0</td>
    <td>7.2</td>
    <td>14.8</td>
    <td>85.2</td>
    <td>86.0</td>
    <td>85.5</td>
    <td>76</td>
    <td>57</td>
    <td>67</td>
    <td>19.0</td>
</tr>
<tr >
    <td >9.5</td>
    <td>403.0</td>
    <td>12.5</td>
    <td>25.7</td>
    <td>74.3</td>
    <td>394.0</td>
    <td>14.5</td>
    <td>29.4</td>
    <td>70.6</td>
    <td>72.5</td>
    <td>71.9</td>
    <td>65</td>
    <td>45</td>
    <td>55</td>
    <td>16.9</td>
</tr>
<tr >
    <td >4.75</td>
    <td>1040.0</td>
    <td>32.2</td>
    <td>57.9</td>
    <td>42.1</td>
    <td>848.0</td>
    <td>31.3</td>
    <td>60.7</td>
    <td>39.3</td>
    <td>40.7</td>
    <td>40.2</td>
    <td>52</td>
    <td>24</td>
    <td>38</td>
    <td>2.2</td>
</tr>
<tr >
    <td >2.36</td>
    <td>447.0</td>
    <td>13.8</td>
    <td>71.8</td>
    <td>28.2</td>
    <td>368.0</td>
    <td>13.6</td>
    <td>74.3</td>
    <td>25.7</td>
    <td>27.0</td>
    <td>26.4</td>
    <td>42</td>
    <td>16</td>
    <td>29</td>
    <td>-2.6</td>
</tr>
<tr >
    <td >1.18</td>
    <td>301.0</td>
    <td>9.3</td>
    <td>81.1</td>
    <td>18.9</td>
    <td>233.0</td>
    <td>8.6</td>
    <td>82.9</td>
    <td>17.1</td>
    <td>18.0</td>
    <td>17.5</td>
    <td>33</td>
    <td>12</td>
    <td>23</td>
    <td>-5.0</td>
</tr>
<tr >
    <td >0.6</td>
    <td>170.0</td>
    <td>5.3</td>
    <td>86.3</td>
    <td>13.7</td>
    <td>151.0</td>
    <td>5.6</td>
    <td>88.4</td>
    <td>11.6</td>
    <td>12.7</td>
    <td>12.1</td>
    <td>24</td>
    <td>8</td>
    <td>16</td>
    <td>-3.9</td>
</tr>
<tr >
    <td >0.3</td>
    <td>76.0</td>
    <td>2.4</td>
    <td>88.7</td>
    <td>11.3</td>
    <td>63.0</td>
    <td>2.3</td>
    <td>90.8</td>
    <td>9.2</td>
    <td>10.3</td>
    <td>9.7</td>
    <td>17</td>
    <td>5</td>
    <td>11</td>
    <td>-1.3</td>
</tr>
<tr >
    <td >0.15</td>
    <td>66.0</td>
    <td>2.0</td>
    <td>90.7</td>
    <td>9.3</td>
    <td>56.0</td>
    <td>2.1</td>
    <td>92.8</td>
    <td>7.2</td>
    <td>8.3</td>
    <td>7.7</td>
    <td>13</td>
    <td>4</td>
    <td>9</td>
    <td>-0.8</td>
</tr>
<tr >
    <td >0.075</td>
    <td>93.0</td>
    <td>2.9</td>
    <td>93.6</td>
    <td>6.4</td>
    <td>71.0</td>
    <td>2.6</td>
    <td>95.5</td>
    <td>4.5</td>
    <td>5.5</td>
    <td>6.0</td>
    <td>7</td>
    <td>3</td>
    <td>5</td>
    <td>1.0</td>
</tr>
<tr >
    <td >筛底m底</td>
    <td>206.0</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
    <td>123.0</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
    <td colspan=2>　</td>
    <td>　</td>
</tr>
<tr >
    <td >干筛后总量Σmi(g)</td>
    <td>3229.0</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
    <td>2708.0</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
    <td colspan=6 rowspan=3>备注：</td>
</tr>
<tr >
    <td >损耗（g）</td>
    <td>2417.0</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
    <td>2413.0</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
</tr>
<tr >
    <td >损耗率(%)</td>
    <td>42.8</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
    <td>47.1</td>
    <td>　</td>
    <td>　</td>
    <td>　</td>
</tr>
