




 <tr  >
  <td colspan=6    >表4 满足各标的最大最小值和OAC2计算</td>
 </tr>
 <tr  >
  <td rowspan=2   >指标</td>
  <td colspan=4  >满足各指标的油石比范围</td>
  <td rowspan=2  >OAC2</td>
 </tr>
 <tr  >
  <td   >OACmin-i</td>
  <td  >OACmax-i</td>
  <td  >OACmin</td>
  <td  >OACmax</td>
 </tr>
 <tr  >
  <td   >毛体积密度</td>
  <td  >　</td>
  <td  >　</td>
  <td rowspan=5  >(<font class="font65978">竖线最小值)</font></td>
  <td rowspan=5  >(<font class="font65978">竖线最大值)</font></td>
  <td rowspan=5  >######</td>
 </tr>
 <tr  >
  <td   >稳定度</td>
  <td  align=right >3.5</td>
  <td  align=right >5.5</td>
 </tr>
 <tr  >
  <td   >空隙率</td>
  <td  >　</td>
  <td  >　</td>
 </tr>
 <tr  >
  <td   >流值</td>
  <td  >　</td>
  <td  >　</td>
 </tr>
 <tr  >
  <td   >饱和度</td>
  <td  >　</td>
  <td  >　</td>
 </tr>
