




 <tr  >
  <td colspan=9    >　</td>
  <td   >表1</td>
  <td colspan=6   >京新高速公路工程沥青混合料马歇尔配合比设计（一）</td>
  <td colspan=13   >　</td>
 </tr>
 <tr  >
  <td colspan=4   >工程名称</td>
  <td colspan=7  >京新高速公路工程沥青混合料下面层AC-25C马歇尔试验</td>
  <td colspan=2  >单位（公司）</td>
  <td colspan=3  >土建五标</td>
  <td colspan=13  >　</td>
 </tr>
 <tr  >
  <td colspan=4   >试验名称</td>
  <td colspan=7  >OAC设计</td>
  <td  >γsb</td>
  <td  align=right >2.707</td>
  <td  >γse</td>
  <td  align=right >2.738</td>
  <td  >γb</td>
  <td  align=right >1.023</td>
  <td colspan=2  >Pba</td>
  <td  >0.428 </td>
  <td colspan=9  >　</td>
 </tr>
 <tr  >
  <td   >试件编号</td>
  <td  >Pa</td>
  <td  >Pb</td>
  <td colspan=4  >H<span > </span></td>
  <td  >H均值</td>
  <td  >ma</td>
  <td  >mw</td>
  <td  >mf</td>
  <td  >γt</td>
  <td  >MS</td>
  <td  >MS均值</td>
  <td  >FL</td>
  <td  >FL均值</td>
  <td  >Sa</td>
  <td  >Sa均值</td>
  <td  >γf</td>
  <td  >γf均值</td>
  <td  >VV</td>
  <td  >VV均值</td>
  <td  >VMA</td>
  <td  >VMA均值</td>
  <td  >VFA</td>
  <td  >VFA均值</td>
  <td  >Vbe</td>
  <td  >Vbe均值</td>
  <td  >Pbe</td>
 </tr>
 <tr  >
  <td   >1-1</td>
  <td rowspan=6  >3.5 </td>
  <td rowspan=6  >3.4 </td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.2 </td>
  <td  >713.2 </td>
  <td  align=right >1209.9
  </td>
  <td  >2.580 </td>
  <td  >8.96 </td>
  <td rowspan=6  >9.68</td>
  <td  >2.67</td>
  <td rowspan=6  >3.33 </td>
  <td  >0.1 </td>
  <td rowspan=6  >0.1 </td>
  <td  >2.434 </td>
  <td rowspan=6  >2.438 </td>
  <td  >5.6 </td>
  <td rowspan=6  >5.5 </td>
  <td  align=right >12.9
  </td>
  <td rowspan=6  >12.8 </td>
  <td  align=right >56.2
  </td>
  <td rowspan=6  >56.8 </td>
  <td  >7.2 </td>
  <td rowspan=6  >7.3 </td>
  <td rowspan=6  >2.968 </td>
 </tr>
 <tr  >
  <td   >1-2</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.8 </td>
  <td  >715.9 </td>
  <td  align=right >1211.5
  </td>
  <td  >2.580 </td>
  <td  >9.63 </td>
  <td  >3.69</td>
  <td  >0.1 </td>
  <td  >2.443 </td>
  <td  >5.3 </td>
  <td  align=right >12.6
  </td>
  <td  align=right >57.8
  </td>
  <td  >7.3 </td>
 </tr>
 <tr  >
  <td   >1-3</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.2 </td>
  <td  >714.9 </td>
  <td  align=right >1210.7
  </td>
  <td  >2.580 </td>
  <td  >11.56 </td>
  <td  >2.97</td>
  <td  >0.1 </td>
  <td  >2.441 </td>
  <td  >5.4 </td>
  <td  align=right >12.7
  </td>
  <td  align=right >57.4
  </td>
  <td  >7.3 </td>
 </tr>
 <tr  >
  <td   >1-4</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.5 </td>
  <td  >713.0 </td>
  <td  align=right >1210.3
  </td>
  <td  >2.580 </td>
  <td  >9.85 </td>
  <td  >3.69</td>
  <td  >0.2 </td>
  <td  >2.432 </td>
  <td  >5.7 </td>
  <td  align=right >13.0
  </td>
  <td  align=right >55.8
  </td>
  <td  >7.2 </td>
 </tr>
 <tr  >
  <td   >1-5</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1207.8 </td>
  <td  >714.8 </td>
  <td  align=right >1208.7
  </td>
  <td  >2.580 </td>
  <td  >8.69 </td>
  <td  >2.99</td>
  <td  >0.2 </td>
  <td  >2.445 </td>
  <td  >5.2 </td>
  <td  align=right >12.5
  </td>
  <td  align=right >58.3
  </td>
  <td  >7.3 </td>
 </tr>
 <tr  >
  <td   >1-6</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1208.7 </td>
  <td  >712.2 </td>
  <td  align=right >1209.5
  </td>
  <td  >2.580 </td>
  <td  >9.39 </td>
  <td  >3.99</td>
  <td  >0.2 </td>
  <td  >2.431 </td>
  <td  >5.8 </td>
  <td  align=right >13.0
  </td>
  <td  align=right >55.5
  </td>
  <td  >7.2 </td>
 </tr>
 <tr  >
  <td   >2-1</td>
  <td rowspan=6  >4.0 </td>
  <td rowspan=6  >3.8 </td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.2 </td>
  <td  >713.2 </td>
  <td  align=right >1209.9
  </td>
  <td  >2.582 </td>
  <td  >8.96 </td>
  <td rowspan=6  >9.68</td>
  <td  >2.67</td>
  <td rowspan=6  >3.33 </td>
  <td  >0.1 </td>
  <td rowspan=6  >0.1 </td>
  <td  >2.434 </td>
  <td rowspan=6  >2.438 </td>
  <td  >5.7 </td>
  <td rowspan=6  >5.6 </td>
  <td  align=right >12.6
  </td>
  <td rowspan=6  >12.5 </td>
  <td  align=right >54.8
  </td>
  <td rowspan=6  >55.4 </td>
  <td  >6.9 </td>
  <td rowspan=6  >6.9 </td>
  <td rowspan=6  >3.435 </td>
 </tr>
 <tr  >
  <td   >2-2</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.8 </td>
  <td  >715.9 </td>
  <td  align=right >1211.5
  </td>
  <td  >2.582 </td>
  <td  >9.63 </td>
  <td  >3.69</td>
  <td  >0.1 </td>
  <td  >2.443 </td>
  <td  >5.4 </td>
  <td  align=right >12.3
  </td>
  <td  align=right >56.4
  </td>
  <td  >7.0 </td>
 </tr>
 <tr  >
  <td   >2-3</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.2 </td>
  <td  >714.9 </td>
  <td  align=right >1210.7
  </td>
  <td  >2.582 </td>
  <td  >11.56 </td>
  <td  >2.97</td>
  <td  >0.1 </td>
  <td  >2.441 </td>
  <td  >5.5 </td>
  <td  align=right >12.4
  </td>
  <td  align=right >56.0
  </td>
  <td  >7.0 </td>
 </tr>
 <tr  >
  <td   >2-4</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.5 </td>
  <td  >713.0 </td>
  <td  align=right >1210.3
  </td>
  <td  >2.582 </td>
  <td  >9.85 </td>
  <td  >3.69</td>
  <td  >0.2 </td>
  <td  >2.432 </td>
  <td  >5.8 </td>
  <td  align=right >12.7
  </td>
  <td  align=right >54.4
  </td>
  <td  >6.9 </td>
 </tr>
 <tr  >
  <td   >2-5</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1207.8 </td>
  <td  >714.8 </td>
  <td  align=right >1208.7
  </td>
  <td  >2.582 </td>
  <td  >8.69 </td>
  <td  >2.99</td>
  <td  >0.2 </td>
  <td  >2.445 </td>
  <td  >5.3 </td>
  <td  align=right >12.3
  </td>
  <td  align=right >56.8
  </td>
  <td  >7.0 </td>
 </tr>
 <tr  >
  <td   >2-6</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1208.7 </td>
  <td  >712.2 </td>
  <td  align=right >1209.5
  </td>
  <td  >2.582 </td>
  <td  >9.39 </td>
  <td  >3.99</td>
  <td  >0.2 </td>
  <td  >2.431 </td>
  <td  >5.9 </td>
  <td  align=right >12.8
  </td>
  <td  align=right >54.1
  </td>
  <td  >6.9 </td>
 </tr>
 <tr  >
  <td   >3-1</td>
  <td rowspan=6  >4.5 </td>
  <td rowspan=6  >4.3 </td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.2 </td>
  <td  >713.2 </td>
  <td  align=right >1209.9
  </td>
  <td  >2.585 </td>
  <td  >8.96 </td>
  <td rowspan=6  >9.68</td>
  <td  >2.67</td>
  <td rowspan=6  >3.33 </td>
  <td  >0.1 </td>
  <td rowspan=6  >0.1 </td>
  <td  >2.434 </td>
  <td rowspan=6  >2.438 </td>
  <td  >5.8 </td>
  <td rowspan=6  >5.7 </td>
  <td  align=right >13.9
  </td>
  <td rowspan=6  >13.8 </td>
  <td  align=right >58.1
  </td>
  <td rowspan=6  >58.6 </td>
  <td  >8.1 </td>
  <td rowspan=6  >8.1 </td>
  <td rowspan=6  >3.897 </td>
 </tr>
 <tr  >
  <td   >3-2</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.8 </td>
  <td  >715.9 </td>
  <td  align=right >1211.5
  </td>
  <td  >2.585 </td>
  <td  >9.63 </td>
  <td  >3.69</td>
  <td  >0.1 </td>
  <td  >2.443 </td>
  <td  >5.5 </td>
  <td  align=right >13.6
  </td>
  <td  align=right >59.6
  </td>
  <td  >8.1 </td>
 </tr>
 <tr  >
  <td   >3-3</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.2 </td>
  <td  >714.9 </td>
  <td  align=right >1210.7
  </td>
  <td  >2.585 </td>
  <td  >11.56 </td>
  <td  >2.97</td>
  <td  >0.1 </td>
  <td  >2.441 </td>
  <td  >5.6 </td>
  <td  align=right >13.7
  </td>
  <td  align=right >59.2
  </td>
  <td  >8.1 </td>
 </tr>
 <tr  >
  <td   >3-4</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.5 </td>
  <td  >713.0 </td>
  <td  align=right >1210.3
  </td>
  <td  >2.585 </td>
  <td  >9.85 </td>
  <td  >3.69</td>
  <td  >0.2 </td>
  <td  >2.432 </td>
  <td  >5.9 </td>
  <td  align=right >14.0
  </td>
  <td  align=right >57.7
  </td>
  <td  >8.1 </td>
 </tr>
 <tr  >
  <td   >3-5</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1207.8 </td>
  <td  >714.8 </td>
  <td  align=right >1208.7
  </td>
  <td  >2.585 </td>
  <td  >8.69 </td>
  <td  >2.99</td>
  <td  >0.2 </td>
  <td  >2.445 </td>
  <td  >5.4 </td>
  <td  align=right >13.5
  </td>
  <td  align=right >60.0
  </td>
  <td  >8.1 </td>
 </tr>
 <tr  >
  <td   >3-6</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1208.7 </td>
  <td  >712.2 </td>
  <td  align=right >1209.5
  </td>
  <td  >2.585 </td>
  <td  >9.39 </td>
  <td  >3.99</td>
  <td  >0.2 </td>
  <td  >2.431 </td>
  <td  >6.0 </td>
  <td  align=right >14.0
  </td>
  <td  align=right >57.4
  </td>
  <td  >8.0 </td>
 </tr>
 <tr  >
  <td   >4-1</td>
  <td rowspan=6  >5.0 </td>
  <td rowspan=6  >4.8 </td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.2 </td>
  <td  >713.2 </td>
  <td  align=right >1209.9
  </td>
  <td  >2.581 </td>
  <td  >8.96 </td>
  <td rowspan=6  >9.68</td>
  <td  >2.67</td>
  <td rowspan=6  >3.33 </td>
  <td  >0.1 </td>
  <td rowspan=6  >0.1 </td>
  <td  >2.434 </td>
  <td rowspan=6  >2.438 </td>
  <td  >5.7 </td>
  <td rowspan=6  >5.5 </td>
  <td  align=right >14.9
  </td>
  <td rowspan=6  >14.8 </td>
  <td  align=right >61.8
  </td>
  <td rowspan=6  >62.4 </td>
  <td  >9.2 </td>
  <td rowspan=6  >9.2 </td>
  <td rowspan=6  >4.354 </td>
 </tr>
 <tr  >
  <td   >4-2</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.8 </td>
  <td  >715.9 </td>
  <td  align=right >1211.5
  </td>
  <td  >2.581 </td>
  <td  >9.63 </td>
  <td  >3.69</td>
  <td  >0.1 </td>
  <td  >2.443 </td>
  <td  >5.3 </td>
  <td  align=right >14.6
  </td>
  <td  align=right >63.3
  </td>
  <td  >9.2 </td>
 </tr>
 <tr  >
  <td   >4-3</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.2 </td>
  <td  >714.9 </td>
  <td  align=right >1210.7
  </td>
  <td  >2.581 </td>
  <td  >11.56 </td>
  <td  >2.97</td>
  <td  >0.1 </td>
  <td  >2.441 </td>
  <td  >5.4 </td>
  <td  align=right >14.6
  </td>
  <td  align=right >62.9
  </td>
  <td  >9.2 </td>
 </tr>
 <tr  >
  <td   >4-4</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.5 </td>
  <td  >713.0 </td>
  <td  align=right >1210.3
  </td>
  <td  >2.581 </td>
  <td  >9.85 </td>
  <td  >3.69</td>
  <td  >0.2 </td>
  <td  >2.432 </td>
  <td  >5.8 </td>
  <td  align=right >15.0
  </td>
  <td  align=right >61.4
  </td>
  <td  >9.2 </td>
 </tr>
 <tr  >
  <td   >4-5</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1207.8 </td>
  <td  >714.8 </td>
  <td  align=right >1208.7
  </td>
  <td  >2.581 </td>
  <td  >8.69 </td>
  <td  >2.99</td>
  <td  >0.2 </td>
  <td  >2.445 </td>
  <td  >5.3 </td>
  <td  align=right >14.5
  </td>
  <td  align=right >63.7
  </td>
  <td  >9.2 </td>
 </tr>
 <tr  >
  <td   >4-6</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1208.7 </td>
  <td  >712.2 </td>
  <td  align=right >1209.5
  </td>
  <td  >2.581 </td>
  <td  >9.39 </td>
  <td  >3.99</td>
  <td  >0.2 </td>
  <td  >2.431 </td>
  <td  >5.8 </td>
  <td  align=right >15.0
  </td>
  <td  align=right >61.2
  </td>
  <td  >9.2 </td>
 </tr>
 <tr  >
  <td   >5-1</td>
  <td rowspan=6  >5.5 </td>
  <td rowspan=6  >5.2 </td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.2 </td>
  <td  >713.2 </td>
  <td  align=right >1209.9
  </td>
  <td  >2.580 </td>
  <td  >8.96 </td>
  <td rowspan=6  >9.68</td>
  <td  >2.67</td>
  <td rowspan=6  >3.33 </td>
  <td  >0.1 </td>
  <td rowspan=6  >0.1 </td>
  <td  >2.434 </td>
  <td rowspan=6  >2.438 </td>
  <td  >5.6 </td>
  <td rowspan=6  >5.5 </td>
  <td  align=right >16.0
  </td>
  <td rowspan=6  >15.8 </td>
  <td  align=right >64.6
  </td>
  <td rowspan=6  >65.2 </td>
  <td  >10.3 </td>
  <td rowspan=6  >10.3 </td>
  <td rowspan=6  >4.808 </td>
 </tr>
 <tr  >
  <td   >5-2</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.8 </td>
  <td  >715.9 </td>
  <td  align=right >1211.5
  </td>
  <td  >2.580 </td>
  <td  >9.63 </td>
  <td  >3.69</td>
  <td  >0.1 </td>
  <td  >2.443 </td>
  <td  >5.3 </td>
  <td  align=right >15.7
  </td>
  <td  align=right >66.1
  </td>
  <td  >10.3 </td>
 </tr>
 <tr  >
  <td   >5-3</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1210.2 </td>
  <td  >714.9 </td>
  <td  align=right >1210.7
  </td>
  <td  >2.580 </td>
  <td  >11.56 </td>
  <td  >2.97</td>
  <td  >0.1 </td>
  <td  >2.441 </td>
  <td  >5.4 </td>
  <td  align=right >15.7
  </td>
  <td  align=right >65.7
  </td>
  <td  >10.3 </td>
 </tr>
 <tr  >
  <td   >5-4</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1209.5 </td>
  <td  >713.0 </td>
  <td  align=right >1210.3
  </td>
  <td  >2.580 </td>
  <td  >9.85 </td>
  <td  >3.69</td>
  <td  >0.2 </td>
  <td  >2.432 </td>
  <td  >5.7 </td>
  <td  align=right >16.0
  </td>
  <td  align=right >64.2
  </td>
  <td  >10.3 </td>
 </tr>
 <tr  >
  <td   >5-5</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1207.8 </td>
  <td  >714.8 </td>
  <td  align=right >1208.7
  </td>
  <td  >2.580 </td>
  <td  >8.69 </td>
  <td  >2.99</td>
  <td  >0.2 </td>
  <td  >2.445 </td>
  <td  >5.2 </td>
  <td  align=right >15.6
  </td>
  <td  align=right >66.5
  </td>
  <td  >10.4 </td>
 </tr>
 <tr  >
  <td   >5-6</td>
  <td  >63.9</td>
  <td  >63.7</td>
  <td  >64.2</td>
  <td  >63.5</td>
  <td  >63.8 </td>
  <td  >1208.7 </td>
  <td  >712.2 </td>
  <td  align=right >1209.5
  </td>
  <td  >2.580 </td>
  <td  >9.39 </td>
  <td  >3.99</td>
  <td  >0.2 </td>
  <td  >2.431 </td>
  <td  >5.8 </td>
  <td  align=right >16.1
  </td>
  <td  align=right >64.0
  </td>
  <td  >10.3 </td>
 </tr>
 <tr  >
  <td colspan=29 rowspan=2
  >注：γsb-矿料的合成毛体积相对密度，无量纲；γse-合成矿料的有效相对密度，无量纲；γb-沥青相对密度；Pba-混合料中被集料吸收的沥青比例(%)；Pa-所计算的沥青混合料的油石比，%；Pb-所计算的沥青混合料的沥青用量,%；H-<font
  class="font030247">沥青混合料试件高度（</font><font class="font630247">mm</font><font
  class="font030247">）；ma-干燥试件的空中质量(g)；mw-试件的水中质量（g)；mf-试件的表干质量（g）；γ</font><font
  class="font630247">t-</font><font class="font030247">沥青混合料理论最大相对密度，计算或实测得到，无量纲；</font><font
  class="font630247">MS-</font><font class="font030247">试件的稳定度（</font><font
  class="font630247">kN)</font><font class="font030247">；</font><font
  class="font630247">FL-</font><font class="font030247">试件的流值（</font><font
  class="font630247">mm</font><font class="font030247">）；</font><font
  class="font630247">Sa-</font><font class="font030247">试件的吸水率（</font><font
  class="font630247">%</font><font class="font030247">）；γf-试件毛体积相对密度，无量纲；VV-沥青混合料的空隙率（%）；</font><font
  class="font630247">Vbe-</font><font class="font030247">沥青混合料试件的有效沥青体积百分率（</font><font
  class="font630247">%</font><font class="font030247">）；VMA-沥青混合料试件的矿料间隙率（%）；VFA-沥青混合料试件的有效沥青饱和度（%）。</font></td>
 </tr>
 <tr  >
 </tr>
