




 <tr  >
  <td colspan=15    >表5 计算OAC与对应体积指标</td>
 </tr>
 <tr  >
  <td colspan=7   >OAC=(OAC1+OAC2)/2=</td>
  <td colspan=8  >#REF!</td>
 </tr>
 <tr  >
  <td colspan=15   >OAC对应的各技术指标值及技术要求</td>
 </tr>
 <tr  >
  <td colspan=3   >技术指标</td>
  <td colspan=2  >γf</td>
  <td colspan=2  >MS</td>
  <td colspan=2  >VV</td>
  <td colspan=2  >FL</td>
  <td colspan=2  >VMA</td>
  <td colspan=2  >VFA</td>
 </tr>
 <tr  >
  <td colspan=3   >规范要求</td>
  <td colspan=2  >/</td>
  <td colspan=2  >&gt;8</td>
  <td colspan=2  >3—6</td>
  <td colspan=2  >2—4</td>
  <td colspan=2  >10—14</td>
  <td colspan=2  >55—70</td>
 </tr>
 <tr  >
  <td colspan=3   >设计要求</td>
  <td colspan=2  >/</td>
  <td colspan=2  >&gt;8</td>
  <td colspan=2  >4.5</td>
  <td colspan=2  >2—4</td>
  <td colspan=2  >＞12.5</td>
  <td colspan=2  >饱和度范围中值</td>
 </tr>
 <tr  >
  <td colspan=3   >试验结果</td>
  <td colspan=2  >(以oac为x在曲线中取y值)</td>
  <td colspan=2  >　</td>
  <td colspan=2  >　</td>
  <td colspan=2  >　</td>
  <td colspan=2  >　</td>
  <td colspan=2  >　</td>
 </tr>
 <tr  >
  <td colspan=3   >结论</td>
  <td colspan=12  >OAC满足/不满足相关技术要求</td>
 </tr>
 <tr  >
  <td colspan=3   >注：</td>
  <td colspan=12   >OAC-最佳油石比；γf-试件毛体积相对密度，无量纲；MS-试件的稳定度（kN)；VV-沥青混合料的空隙率（%）；FL-试件的流值（mm）；VMA-沥青混合料试件的矿料间隙率（%）；VFA-沥青混合料试件的有效沥青饱和度（%）；</td>
 </tr>
 <tr  >
  <td colspan=3 rowspan=2   >备注：</td>
  <td colspan=12 rowspan=2  >　</td>
 </tr>
 <tr  >
 </tr>
 <tr  >
  <td colspan=3   >试验人与记录人</td>
  <td colspan=3  >　</td>
  <td colspan=2  >日期</td>
  <td colspan=2  >　</td>
  <td  >备注</td>
  <td colspan=4  >　</td>
 </tr>
 <tr  >
  <td colspan=3   >审核人</td>
  <td colspan=3  >　</td>
  <td colspan=2  >日期</td>
  <td colspan=2  >　</td>
  <td  >备注</td>
  <td colspan=4  >　</td>
 </tr>
 <tr  >
  <td colspan=3   >批准人</td>
  <td colspan=3  >　</td>
  <td colspan=2  >日期</td>
  <td colspan=2  >　</td>
  <td  >备注</td>
  <td colspan=4  >　</td>
 </tr>
