




 <tr  >
  <td colspan=5    >表2</td>
  <td colspan=6   >京新高速公路工程沥青混合料马歇尔配合比设计（一）</td>
  <td colspan=7   >汇总表</td>
 </tr>
 <tr  >
  <td   >Pa</td>
  <td colspan=2  >γf</td>
  <td colspan=2  >MS</td>
  <td colspan=2  >VV</td>
  <td colspan=2  >FL</td>
  <td colspan=2  >VMA</td>
  <td colspan=2  >VFA</td>
  <td  >Sa</td>
  <td colspan=2  >Vbe</td>
  <td  >Pbe</td>
  <td  >γt</td>
 </tr>
 <tr  >
  <td   >3.5 </td>
  <td colspan=2  >2.438 </td>
  <td colspan=2  >9.68 </td>
  <td colspan=2  >5.5 </td>
  <td colspan=2  >3.3 </td>
  <td colspan=2  >12.8 </td>
  <td colspan=2  >56.8 </td>
  <td  >0.1 </td>
  <td colspan=2  >7.3 </td>
  <td  align=right >2.968 </td>
  <td  align=right >2.580
  </td>
 </tr>
 <tr  >
  <td   >4.0 </td>
  <td colspan=2  >2.438 </td>
  <td colspan=2  >9.68 </td>
  <td colspan=2  >5.6 </td>
  <td colspan=2  >3.3 </td>
  <td colspan=2  >12.5 </td>
  <td colspan=2  >55.4 </td>
  <td  >0.1 </td>
  <td colspan=2  >6.9 </td>
  <td  align=right >3.435 </td>
  <td  align=right >2.582
  </td>
 </tr>
 <tr  >
  <td   >4.5 </td>
  <td colspan=2  >2.438 </td>
  <td colspan=2  >9.68 </td>
  <td colspan=2  >5.7 </td>
  <td colspan=2  >3.3 </td>
  <td colspan=2  >13.8 </td>
  <td colspan=2  >58.6 </td>
  <td  >0.1 </td>
  <td colspan=2  >8.1 </td>
  <td  align=right >3.897 </td>
  <td  align=right >2.585
  </td>
 </tr>
 <tr  >
  <td   >5.0 </td>
  <td colspan=2  >2.438 </td>
  <td colspan=2  >9.68 </td>
  <td colspan=2  >5.5 </td>
  <td colspan=2  >3.3 </td>
  <td colspan=2  >14.8 </td>
  <td colspan=2  >62.4 </td>
  <td  >0.1 </td>
  <td colspan=2  >9.2 </td>
  <td  align=right >4.354 </td>
  <td  align=right >2.581
  </td>
 </tr>
 <tr  >
  <td   >5.5 </td>
  <td colspan=2  >2.438 </td>
  <td colspan=2  >9.68 </td>
  <td colspan=2  >5.5 </td>
  <td colspan=2  >3.3 </td>
  <td colspan=2  >15.8 </td>
  <td colspan=2  >65.2 </td>
  <td  >0.1 </td>
  <td colspan=2  >10.3 </td>
  <td  align=right >4.808 </td>
  <td  align=right >2.580
  </td>
 </tr>
 <tr  >
  <td   >规范要求</td>
  <td colspan=2  >/</td>
  <td colspan=2  >&gt;<font
  class="font01938">8</font></td>
  <td colspan=2  >3—6</td>
  <td colspan=2  >2—4</td>
  <td colspan=2  >10—14</td>
  <td colspan=2  >55—70</td>
  <td  >≤2</td>
  <td colspan=2  >/</td>
  <td  >/</td>
  <td  >/</td>
 </tr>
 <tr  >
  <td   >设计要求</td>
  <td colspan=2  >/</td>
  <td colspan=2  >&gt;<font
  class="font01938">8</font></td>
  <td colspan=2  >4.5</td>
  <td colspan=2  >2—4</td>
  <td colspan=2  >＞1<font
  class="font61938">2.5</font></td>
  <td  >饱和度范围中值</td>
  <td  align=right >62.5</td>
  <td  >　</td>
  <td colspan=2  >　</td>
  <td  >　</td>
  <td  >　</td>
 </tr>
 <tr  >
  <td colspan=18    >注：Pa-所计算的沥青混合料的油石比，%；γf-试件毛体积相对密度，无量纲；MS-试件的稳定度（kN)；VV-沥青混合料的空隙率（%）；FL-试件的流值（mm）；VMA-沥青混合料试件的矿料间隙率（%）；VFA-沥青混合料试件的有效沥青饱和度（%）；Vbe-沥青混合料试件的有效沥青体积百分率（%）；Sa-试件的吸水率（%）；Vbe-有效沥青的体积百分率（%）；Pba-混合料中被集料吸收的沥青比例(%)；Pbe-有效沥青含量（%）；γt-沥青混合料理论最大相对密度，计算或实测得到，无量纲；</td>
 </tr>
