




 <col  span=2 >
 <tr  >
  <td colspan=20    >表3 OAC1计算</td>
 </tr>
 <tr  >
  <td colspan=4   >指标</td>
  <td colspan=3  >对应值</td>
  <td colspan=6  >对应油石比</td>
  <td colspan=3 rowspan=5  >OAC1<font class="font93054">-1</font><font
  class="font63054">=(a1+a2+a3+a4)/4=</font></td>
  <td colspan=4 rowspan=5  >4.45</td>
 </tr>
 <tr  >
  <td colspan=4   >毛体积相对密度最大值</td>
  <td colspan=3  >2.40 </td>
  <td colspan=3  >a1</td>
  <td colspan=3  >5.50 </td>
 </tr>
 <tr  >
  <td colspan=4   >稳定度最大值</td>
  <td colspan=3  >11.00 </td>
  <td colspan=3  >a2</td>
  <td colspan=3  >4.00 </td>
 </tr>
 <tr  >
  <td colspan=4   >目标空隙率（或中值）</td>
  <td colspan=3  >4.00 </td>
  <td colspan=3  >a3</td>
  <td colspan=3  >4.10 </td>
 </tr>
 <tr  >
  <td colspan=4   >沥青饱和度的范围中值</td>
  <td colspan=3  >60.00 </td>
  <td colspan=3  >a4</td>
  <td colspan=3  >4.20 </td>
 </tr>
 <tr  >
  <td colspan=13   >沥青用量范围未涵盖沥青饱和度的要求范围</td>
  <td colspan=3  >OAC1<font class="font93054">-2</font><font class="font63054">=(a1+a2+a3)/3=</font></td>
  <td colspan=4  >4.53 </td>
 </tr>
 <tr  >
  <td colspan=13   >密度或稳定度没有出现峰值（最大值经常在曲线的两端）时</td>
  <td colspan=3  >OAC1<font class="font93054">-3</font><font class="font63054">=a3=</font></td>
  <td colspan=4  >4.10 </td>
 </tr>
