<template>
    <div class="module news">
        <div class="module_tlt">
            {{categoryName}}
            <a @click="toNewsList(categoryName)" class="module_tlt_more">更多 ></a>
        </div>
        <ul class="four_news_bg" v-loading="dataListLoading">
            <li v-for="news in categoryList"
                style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                <el-tooltip effect="light" :content="news.title" placement="bottom-start"
                            :open-delay="1200"
                            :visible-arrow="false"
                >
                    <a style="cursor:pointer" @click="toNews(news.id)">
                        <span v-if="!news.title">&nbsp;</span>
                        <span v-if="news.title">· </span>{{news.title}}</a>
                </el-tooltip>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
      name: 'category-box',
      props: {
        categoryList: {
          type: Array,
          required: true
        },
        categoryName: {
          type: String,
          required: true
        },
        dataListLoading: {
          type: Boolean,
          required: true
        },
        from: {
          type: String,
          required: false
        }
      },
      methods: {
            // 去往全局 news详情
        toNews (id) {
          if (this.from === 'login') {
            this.$router.push({name: 'news', query: {id: id}})
          } else {
            this.$router.push({name: 'news-noLogin', query: {id: id}})
          }
        },
            // 去往全局 news list
        toNewsList (categoryName) {
          if (this.from === 'login') {
            this.$router.push({name: 'four_news', query: {categoryName: categoryName}})
          } else {
            this.$router.push({name: 'four_news-noLogin', query: {categoryName: categoryName}})
          }
        }
      }
    }
</script>

<style scoped>

</style>
